<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->

    <link rel="stylesheet" href="../resource/css/conditionPublic.css">

    <link rel="stylesheet" href="../YHQ-resource/css/public.css">

    <style>

        #create-Modal label{

            width: 115px;

        }

        #DC-type label{

            width: auto;

        }

        #commentForm .modal-block input~.error{

            color: red;

            width: auto;

            line-height: 30px;

            margin: 0;

            margin-top: 10px;

            display: block;

            text-indent: 124px;

        }

        #commentForm .modal-block select~.error {
            color: red;
            width: auto;
            line-height: 30px;
            margin: 0;
            margin-top: 10px;
            display: block;
            text-indent: 124px;
        }

        #commentForm .modal-block textarea~.error {
            color: red;
            width: auto;
            line-height: 30px;
            margin: 0;
            margin-top: 10px;
            display: block;
            text-indent: 124px;
        }

        #commentForm .modal-block .time-tool-block input~.error {
            color: red;
            line-height: 30px;
            text-indent: 0px;
            position: absolute;
            top: 33px;
            width: 100%;
        }

        #selectedDep li{

            line-height: 30px;

            cursor: pointer;

        }

        #selectedDep li .close{

            margin-top: 7px;

        }

        #selectedDep li .depName{

            margin-right: 10px;

        }

        #selectedDep li .depNum{

            margin-right: 10px;

        }

        .radioBlock label{

            width: 60px !important;

        }

    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div id="compareBusy">
                        <div class="total-warp L-container">

                            <ul class="L-condition">
                                <li>
                                    <label>申请编码</label>
                                    <input type="text" class="form-control" id="CA-canumCon">
                                </li>
                                <li>
                                    <label>用车部门编号</label>
                                    <input type="text" class="form-control" id="CA-departCon">
                                </li>
                                <li>
                                    <label>申请开始时间</label>
                                    <div class="time-tool-block">
                                        <div class="input-group date form_date abbrDT">
                                            <input id="CA-startTimeCon" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label>申请结束时间</label>
                                    <div class="time-tool-block">
                                        <div class="input-group date form_date abbrDT">
                                            <input id="CA-endTimeCon" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="L-condition-button" id="selectBtn">查询数据</div>
                                </li>
                                <li>
                                    <div id="resetBtn" class="L-condition-button">重置条件</div>
                                </li>
                            </ul>

                            <div class="row content-top">
                                <div class="col-md-12 col-sm-12">
                                    <table id="table" class="table table-striped table-advance table-hover">
                                        <thead>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!--创建-->
    <div class="modal fade" id="create-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 577px;width: 1000px!important;">
            <div class="modal-content" style="height: 577px;width: 1000px!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="overflow-y: auto;height: 440px;">

                    <form class="cmxform" id="commentForm" method="post" action="">

                        <ul class="modal-block">
                            <li>
                                <label>申请人工号：</label>
                                <input type="text" class="table-group-action-input form-control userNum-block" id="CA-applyNum" name="CA-applyNum" placeholder="" readonly>
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label> 申请人姓名：</label>
                                <input type="text" class="table-group-action-input form-control userName-block" id="CA-applyName" name="CA-applyName" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>申请人电话：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-applyTel" name="CA-applyTel" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>申请部门：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-applyDepart" name="CA-applyDepart" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>出发地：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-departure" name="CA-departure" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>目的地：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-destination" name="CA-destination" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>预计出发时间：</label>
                                <div class="time-tool-block">
                                    <div class="input-group date form_date abbrDT">
                                        <input id="CA-leave-time" name="CA-leave-time" class="form-control" size="16" type="text" value="" placeholder="格式:YYYY-MM-DD HH:mm"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-select"></div>
                                <div class="time-seat" style="display: none;"></div>
                            </li>
                            <li>
                                <label>预计回场时间：</label>
                                <div class="time-tool-block">
                                    <div class="input-group date form_date abbrDT">
                                        <input id="CA-back-time" name="CA-back-time" class="form-control" size="16" type="text" value="" placeholder="格式:YYYY-MM-DD HH:mm"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-select"></div>
                                <div class="time-seat" style="display: none;"></div>
                            </li>
                            <li>
                                <label>预计公里数：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-km" name="CA-km" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>乘车人数：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-personNum" name="CA-personNum" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>负责人工号：</label>
                                <input type="text" class="table-group-action-input form-control userNum-block" id="CA-personChangeNum" name="CA-personChangeNum" placeholder="" readonly>
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>负责人姓名：</label>
                                <input type="text" class="table-group-action-input form-control userName-block" id="CA-personChange" name="CA-personChange" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>负责人电话：</label>
                                <input type="text" class="table-group-action-input form-control" id="CA-personChangeTel" name="CA-personChangeTel" placeholder="">
                                <div class="modal-select"></div>
                            </li>
                            <li class="text-block" style="width: 800px;">
                                <label>申请理由：</label>
                                <textarea style="width: 678px;height: 34px;outline: none" class="form-control remarkDes" id="CA-remark" name="CA-remark"></textarea>
                                <div class="modal-select"></div>
                            </li>

                            <!--派车-->

                            <div class="send-block acceptance-block">

                                <li>
                                    <label>选择司机：</label>
                                    <input type="text" class="table-group-action-input form-control userNum-block" id="CA-driver" name="CA-driver" placeholder="" readonly>
                                    <div class="modal-select modal-select-show driverButtonSelect"></div>
                                </li>

                                <li>
                                    <label>司机工号：</label>
                                    <input type="text" class="table-group-action-input form-control userNum-block" id="CA-driverNum" name="CA-driverNum" placeholder="" readonly>
                                    <div class="modal-select"></div>
                                </li>

                                <li>
                                    <label>选择汽车：</label>
                                    <input type="text" class="table-group-action-input form-control userNum-block" id="CA-car" name="CA-car" placeholder="" readonly>
                                    <div class="modal-select modal-select-show carButtonSelect"></div>
                                </li>
                            </div>
                            <li class="text-block" style="width: 800px;">
                                <label>备注：</label>
                                <textarea style="width: 678px;height: 34px;outline: none" class="form-control remarkDes" id="CA-acceptanceRemark" name="CA-acceptanceRemark"></textarea>
                                <div class="modal-select"></div>
                            </li>

                        </ul>

                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm" type="submit" value="Submit">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--司机列表-->
    <div class="modal fade" id="driver-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 685px;width: 800px;">
            <div class="modal-content" style="height: 685px;width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 563px;overflow-y: auto">
                    <!--表格-->
                    <table id="driver-table" class="table table-striped table-advance table-hover" cellspacing="0" width="100%">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--车辆列表-->
    <div class="modal fade" id="car-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 685px;width: 800px;">
            <div class="modal-content" style="height: 685px;width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 563px;overflow-y: auto">
                    <!--表格-->
                    <table id="car-table" class="table table-striped table-advance table-hover" cellspacing="0" width="100%">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--提示框-->
    <div class="modal fade" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">提示</h4>
                </div>
                <div class="modal-body">请填写红色必填项</div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->

<script src="../resource/validation/jquery.validate.min.js"></script>

<script src="../resource/validation/messages_zh.min.js"></script>

<script src="../YHQ-resource/js/public.js"></script>

<script src="../YHQ-resource/js/YHQ-CA/CAapplyAcceptance.js"></script>

<!--表单格式验证-->
<script src="../resource/js/validateFormat.js"></script>


<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>