<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->

    <link rel="stylesheet" href="../resource/css/conditionPublic.css">

    <link rel="stylesheet" href="../YHQ-resource/css/public.css">

</head>
<!-- END HEAD -->

<body style="background: #ffffff !important">

<div class="gd-wrap">
    <div class="gd-title">
        <h1>派车详情</h1>
    </div>
    <div class="gongdanContent">
        <!--左边详情-->
        <div style="float: left">
            <!--<div class="tipe-block">工单基本信息</div>-->
            <div id="gdDetail">
                <!--申请单详情-->
                <div class="details-cell">
                    <div class="tipe-block"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">申请状态：</div>
                            <div class="single-block">
                                <input type="text" id="CA-status" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels "> 申请人工号：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-applyNum">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">申请人姓名：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-applyName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">申请人电话：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-applyTel">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">申请部门：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-applyDepart">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">出发地：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-departure">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">目的地：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-destination">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">预计出发时间：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-leave-time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">预计回场时间：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-back-time">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">预计公里数：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-km">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">乘车人数：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-personNum">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">负责人工号：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-personChangeNum">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">负责人姓名：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-personChange">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">负责人电话：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-personChangeTel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels">申请理由：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-remark">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">备注：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-acceptanceRemark">
                            </div>
                        </div>
                    </div>
                </div>

                <!--受理-->
                <div class="details-cell acceptance-block">
                    <div class="tipe-block"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">司机姓名：</div>
                            <div class="single-block">
                                <input type="text" id="CA-driver" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels "> 司机工号：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-driverNum">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">车牌号：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-car">
                            </div>
                        </div>

                    </div>
                </div>

                <!--回场之后-->
                <div class="details-cell back-block">
                    <div class="tipe-block"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">实际出发时间：</div>
                            <div class="single-block">
                                <input type="text" id="CA-leave-time-real" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels "> 实际回场时间：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-back-time-real">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">实际出发地：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-departure-real">
                            </div>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 single-line">-->
                            <!--<div class="single-labels ">实际目的地：</div>-->
                            <!--<div class="single-block">-->
                                <!--<input class="form-control" id="CA-destination-real">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">开始里程表读数：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-start-km-real">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">结束里程表读数：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-end-km-real">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 single-line">
                            <div class="single-labels ">实际公里数：</div>
                            <div class="single-block">
                                <input class="form-control" id="CA-km-real">
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>
        <!--右边log日志-->
        <div style="float: right">

            <div class="details-cell">
                <div class="tipe-block">日志</div>
                <ul class="MW-log"></ul>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--提示框-->
<div class="modal fade" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 168px;">
        <div class="modal-content" style="height: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">提示</h4>
            </div>
            <div class="modal-body">请填写红色必填项</div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- END FOOTER -->
<script>

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->
<script src="../YHQ-resource/js/public.js"></script>
<script src="../YHQ-resource/js/YHQ-CA/CADetails.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>