<!DOCTYPE html>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>

    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/warningAlarm-2.css">
    <link href="../bank-branch-resource/css/baojingxinxi/warningAlarm.css" rel="stylesheet" type="text/css"/>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap">
                            <!-- 标题 -->
                            <!-- 左边选择区域 -->
                            <div class="content-main-left col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <div class="content-main" style="display: none">
                                    <div class="main-left-middle" >
                                        <div class="left-middle-header">范围选择</div>
                                        <div class="left-middle-main">
                                            <div class="left-middle-input">
                                                <div class="left-middle-tab">区域位置</div>
                                            </div>
                                            <div class="tree-1 tree-3"id="tree-2">
                                                <ul class="allPointer ztree" id="allPointer"></ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="content-main" style="height:360px">
                                    <div class="left-middle-header">条件选择</div>
                                    <div class="tree-11" style="display: none;">
                                        <div>报警类型</div>
                                        <ul class="typeSelection ztree" id="typeSelection">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tree-11" style="width:100%">
                                        <div>能耗种类</div>
                                        <ul class="energyTypes ztree" id="energyTypes" style="height:220px">
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="content-main" style="height:300px">
                                    <div class="select-times">
                                        <div class="left-middle-header">时段选择</div>
                                        <div class="left-middle-select">
                                            <select class="types">
                                                <option value ="日">按日</option>
                                                <option value="周">按周</option>
                                                <option value="月">按月</option>
                                                <option value="年">按年</option>
                                            </select>
                                        </div>
                                        <div id='wrapper'>
                                            <div class="left-middle-input" style="width: 190px;">
                                                <div class="datetimepickereType"></div>
                                                <div class="datetimeInput">
                                                    <input type="text" id="datetimepicker">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="buttons">
                                                <button class="btns btn btn-success">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="content-main-contents content-main-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <ul class="content-main-contents-header">
                                    <li class="main-contents-header-lists0">用能报警</li>
                                </ul>
                                <!-- 表格 -->
                                <div class="content-main-contents">
                                    <div class="main-contents-table">
                                        <table id="datatables" class="table table-striped b-t b-light" cellspacing="0" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <img src="../resource/img/loading.gif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <button class="btn btn-success logoToRead" style="float: right">标识阅读</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>
<!--非框架中样式-->
<script src="../bank-branch-resource/js/common.js"></script>
<script src="../bank-branch-resource/js/baojingxinxi/warningAlarm.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>