<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>定额管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/css/common.css">
    <link rel="stylesheet" href="../new-resource/css/jienengzuji/energyConservation.css">

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div id="head-html"> </div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container">

                            <div class="right-content">
                                <!--<div class="left-middle-header">-->
                                <!--<div class="header-one"></div>-->
                                <!--<div class="header-two"></div>-->
                                <!--<div class="header-three"></div>-->
                                <!--</div>-->
                                <div class="right-top">
                                    <div class="right-header">
                                        <!-- 标题 -->
                                        <li class="choose-time">
                                            <label for="">改造前：</label>
                                            <div class="input-blocked">
                                                <input type="text" class="datatimeblock min" name="min">
                                            </div>
                                            <label for="">到</label>
                                            <div class="input-blocked">
                                                <input type="text" class="datatimeblock max" name="max">
                                            </div>
                                        </li>

                                        <li class="choose-time">
                                            <label for="">改造后：</label>
                                            <div class="input-blocked" style="background: #eee">
                                                <input type="text" class="datatimeblock min1" name="min1" readonly="readonly" disabled="disabled" style="background: #eee !important;">
                                            </div>
                                            <label for="">到</label>
                                            <div class="input-blocked" style="background: #eee">
                                                <input type="text" class="datatimeblock max1" name="max1"  readonly="readonly" disabled="disabled" style="background: #eee !important;">
                                            </div>
                                        </li>

                                        <li class="choose-time"><button class="btn btn-success btn1" id="selected">查询</button></li>
                                        <!-- 标题右边 -->
                                        <ul class="right-header-right">
                                            <!-- 单位 -->

                                        </ul>
                                    </div>
                                </div>

                                <!--上方有关信息-->
                                <div class="top-message row">

                                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">

                                        <p class="improve-name">改造名称：<span></span></p>
                                        <p class="improve-content">改造内容：<span>
</span></p>
                                    </div>

                                    <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">

                                        <p class="start-date">开始时间：<span>
</span></p>
                                        <p class="end-date">结束时间：<span>

</span></p>
                                    </div>

                                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">

                                        <p class="belong-building">所属楼宇：<span>
</span></p>
                                        <p class="belong-branch">涉及之路：<span>
</span></p>

                                    </div>
                                </div>

                                <!--右侧数据展示-->
                                <div class="rheader-content-left comparisonOfHistograms" style="width:280px;float: right">
                                    <div class="rheader-content-right">
                                        <div class="rheader-content-rights">
                                            <!-- 累计耗电标题 -->
                                            <span class="total-power-consumption">节能量</span>
                                            <!-- 耗电数值 -->
													<span class="total-power-consumption-value">
														<label id="consumption-value-number"></label>
                                                        <!-- 单位  -->
														<span class="the-cumulative-power-unit"></span>
													</span>

                                                    <span class="compared-with-last-time compared-with-last-time0"><br>
														<b> <font></font> <span class="">kg</span></b> <br />
                                                        CO2排放量
													</span>

                                               <span class="compared-with-last-time1 compared-with-last-time"><br>
														<b><font></font> <span class="">棵</span></b> <br />
                                                        相当于植树
													</span>

                                            <div class="rights-up" style=""></div>

                                            <span class="right-up-precent"></span>


                                            <span class="quota-year">改造前:<br><b></b></span>
                                            <span class="quota-year1">改造后:<br><b></b></span>

                                        </div>


                                    </div>
                                </div>

                                <!--eChart图-->
                                <div class="rheader-content-left " id="rheader-content-16" style="margin-right:300px;">

                                </div>

                                <div class="clearfix"></div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>
<script src="../resource/js/alarm.js"></script>
<script src="../new-resource/js/common.js"></script>
<script src="../new-resource/js/jienengzuji/energyConservation.js"></script>
<!-- END JAVASCRIPTS -->
<!--loading图-->
<div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

    </div>
</div>

</body>
<!-- END BODY -->
</html>