.condition-area{

    width: 300px;

    min-height: 200px;

    float: left;

}

.content-area{

    margin-left: 320px;

    min-height: 200px;

}

.condition-title{

    font-size: 18px;

    color: #2B2B2B;

    margin-bottom: 20px;

}

.condition-title label{

    font-size: 18px;

    color: #2B2B2B;

}

.main-area{

    margin-top: 20px;

}

.allPointer{

    height: 330px;

    overflow: auto;

    border:1px solid #B4BED0;

}

.search-block{

    margin: 10px auto;

    width: 100% !important;

}

.dev-select {
    width: 100%;
    min-height: 100px;
    border: 1px solid #B4BED0;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#emptyAll {
    padding: 2px 8px;
    border: 1px solid #959595;
    background: #ffffff;
    border-radius: 2px !important;
    outline: none;
}

.selected-block {
    float: left;
}

.empty-block{

    float: right;

}

.main-selected-block {

    padding-top: 10px;

}

.main-selected-list {

    display: inline-block;

    min-width: 120px;

    width: 49%;

    line-height: 32px;

    vertical-align: middle;
}

.main-selected-list1 {

    width: 100px;

    display: inline-block;

    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;

    vertical-align: middle;

}

.remove-selected {

    width: 12px;

    height: 12px;

    border: 1px solid #62A8DB;

    border-radius: 50% !important;

    display: inline-block;

    vertical-align: middle;

    line-height: 7px;

    text-align: center;

    color: #62A8DB;

    cursor: pointer;

    margin-left: 5px;
}

.condition-area-list{

    border: 1px solid #DCDCDC;

    margin-bottom: 10px;

    padding: 20px;

}

.form-control{

    width: auto !important;

    display: inline-block !important;

}

.table-condition{

    margin: 10px 0;

}

.condition-table-title{

    font-size: 18px;

    color: #4C4C4C;

    text-indent: 10px;

    line-height: 35px;

}

.condition-table-content{

    text-align: center;

    margin-bottom: 10px;

}

.condition-table-content input{

    margin-left: 5px;

}

.condition-table-content label{

    min-width: 120px !important;

    text-align: right;

}

.condition-table-content span{

    font-size: 14px;

    display: inline-block;

    width: 16px;

    height: 16px;

}

.datetime{

    cursor: pointer;

    width: 120px !important;
    
    background: url("../../resource/img/canlendar.png") no-repeat;

    background-position: 95% center;

    background-size: 26px;

}