<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>历史曲线展示</title>
	<link rel="stylesheet" href="./work_parts/bootstrap-datepicker-master/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./work_parts/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="./work_parts/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css">
	<link rel="stylesheet" href="./work_parts/css/MHisData.css">
	<script src="./work_parts/js/jquery-1.11.2.js"></script>
	<script src="./work_parts/js/moment.js"></script>
	<script src="./work_parts/bootstrap-datepicker-master/js/bootstrap-datepicker.js"></script>
	<script src="./work_parts/js/MHisData.js"></script>
</head>
<body>
	<div class="L-wrap">
		<div class="L-header">
			历史曲线展示
		</div>
		<div class="L-select">
			<span>请选择日期：</span>
			<input type="text" id="datepicker">
			<button type="button" class="btn btn-success">载入数据</button>
			<button type="button" class="btn btn-success">导出数据</button>
		</div>
		<div class="L-content">
			<div class="L-content-header"></div>
			<div class="L-content-contents">
				<div class="L-content-tip">曲线展示</div>
				<div class="L-content-tip">数据展示</div>
				<div class="L-replace"></div>
				<div class="L-content-block">
					<div class="L-content-block-main">
						<div class="L-loadding"></div>
					</div>
					<div class="L-content-block-main">
						<div class="L-loadding"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>