<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../bank-resource/css/common.css"/>
    <link rel="stylesheet" href="../bank-resource/css/yongnengfenxi/dayNightEnergy.css"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp container">
                        <div class="wrap row">
                            <!--上方条件搜索-->
                            <div class="content-main-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul class="condition-query refer-unit-table">



                                    <li>
                                        <label for="">对象：</label>

                                        <select name="" id="obj-type" class=" person-type" >
                                            <option >电</option>
                                            <option >水</option>
                                            <option >气</option>
                                        </select>

                                    </li>

                                    <li>
                                        <label for="">类别：</label>

                                        <select name="" id="energy-type" class="energy-type" >
                                            <option >电</option>
                                            <option >水</option>
                                            <option >气</option>
                                        </select>


                                    </li>

                                    <li>
                                        <label for="">时间：</label>

                                        <select name="" id="post-date" class="datatimeblock person-type" >
                                            <option >上周</option>
                                            <option >本月</option>
                                            <option >上月</option>
                                            <option >本年</option>
                                            <option >上年</option>
                                            <option  class="custom-time">自定义</option>
                                        </select>

                                        <input  class="show-date"/>

                                    </li>

                                    <br />
                                    <br />
                                    <br />
                                    <li style="">
                                        <label for="">昼夜区分：</label>
                                        <span>昼：时</span>
                                        <select name="" id="hour">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08" selected="">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                        <span>分</span>
                                        <select name="" id="minute">
                                            <option value="00">00</option>
                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>
                                        </select>
                                        <span> —— 时</span>
                                        <select name="" id="hours">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18"  selected="">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                        <span>分</span>
                                        <select name="" id="minutes" >
                                            <option value="00">00</option>
                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>
                                        </select>
                                    </li>



                                    <li><button class="top-btn top-refer" style="margin-right:20px">确定</button></li>
                                    <li><button class="top-btn top-default" style="margin-right:20px">取消</button></li>

                                    <div class="clearfix"></div>
                                </ul>
                            </div>

                            <!--下方数据展示-->
                            <div class="content-main-bottom col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--头部数据信息-->
                                <div class="show-header">
                                    <span class="show-title1"> </span>
                                    <span class="show-title2"> 总用单位面积标煤 </span>
                                    <span class="show-title3" style=""> 2017-2-22——2017-3-22</span>
                                    <ul class="show-header-right">
                                        <li class="header-right-lists header-right-lists-1">
                                        </li>
                                        <li class="header-right-lists">单位：<span></span></li>
                                    </ul>
                                </div>

                                <!--主题chart图-->
                                <div class="show-main row" >
                                    <!--左侧chart图-->
                                    <div class="main-data col-lg-12 col-md-12 col-sm-12 col-xs-12" id="energy-demand">

                                    </div>
                                    <!--右侧数据框-->
                                    <div class="L-right col-lg-6 col-md-12 col-sm-12 col-xs-12">

                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <h3>昼夜分析</h3>

                                <div class="show-main row" >
                                    <div class=""></div>
                                    <!--左侧chart图-->
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="main-data col-lg-7 col-md-12 col-sm-12 col-xs-12" id="energy-demand1">

                                        </div>
                                        <!--右侧数据框-->
                                        <div class="content-rightss-one content-rightss-one-1 L-right col-lg-5 col-md-12 col-sm-12 col-xs-12">

                                            <p>工作日夜间用量</p>
                                            <p></p>
                                            <p>工作日白天用量</p>
                                            <span class="proportion1">=</span>

                                            <p class="content-rightss-tip content-rightss-tip1">
                                                <span>值偏高，建议排查!</span>
                                            </p>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="main-data col-lg-7 col-md-12 col-sm-12 col-xs-12" id="energy-demand2">

                                        </div>
                                        <!--右侧数据框-->
                                        <div class="L-right content-rightss-one content-rightss-one-1 col-lg-5 col-md-12 col-sm-12 col-xs-12">

                                            <p>休息日夜间用量</p>
                                            <p></p>
                                            <p>休息日白天用量</p>
                                            <span class="proportion2">=</span>

                                            <p class="content-rightss-tip content-rightss-tip2">
                                                <span>值偏高，建议排查!</span>
                                            </p>


                                        </div>

                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!--自定义时间-->
<div class='modal fade' id='choose-date' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop="static">
    <div class='modal-dialog'style='width:30%;min-width:400px;margin:15% auto'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <div class="add-title" style="font-size:24px;line-height:40px;padding:10px;margin-bottom:20px">自定义时间</div>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-input">
                        <label for="" class="input-label" style="width:95px;">开始日期：</label>

                        <div class="add-input-block">
                            <input type="text" class="add-input chooseDate chooseDates" value="" placeholder="选择时间">
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-input">
                        <label for="" class="input-label" style="width:95px;">结束日期：</label>

                        <div class="add-input-block">
                            <input type="text" class="add-input chooseDate chooseDates" value="" placeholder="选择时间">
                        </div>

                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-primary top-btn'>确定</button>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--自定义弹窗-->
<div class='modal fade' id='my-alert' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:600px;margin:15% auto'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3 style="margin-bottom:18px">提示</h3>
                <p style="font-size:20px"> <b style="color:red"></b> </p>

                <div class='modal-footer' style="border:none">

                    <button type='button' class='btn btn-primary top-btn' data-dismiss='modal'>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--loading图-->
<div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

    </div>
</div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--非框架中Js-->
<script src="../bank-resource/js/common.js"></script>
<script src="../bank-resource/js/yongnengfenxi/dayNightEnergy.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>