<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../bank-resource/css/common.css"/>
    <link rel="stylesheet" href="../bank-resource/css/jienengzuji/EnergyTotal.css"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp container">
                        <div class="wrap row">
                            <!--上方条件搜索-->
                            <div class="content-main-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul class="condition-query refer-unit-table">

                                    <li>
                                        <label for="">能耗：</label>

                                        <select name="" id="energy-type" class="energy-type" >
                                            <option >电</option>
                                            <option >水</option>
                                            <option >气</option>
                                        </select>


                                    </li>

                                    <li>
                                        <label for="">统计时段：</label>


                                        <input class="chooseDate "></input>——<input class="chooseDate "></input>

                                    </li>

                                    <li>
                                        <label for="">基期时段：</label>


                                        <input class="chooseDate "></input>——<input class="chooseDate "></input>

                                    </li>

                                    <li><button class="top-btn top-refer" style="margin-right:20px">确定</button></li>
                                    <li><button class="top-btn top-default" style="margin-right:20px">取消</button></li>

                                    <div class="clearfix"></div>
                                </ul>
                            </div>

                            <!--下方数据展示-->
                            <div class="content-main-bottom col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--头部数据信息-->
                                <div class="show-header" style="height:auto">
                                    <span class="show-title1"> </span>
                                    <span class="show-title2"> </span>
                                    <span class="show-title3" style=""> 2017-2-22——2017-3-22</span>
                                    <ul class="show-header-right">
                                        <li class="header-right-lists header-right-lists-1">
                                        </li>
                                        <li class="header-right-lists">单位：<span></span></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <!--主题chart图-->
                                <div class="show-main row" >

                                    <!--右侧数据框-->
                                    <div class="L-right" style="width:500px;float: right;">
                                        <div class="rheader-content-right" style="width:auto">
                                            <div class="rheader-content-rights">
                                                <!-- 累计耗电标题 -->
                                                <span class="total-power-consumption">累计节省</span>
                                                <!-- 耗电数值 -->
													<span class="total-power-consumption-value">
														<label id="consumption-value-number">0</label>
                                                        <!-- 单位  -->
														<span class="the-cumulative-power-unit"></span>
													</span>
                                                <div class="equalTree">
                                                    <p>累计减少：</p>
                                                    <p>
                                                        <b>0</b>
                                                        <span>t</span>
                                                        <span>CO2排放</span>
                                                    </p>
                                                    <p>
                                                        <b>0</b>
                                                        <span>t</span>
                                                        <span>SO2排放</span>
                                                    </p>
                                                    <p>
                                                        <b>0</b>
                                                        <span>t</span>
                                                        <span>NOx排放</span>
                                                    </p>

                                                    <p class="treeCount">
                                                        等同植树：<b>0</b><span>棵</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--左侧chart图-->
                                    <div class="main-data" style="margin-right:500px" id="energy-demand">

                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="show-main row" >
                                    <div class=""></div>
                                    <!--下方chart图-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="main-data col-lg-12 col-md-12 col-sm-12 col-xs-12" id="energy-demand1">

                                        </div>

                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!--自定义时间-->
<div class='modal fade' id='choose-date' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop="static">
    <div class='modal-dialog'style='width:30%;min-width:400px;margin:15% auto'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <div class="add-title" style="font-size:24px;line-height:40px;padding:10px;margin-bottom:20px">自定义时间</div>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-input">
                        <label for="" class="input-label" style="width:95px;">开始日期：</label>

                        <div class="add-input-block">
                            <input type="text" class="add-input chooseDate chooseDates" value="" placeholder="选择时间">
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-input">
                        <label for="" class="input-label" style="width:95px;">结束日期：</label>

                        <div class="add-input-block">
                            <input type="text" class="add-input chooseDate chooseDates" value="" placeholder="选择时间">
                        </div>

                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-primary top-btn'>确定</button>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--自定义弹窗-->
<div class='modal fade' id='my-alert' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:600px;margin:15% auto'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3 style="margin-bottom:18px">提示</h3>
                <p style="font-size:20px"> <b style="color:red"></b> </p>

                <div class='modal-footer' style="border:none">

                    <button type='button' class='btn btn-primary top-btn' data-dismiss='modal'>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--loading图-->
<div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

    </div>
</div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--非框架中Js-->
<script src="../bank-resource/js/common.js"></script>
<script src="../bank-resource/js/jienengzuji/EnergyTotal.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>