*{
    font-family: 微软雅黑;
    margin: 0;
    padding: 0;
}
.main-content{
    background: #ffffff;
    margin: 0 auto;
    border: 1px solid #869ab3;
}
.content-header{
    height: 40px;
    background: #67809F;
}
.form-content li{
    list-style: none;
    display: block;
    margin-top: 20px;
    color: #333333 !important;
}
.form-content li .labels{
    text-align: right;
    width: 150px;
    float: left;
    line-height: 30px;
    margin-right: 20px;
}
.input-blockeds{
    float: left;
    margin-right: 20px;
}
.input-blockeds input{
    width: 500px;
    border: 1px solid #e5e5e5;
    outline: none;
}
.input-blockeds textarea{
    width: 500px;
    border: 1px solid #e5e5e5;
    outline: none;
}
#editor{
    float: right;
}
#uploader{
    float: left;
    width: 500px;
}
#picker{
    display: inline-block;
}
#picker div:nth-child(2){
    left: 0 !important;
}
#thelist .thumbnail{
    display: inline-block;
    margin-right:10px;
}
#ctlBtn{
    height: 46px;
    display: inline-block;
    vertical-align: top;
}
.radio input{
    margin-left: -10px !important;
}
.input-blockeds select{
    width: 500px;
    border: 1px solid #e5e5e5;
    height: 28px;
    outline: none;
}
.uploadImg{
    opacity:0;
}
#deleted{
    display: inline-block;
    height: 45px;
    vertical-align:top;
}
.colorTip{
    color: red;
    display: none;
}
.mark-block{
    display: inline-block;
}
.mark-float{
    background: #ffffff;
    width: 100%;
    height: 0;
    position: absolute;
    z-index:2;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.error{
    color: red;
    text-indent: 10px;
}
.edui-editor-bottombar{
    display: none;
}
.big-mark{
    background: red;
    width: 500px;
    height: 54px;
    position: absolute;
    z-index: 3;
}