*{
    font-family: 微软雅黑;
    margin: 0;
    padding: 0;
}
.box-block{
    width: 800px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid #e2e2e2;
}
.header h1{
    padding-bottom: 15px;
}
.date{
    color: #999;
    margin-bottom: 20px;
}
.content{
    font-size: 16px;
    text-align: justify;
    line-height: 36px;
    width: 660px;
}
.date span{
    margin-left: 10px;
}
.desc{
    font-family: SimSun,Arial;
    color: #999999;
    font-size: 14px;
    width: 660px;
    margin: 20px 0;
}
.write{
    float: right;
}
.footer{
    margin-top: 20px;
    border-top: 1px solid #e2e2e2;
}

.box-block img{
    max-width: 660px !important;
}