<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>套餐管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--DATEPICKER START-->
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css" />
    <link rel="stylesheet" href="../resource/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <!--DATEPICKER END-->
    <link rel="stylesheet" href="../resource/css/leftBat.css">
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/themes/darkblue.css" id="style_color" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!--zTree START-->
    <link rel="stylesheet" href="../resource/zTree_v3-master/css/zTreeStyle/style.css">
    <link rel="stylesheet" href="../resource/zTree_v3-master/css/metroStyle/metroStyle.css">
    <!--zTree END-->
    <!--SHOWLOADING START-->

    <!--DATATABLES-->
    <link rel="stylesheet" href="../resource/TableTools/button/dataTables.tableTools.css">
    <link rel="stylesheet" href="../resource/TableTools/button/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../resource/TableTools/button/buttons.dataTables.min.css">
    <link rel="stylesheet" href="../resource/TableTools/button/dataTables.bootstrap.css">

    <!--myStyle-->
    <link rel="stylesheet" href="css/public.css">
    <!--SHOWLOADING END-->
    <style type="text/css">
        a {
            text-decoration: none !important;
        }

        .page-content {
            background: #ffffff !important;
        }

        .areaBottom {
            border-bottom: 1px solid #E2E9F2 !important;
        }

        .portlet {
            margin-bottom: 0px;
            padding: 12px 15px;
        }

            .portlet.light > .portlet-title > .caption {
                padding: 10px;
                background: #ffc000;
                color: #ffffff;
            }

        body {
            min-width: 1555px;
        }

        .modal-block li label:first-child{

            width: 130px;

        }

    </style>
    <link href="../favicon.ico" rel="shortcut icon" />
</head>
<body class="page-header-fixed page-quick-sidebar-over-content">
    <table>
        <thead></thead>
        <tbody></tbody>
    </table>
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="">
                    <img src="../../../assets/local/img/hq3-small.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="totalTitle"></div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile">
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a class="logout-page" href="../login.html">
                                    <i class="icon-key"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="theme-panel hidden-xs hidden-sm">
                    <div class="toggler">
                    </div>
                    <div class="toggler-close">
                    </div>
                    <div class="theme-options">

                        <div class="theme-option theme-colors clearfix">
                            <span>
                                配色
                            </span>
                            <ul>
                                <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="默认">
                                </li>
                                <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="蓝黑">
                                </li>
                                <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="蓝色">
                                </li>
                                <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="灰色">
                                </li>
                            </ul>
                        </div>

                        <div class="theme-option">
                            <span>
                                布局
                            </span>
                            <select class="layout-option form-control input-sm">
                                <option value="fluid" selected="selected">平铺</option>
                                <option value="boxed">盒式</option>
                            </select>
                        </div>

                        <div class="theme-option">
                            <span>
                                侧边菜单
                            </span>

                            <select class="sidebar-menu-option form-control input-sm">
                                <option value="accordion" selected="selected">手风琴式</option>
                                <option value="hover">鼠标悬停</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>
                                侧边位置
                            </span>

                            <select class="sidebar-pos-option form-control input-sm">
                                <option value="left" selected="selected">左</option>
                                <option value="right">右</option>
                            </select>

                        </div>
                        <div class="theme-option">
                            <span>
                                底部
                            </span>
                            <select class="page-footer-option form-control input-sm">
                                <option value="fixed">位置固定</option>
                                <option value="default" selected="selected">默认</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3 class="page-title"></h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>

                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="historyBusy">
                            <div class="total-warp">
                                <ul class="ADRS-condition">
                                    <li>
                                        <label>产品类型</label>
                                        <select class="table-group-action-input form-control" id="product-type">
                                            <option value="0">全部</option>
                                            <option value="1">价格型</option>
                                            <option value="2">鼓励型</option>
                                        </select>
                                    </li>
                                    <li>
                                        <label>计价方式</label>
                                        <select class="table-group-action-input form-control" id="valuation-method">
                                            <option value="0">全部</option>
                                            <option value="1">按次每kW</option>
                                            <option value="2">按量每kWh</option>
                                            <option value="3">分时电价</option>
                                        </select>
                                    </li>
                                    <li>
                                        <div class="condition-button" id="selected">查询</div>
                                    </li>
                                    <li>
                                        <div class="condition-button" id="creatUser">创建产品库</div>
                                    </li>
                                </ul>
                                <div id="tip" style="display: none;margin: 10px 0 0 0;" class="Metronic-alerts alert alert-danger fade in"><button type="button" class="close"></button><i class="fa-lg fa fa-warning"></i>  </div>
                                <div>
                                    <table id="table" class="table table-striped  table-advance table-hover" cellspacing="0" width="100%">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2018 &copy; Huaqin.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <!--模态框-->
    <!--创建账户-->
    <div class="modal fade" id="create-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 627px;width: 460px!important;">
            <div class="modal-content" style="height: 627px;width: 460px!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="overflow-y: auto;height: 490px;">

                    <form class="cmxform" id="commentForm" method="post" action="">

                        <ul class="modal-block">
                            <li>
                                <label>产品名称：</label>
                                <input type="text" class="table-group-action-input form-control" id="product-name" name="product-name" placeholder="产品名称是必填字段">
                            </li>
                            <br>
                            <li>
                                <label>产品类型：</label>
                                <select class="table-group-action-input form-control" id="product-types" >
                                    <option value="1">价格型</option>
                                    <option value="2">鼓励型</option>
                                </select>

                            </li>
                            <br>
                            <li>
                                <label>计价方式：</label>
                                <select class="table-group-action-input form-control" id="valuation-methods">
                                    <option value="1">按次每kW</option>
                                    <option value="2">按量每kWh</option>
                                    <option value="3">分时电价</option>
                                </select>
                            </li>
                            <br>
                            <li>
                                <label>补贴价格：</label>
                                <input type="text" class="table-group-action-input form-control" id="subsidized-price" name="subsidized-price" placeholder="补贴方式是必填字段">
                            </li>
                            <br>
                            <li>
                                <label>发放方式：</label>
                                <select class="table-group-action-input form-control" id="grant-methods">
                                    <option value="1">电费抵扣</option>
                                    <option value="2">现金支付</option>
                                    <option value="3">预付补贴</option>
                                </select>
                            </li>
                            <br>
                            <li>
                                <label>通知时间（小时）：</label>
                                <input type="text" class="table-group-action-input form-control" id="notice-time" name="notice-time" placeholder="通知时间是必填字段">
                            </li>
                            <br>
                            <li>
                                <label>描述：</label>
                                <textarea class="table-group-action-input form-control" id="create-remark" rows="8"></textarea>
                            </li>
                        </ul>

                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm" type="submit" value="Submit">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--所有提示-->
    <div class="modal fade" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">请填写红色必填项</div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--loadding-->
    <div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
        <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

        </div>
    </div>


    <script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../resource/js/moment.js"></script>
    <script src="../../../assets/global/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../../assets/local/scripts/underscore-min.js"></script>
    <script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!--DATEPICKER START-->
    <script src="../resource/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
    <!--DATEPICKER END-->
    <!--ECHART START-->
    <script src="../resource/js/echarts.min.js" type="text/javascript"></script>
    <!--ECHART END-->
    <!--zTree START-->
    <script src="../resource/zTree_v3-master/js/jquery.ztree.all.js" type="text/javascript"></script>
    <script src="../resource/zTree_v3-master/js/jquery.ztree.exhide.js" type="text/javascript"></script>
    <script src="../resource/zTree_v3-master/js/jquery.ztree.core.js" type="text/javascript"></script>
    <script src="../resource/zTree_v3-master/js/jquery.ztree.excheck.js" type="text/javascript"></script>
    <!--zTree END-->
    <script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <!--SHOWLOADING START-->
    <script src="../resource/jQuery-showLoading/js/jquery/jquery.showLoading.min.js" type="text/javascript"></script>
    <!--SHOWLOADING END-->
    <script src="../../../assets/local/scripts/BEE.js"></script>

    <!--DATATABLES-->
    <script src="../resource/TableTools/js/jquery.dataTables.min.js"></script>
    <script src="../resource/TableTools/button/buttons.print.min.js"></script>
    <script src="../resource/TableTools/button/dataTables.buttons.min.js"></script>
    <script src="../resource/TableTools/button/buttons.colVis.min.js"></script>
    <script src="../resource/TableTools/button/dataTables.tableTools.min.js"></script>
    <script src="../resource/TableTools/js/jszip.min.js"></script>
    <script src="../resource/TableTools/js/pdfmake.min.js"></script>
    <script src="../resource/TableTools/js/vfs_fonts.js"></script>
    <script src="../resource/TableTools/button/buttons.html5.min.js"></script>
    <!--VALIDATIION-->
    <script src="../resource/validation/jquery.validate.min.js"></script>
    <script src="../resource/validation/messages_zh.min.js"></script>
    <script src="js/toConfigure.js"></script>
    <script src="../resource/js/publicFun.js"></script>
    <script src="js/library.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init();
            BEE.init();
            Layout.init();
            Demo.init();
            ADRS.init();
            Library.init();
        });
    </script>
</body>
</html>