.modal-block li{

    display: block;

    width: 100%;

    margin-bottom: 25px;

}

.label-block{

    text-align: right;vertical-align: middle;line-height: 34px;

}

.input-block input{

    height: 34px;

    width: 100%;

}

@media (max-width: 992px){

    .label-block{

        text-align: left;

    }

}

.input-block select{

    width: 100%;

}

.input-block textarea{

    width: 100%;

}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{

    margin-left: -8px;

}

.hiddenButton{

    display: none;

}