
.main-top-left-img-block{

	width: 100%;

	height: 255px;

	background: url("../img/photo.png") no-repeat;

	background-position: center;

	background-size: cover;

}
.main-top-left-img{

	width: 91% !important;

}

.main-top-left-left{

	display: inline-block;
	
	vertical-align: middle;

	float: none;

}

.main-top-left-right{

	display: inline-block;

	vertical-align: middle;

}

.main-top-left-left img{

	width: 24px;

}

.main-left-word{

	margin-bottom: 6px;

}

.main-left-word:last-child{

	margin-bottom: 0;

}

.main-top-left-right-data{

	float: none;

	margin-left: 10px;

}

#EEEC img{

	float: none;

	width: 24px;

	margin-bottom: 0;

	margin: 10px;

}

#EEEC p{

	display: inline-block;

	vertical-align: middle;

}

.actual-value-top{

	display: inline-block;

	vertical-align: middle;

	font-size: 14px;

}

.actual-value-unit{

	display: inline-block;

	vertical-align: middle;

	font-size: 12px;

	color: #757575;

}

.actual-value-top-DH{

	font-size: 14px;

	color: #666666;

}

.LZXL{

	width: 124px;

	height:124px;

	border-radius: 50% !important;

	border: 1px solid #528CED;

	margin: auto;

	text-align: center;

}

#LZXLNum{

	font-size: 30px;

	color: #74A7F6;

	margin-top: 27px;

	display: inline-block;


}

.LZXLUnit{

	font-size: 10px;

	color: #5C5C5C;

}
.LZXLInfo{

	font-size: 12px;

	color: #757575;

}

.ZTNXNum{

	font-size: 24px;

	color: #5C5C5C;

}

.ZTNXUnit{

	color: #5C5C5C;

}

.ZTNXInfo{

	color: #757575;

}

.YXCSNum{

	color: #5C5C5C;

	font-size: 28px;

	display: inline-block;

	vertical-align: baseline;

	margin-top: 20px;

}

.YXCSUnit{

	font-size: 12px;

	color: #666666;

	display: inline-block;

	vertical-align: baseline;

}

.YXCSImg{

	width: 70px;

	height: 18px;

	display: inline-block;

	margin-top: 22px;

	margin-bottom: 14px;
}

.fontCenter{

	text-align: center;

}

#EEEC td{

	border-left: none !important;

}

#EEEC td:last-child{

	border-right: none !important;

}

.main-top-left-right-name{

	font-size: 14px;

}

.main-top-left-right{

	margin-left: 20%;

}

.main-top-left-right-value{

	font-size: 16px;

}

/*标尺*/
#tableMark{

	border: none !important;

}
#tableMark .borderNull{

	border: none !important;

}

#tableMark .color{

	font-size: 0;

}

#tableMark .borders {
	background: url(../img/border.png)no-repeat 100% 0px;
}

#tableMark .bordersL {
	background: url(../img/borderRight.png)no-repeat 100% 0px;
}

#tableMarkR{

	border: none !important;

}
#tableMarkR .borderNull{

	border: none !important;

}

#tableMarkR .color{

	font-size: 0;

}

#tableMarkR .borders {
	background: url(../img/border.png)no-repeat 100% 0px;
}

#tableMarkR .bordersL {
	background: url(../img/borderRight.png)no-repeat 100% 0px;
}

.XTLL p{

	margin-bottom: 14px;

}

.markindicator{



}