<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./button/dataTables.tableTools.css">
	<link rel="stylesheet" href="./button/jquery.dataTables.min.css">
	<link rel="stylesheet" href="./button/buttons.dataTables.min.css">
    <link rel="stylesheet" href="./button/bootstrap.css">
	<script src="./js/jquery-3.0.0.min.js"></script>
	<script src="./js/jquery.dataTables.min.js"></script>
	<script src="./button/buttons.colVis.min.js"></script>
	<script sec="./button/buttons.print.min.js"></script>
	<script src="./button/dataTables.buttons.min.js"></script>
    <script src="./button/buttons.colVis.min.js"></script>
    <script src="./button/dataTables.tableTools.min.js"></script>
    <script src="./js/jszip.min.js"></script>
    <script src="./js/pdfmake.min.js"></script>
    <script src="./js/vfs_fonts.js"></script>
    <!--<script src="./button/buttons.flash.min.js"></script>-->
    <script src="./button/buttons.html5.min.js"></script>
	<style>
    tr,th{
        text-align: center;
    }
	</style>
</head>
<body>
	<table id="datatables" class="table b-t b-light" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>用量</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
	<script>
		$(document).ready(function() {
            var datas = {
                        'dkid':'99+8909180104004397',
                        'st':'2016/11/03',
                        'et':'2016/11/04'
                    }
            var allDatas = [];
            var allDates = [];
            var allArr = [];
            $.ajax({
                type:'post',
                url:'http://211.100.28.180/BEEWebAPI/api/pr/pr_GetPRInstHistoryData',
                data:datas,
                async:false,
                success:function(result){
                    //console.log(result)
                    for(var i=0;i<result.length;i++){
                        allDatas.push(result[i].cdData);
                        var dateSplit = result[i].date.split('T')[1];
                        allDates.push(dateSplit);
                    }
                }
            })
            for(var i=0;i<allDatas.length;i++){
                var allArrs = [];
                allArrs.push(allDates[i])
                allArrs.push(allDatas[i])
                console.log(allArrs)
                allArr.push(allArrs);
            }
            console.log(allArr);
		    $('#datatables').DataTable({
		    	"autoWidth": false,  //用来启用或禁用自动列的宽度计算
		    	"paging": true,   //是否分页
		    	'language': {  
	                'emptyTable': '没有数据',  
	                'loadingRecords': '加载中...',  
	                'processing': '查询中...',  
	                'search': '模糊搜索:',  
	                'lengthMenu': '每页 _MENU_ 件',  
	                'zeroRecords': '没有数据',  
	                'paginate': {  
	                    'first':      '第一页',  
	                    'last':       '最后一页',  
	                    'next':       '下一页',  
	                    'previous':   '上一页'  
	                },  
	                'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',  
	                'infoEmpty': '没有数据',  
	                'infoFiltered': '(过滤总件数 _MAX_ 条)'  
           		 },
           		 //Bfrltip
           		 "dom":'B<"clear">lfrtip',
                 //'dom':'Bfrtip',
           		  'buttons': [
                        {
                            extend: 'copyHtml5',
                            text: '复制'
                        },
                        {
                            extend:'csvHtml5',
                            text:'保存csv格式'
                        },
                        {
                            extend: 'excelHtml5',
                            text: '保存为excel格式',
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '保存为pdf格式',
                        }
                    ], 
                'data':allArr,
                "columns": [
                    { "title": "时间"},
                    { "title": "用量" }
                ]
		    });


            /*$.ajax({
                type:'post',
                url:'http://211.100.28.180/BEEWebAPI/api/pr/pr_GetPRInstHistoryData',
                data:datas,
                async:false,
                success:function(result){
                    console.log(result)
                    for(var i=0;i<result.length;i++){
                        allDatas.push(result[i].cdData);
                        var dateSplit = result[i].date.split('T')[1];
                        allDates.push(dateSplit);
                    }
                }
            })
            var str;
            for(var i=0;i<allDates.length;i++){
                str += '<tr><td>' + allDates[i] + '</td><td>' + allDatas[i] +'</td></tr>'
            }
            $('tbody').html(str);*/
		} );
	</script>
</body>
</html>
