<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>历史曲线展示</title>
	<link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css">
	<link rel="stylesheet" href="../resource/css/MHisData.css">
	<script src="../resource/js/jquery-1.11.2.js"></script>
	<script src="../resource/js/echarts.min.js"></script>
	<script src="../resource/js/moment.js"></script>
	<script src="../resource/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>
	<link rel="stylesheet" href="../resource/TableTools/button/dataTables.tableTools.css">
	<link rel="stylesheet" href="../resource/TableTools/button/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../resource/TableTools/button/buttons.dataTables.min.css">
	<link rel="stylesheet" href="../resource/TableTools/button/bootstrap.css">
	<script src="../resource/TableTools/js/jquery.dataTables.min.js"></script>
	<script src="../resource/TableTools/button/buttons.print.min.js"></script>
	<script src="../resource/TableTools/button/dataTables.buttons.min.js"></script>
	<script src="../resource/TableTools/button/buttons.colVis.min.js"></script>
	<script src="../resource/TableTools/button/dataTables.tableTools.min.js"></script>
	<script src="../resource/TableTools/js/jszip.min.js"></script>
	<script src="../resource/TableTools/js/pdfmake.min.js"></script>
	<script src="../resource/TableTools/js/vfs_fonts.js"></script>
	<script src="../resource/TableTools/button/buttons.html5.min.js"></script>
	<script src="../resource/js/MHisData.js"></script>
</head>
<body>
	<div class="L-wrap">
		<div class="L-header">
			历史曲线展示
		</div>
		<div class="L-select">
			<span>请选择日期：</span>
			<input type="text" id="datepicker">
			<button type="button" class="btn btn-success">载入数据</button>
		</div>
		<div class="L-content">
			<div class="L-content-header"></div>
			<div class="L-content-contents">
				<div class="L-content-tip">曲线展示</div>
				<div class="L-content-tip">数据展示</div>
				<div class="L-replace"></div>
				<div class="L-content-block">
					<div class="L-content-block-main shows">
						<div id="echartImg"></div>
						<div class="L-loadding"></div>
					</div>
					<div class="L-content-block-main hiddens">
						<table id="datatables" class="table b-t b-light" cellspacing="0" width="100%">
							<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<div class="L-loadding"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="L-arrowBlock">
			<div class="L-leftArrow"></div>
			<div class="L-rightArrow"></div>
		</div>
	</div>
</body>
</html>