<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:v-validate="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>地点管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../resource/css/warningAlarm-2.css">
    <link rel="stylesheet" href="../resource/css/css/assetManagement-1.css">
    <link rel="stylesheet" href="../resource/css/css/assetManagement-2.css">
    <link rel="stylesheet" href="../resource/css/productionOrder.css">
    <link rel="stylesheet" href="../new-resource/css/shurucanshu/outpatientNumber.css">

    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div id="head-html"> </div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap">
                            <!-- 标题 -->
                            <div class="content-main-contents content-main-right">
                                <ul class="content-main-contents-header">
                                    <li class="main-contents-header-lists0">到发人次</li>
                                </ul>
                                <ul class="condition-query">
                                    <li>
                                        <label for=""><span class="user-defined-department"></span>：</label>
                                        <div class="input-blocked" id="filter_global1">
                                            <select name="" id="company">

                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">查询月份：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock min" name="min">
                                        </div>
                                    </li>
                                    <li><button class="btn btn-success btn1" id="selected">查询</button></li>
                                    <li style="display: none"><button class="btn btn-success btn1 resites">重置</button></li>
                                    <li>
                                        <div class="cont-col1">
                                            <div class="creatButton label label-sm label-warning" style="line-height: 34px;padding: 7px 14px;font-family: 微软雅黑;font-size: 14px;">
                                                <i class="fa fa-plus" style="margin-right: 2px;"></i>新增
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="top-btn top-edit ">编辑</button>
                                    </li>

                                    <li>
                                        <button class="top-btn top-save">保存</button>
                                    </li>
                                    <li class="excelButton"></li>
                                    <div class="clearfix"></div>
                                </ul>
                                <!-- 表格 -->
                                <div class="content-main-contents">
                                    <div class="main-contents-table">

                                        <div class="bottom-day-data1">
                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">1号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">2号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">3号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">4号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">5号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">6号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">7号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">8号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">9号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">10号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">11号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">12号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">13号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">14号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">15号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">16号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">17号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">18号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">19号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">20号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">21号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">22号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">23号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">24号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">25号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">26号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">27号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft" style="line-height: 26px;">
                                                <div class="labels colorTip">28号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft small-month middle-month" style="line-height: 26px;">
                                                <div class="labels colorTip">29号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft small-month" style="line-height: 26px;">
                                                <div class="labels colorTip">30号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>

                                            <li class="floatLeft big-month" style="line-height: 26px;">
                                                <div class="labels colorTip">31号：</div>
                                                <div class="input-blockeds">
                                                    <input type="text" class="day-data">
                                                </div>
                                            </li>



                                            <div class="clearfix"></div>
                                        </div>
                                        <!--<img src="../resource/img/loading.gif" alt="">-->
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<!--弹窗-->

<!--新增用户-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog" style="height:640px;width:732px !important;">
        <div class="modal-content" style="height: 640px;width:732px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增万元GDP</h4>
            </div>
            <div class="modal-body">
                <!--主体部分-->
                <ul class="gongdanList" id="user">
                    <!--<validator name="validation">-->
                    <form novalidate>

                        <li class="floatLeft" style="line-height: 26px;">
                            <div class="labels colorTip">*<span class="user-defined-department"></span>：</div>
                            <div class="input-blockeds">
                                <select v-model="plies" id="djbm">

                                </select>
                            </div>
                        </li>

                        <li class="floatRight" style="line-height: 26px;">
                            <div class="labels colorTip">*月份：</div>
                            <div class="input-blockeds">

                                <input type="text" class="datatimeblock months" name="months">

                            </div>
                        </li>

                        <li class="floatLeft" style="line-height: 26px;position: relative">
                            <div class="labels">月到发人次：</div>
                            <div class="input-blockeds">
                                <input type="text" class="count-data">
                            </div>

                            <button class="average btn-success" type="button">平均到天</button>
                        </li>


                        <div class="clearfix"></div>

                        <div class="bottom-day-data">
                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">1号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">2号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">3号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">4号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">5号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">6号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">7号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">8号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">9号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">10号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">11号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">12号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">13号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">14号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">15号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">16号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">17号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">18号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">19号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">20号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">21号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">22号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">23号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">24号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">25号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">26号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">27号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">28号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft small-month middle-month" style="line-height: 26px;">
                                <div class="labels colorTip">29号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft small-month" style="line-height: 26px;">
                                <div class="labels colorTip">30号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>

                            <li class="floatLeft big-month" style="line-height: 26px;">
                                <div class="labels colorTip">31号：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="day-data">
                                </div>
                            </li>



                            <div class="clearfix"></div>
                        </div>


                    </form>
                    <!--</validator>-->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary dengji">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>
<script src="../resource/js/alarm.js"></script><!--弹窗-->

<script src="../new-resource/js/shurucanshu/arrDepPeoNum.js"></script>
<script src="../new-resource/js/common.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>