<!DOCTYPE html>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:v-validate="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <link rel="stylesheet" href="../resource/css/leftBat.css">
    <link rel="stylesheet" href="../resource/css/warningAlarm-2.css">
    <script src="../resource/js/jquery-1.11.2.js"></script>
    <script src="../resource/js/echarts.min.js"></script>
    <script src="../resource/js/moment.js"></script>
    <script src="../resource/js/showOrHidden.js"></script>
    <script src="../resource/js/pointersoffices.js"></script>
    <script src="../resource/js/etSelection.js"></script>
    <script src="../resource/js/vue.js"></script>
    <script src="../resource/js/vue-validator-v2.1.3.js"></script>
    <link rel="stylesheet" href="../resource/zTree_v3-master/css/zTreeStyle/style.css">
    <link rel="stylesheet" href="../resource/zTree_v3-master/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css"/>
    <link rel="stylesheet" href="../resource/TableTools/button/dataTables.tableTools.css">
    <link rel="stylesheet" href="../resource/TableTools/button/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../resource/TableTools/button/buttons.dataTables.min.css">
    <link rel="stylesheet" href="../resource/TableTools/button/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../resource/css/css/assetManagement-1.css">
    <link rel="stylesheet" href="../resource/css/css/assetManagement-2.css">
    <link rel="stylesheet" href="../resource/css/productionOrder.css">
    <!--datatimepicker-->
    <link rel="stylesheet" href="../resource/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="../../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="../favicon.ico"/>
    <style type="text/css" media=print>
        .noprint{display : none }
    </style>
    <style>
        #myModal .single-labels{
            width: auto !important;
        }
        #fxGoods1 input,#fxGoods1 select{

            height: 30px;

            line-height: 30px;

            width: 200px !important;

        }
        .gd-wrap{
            border: none;
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="../shouye/index.html">
                <img src="../../../assets/local/img/hq3-small.png" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="totalTitle"></div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
					<span class="badge badge-danger">
					 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold"></span> 当日报警</h3>
                            <a href="../baojingyujing/warningAlarm-3.html">查看详细</a>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<span class="username username-hide-on-mobile">
					</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">

                        <li>
                            <a class="logout-page" href="../login.html">
                                <i class="icon-key"></i> 退出 </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="loading">
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler">
                        </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN STYLE CUSTOMIZER -->
                <div class="theme-panel hidden-xs hidden-sm">
                    <div class="toggler">
                    </div>
                    <div class="toggler-close">
                    </div>
                    <div class="theme-options">
                        <div class="theme-option theme-colors clearfix">
						<span>
						配色 </span>
                            <ul>
                                <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="默认">
                                </li>
                                <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="蓝黑">
                                </li>
                                <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="蓝色">
                                </li>
                                <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="灰色">
                                </li>
                                <!--<li class="color-light tooltips" data-style="light" data-container="body" data-original-title="亮色">-->
                                <!--</li>-->
                                <!--<li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="亮灰">-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="theme-option">
						<span>
						布局 </span>
                            <select class="layout-option form-control input-sm">
                                <option value="fluid" selected="selected">平铺</option>
                                <option value="boxed">盒式</option>
                            </select>
                        </div>

                        <div class="theme-option">
						<span>
						侧边菜单 </span>
                            <select class="sidebar-menu-option form-control input-sm">
                                <option value="accordion" selected="selected">手风琴式</option>
                                <option value="hover">鼠标悬停</option>
                            </select>
                        </div>
                        <div class="theme-option">
						<span>
						侧边位置 </span>
                            <select class="sidebar-pos-option form-control input-sm">
                                <option value="left" selected="selected">左</option>
                                <option value="right">右</option>
                            </select>
                        </div>
                        <div class="theme-option">
						<span>
						底部 </span>
                            <select class="page-footer-option form-control input-sm">
                                <option value="fixed">位置固定</option>
                                <option value="default" selected="selected">默认</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- END STYLE CUSTOMIZER -->
                <!-- BEGIN PAGE HEADER-->
                <h3 class="page-title">
                </h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>

                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                        <!--<div class="btn-group pull-right">
                            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            跳转 <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#">跳转点1</a>
                                </li>
                                <li>
                                    <a href="#">跳转点2</a>
                                </li>
                                <li>
                                    <a href="#">跳转点3</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">跳转点4</a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="total-warp">
                            <div class="wrap">
                                <!-- 标题 -->
                                <div class="content-main-contents content-main-right">
                                    <ul class="content-main-contents-header">
                                        <li class="main-contents-header-lists0 noprint">工单操作</li>
                                    </ul>
                                    <ul class="condition-query noprint">
                                        <li><label for="">工单号：</label>
                                            <div class="input-blocked" id="filter_global">
                                                <input type="text" class="filterInput" id="gdcode">
                                            </div>
                                        </li>
                                        <li style="display: none"><label for="">返修件号：</label>
                                            <div class="input-blocked">
                                                <input type="text" class="filterInput" id="fxcode">
                                            </div>
                                        </li>
                                        <li><label for="">返修件编码：</label>
                                            <div class="input-blocked">
                                                <input type="text" class="filterInput" id="itemNum">
                                            </div>
                                        </li>
                                        <li><label for="">返修件名称：</label>
                                            <div class="input-blocked">
                                                <input type="text" class="filterInput" id="itemName">
                                            </div>
                                        </li>
                                        <li><label for="">返修件序列号：</label>
                                            <div class="input-blocked">
                                                <input type="text" class="filterInput" id="itemSn">
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">返修件进度：</label>
                                            <div class="input-blocked">
                                                <select id="line-point"></select>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">时间：</label>
                                            <div class="input-blocked">
                                                <input type="text" class="datatimeblock min" name="min">
                                            </div>
                                            <label for="">到</label>
                                            <div class="input-blocked">
                                                <input type="text" class="datatimeblock max" name="max">
                                            </div>
                                        </li>
                                        <li class="routeShow">
                                            <label for="">线点：</label>
                                            <div class="input-blocked">
                                                <select id="linePoint"></select>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">
                                                <span class="user-defined-department"></span>
                                                ：</label>
                                            <div class="input-blocked">
                                                <select id="station"></select>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">
                                                <span class="user-defined-workshop"></span>
                                                ：</label>
                                            <div class="input-blocked">
                                                <select id="workshop"></select>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">
                                                <span class="user-defined-group"></span>
                                                ：</label>
                                            <div class="input-blocked">
                                                <select id="group"></select>
                                            </div>
                                        </li>
                                        <li><button class="btn btn-success btn1" id="selected">查询</button></li>
                                        <li><button class="btn btn-success btn1 resites">重置</button></li>
                                        <li><button class="btn btn-success btn1" onclick="javascript:window.print();">打印</button></li>
                                        <li class="excelButton"></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                    <!-- 表格 -->
                                    <div class="content-main-contents">
                                        <div class="main-contents-table">
                                            <table id="scrap-datatables" class="table table-striped table-bordered table-advance table-hover" cellspacing="0" width="100%">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
        <!-- END QUICK SIDEBAR -->
    </div>
</div>

<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; Huaqin.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!--弹窗-->
<!--弹窗-->
<!--模态框创建工单-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 716px;width: 1000px !important;">
        <div class="modal-content" style="height: 716px;width: 1000px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">创建工单</h4>
            </div>
            <div class="modal-body">
                <!--主体部分-->
                <div class="gongdanList" id="fxGoods" style="height: 563px;overflow-y: auto;font-size: 14px;overflow-x: hidden">
                    <div style="width: 470px !important;float: left">
                        <div style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 14px;">
                            <div class="tipe-block">返修件基本信息</div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">返修件id：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">相关工单号：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">返修件编码：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">返修件名称：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">返修件序列号：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">规格型号：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">故障原因：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels">快递信息：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels"><span class="user-defined-department"></span>：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels"><span class="user-defined-workshop"></span>：</div>
                                    <div class="single-block">
                                        <input >
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="finishRemark" style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 30px;">
                            <div class="tipe-block">完成操作备注</div>

                            <div class="tableHover" style="margin-top: 10px">
                                <textarea style="height: 100px;outline: none;width: 100%;border: 1px solid #cccccc"></textarea>
                            </div>

                        </div>

                    </div>
                    <div id="fxGoods1" style="width:470px !important;float: right">
                        <div style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 14px;">
                            <div class="tipe-block">操作部分</div>
                            <div style="padding: 10px;">
                                <label>当前状态&nbsp;&nbsp;&nbsp;:</label>
                                <input type="text" id="nowStatus" class="disabled-block" disabled="disabled" style="outline: none;margin-left: 20px;">
                            </div>
                            <div style="padding: 10px;">
                                <label>操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
                                <select id="optioning" style="width: 160px;outline: none;margin-left: 20px;">
                                </select>
                            </div>
                            <div class="ownRepair repairType" style="display: none;">
                                <div style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 30px;">
                                    <div class="tipe-block" style="border:none">【维修材料清单】</div>

                                    <div class="tableHover">
                                        <div class="" style="padding-top:10px;">
                                            <div class="label label-sm label-warning addCL" style="line-height: 34px;padding: 7px 14px;font-family: 微软雅黑;font-size: 14px;cursor: pointer;">
                                                <i class="fa fa-plus" style="margin-right: 2px;"></i>添加材料
                                            </div>
                                        </div>
                                        <table class="table table-hover cl-table" id="cl-list">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <div style="padding: 10px;"><label>合计金额（元）:</label><input type="text" id="total" class="disabled-block" disabled="disabled" style="outline: none;margin-left: 20px;"></div>
                                        <div style="padding: 10px;"><label>自修单价（元）:</label><input type="text" id="hourFee" style="outline: none;margin-left: 20px;"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="factoryRepair repairType" style="display: none;">
                                <div style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 30px;">
                                    <div class="tipe-block" style="border:none">【返厂修信息填写】</div>

                                    <div class="tableHover">
                                        <div style="padding: 10px;"><label>返厂修日期</label>:<input type="text" class="datatimeblock"></div>
                                        <div style="padding: 10px;"><label>厂家名称</label>:<select id="factory" style="width: 157px;margin-left: 20px;"></select></div>
                                        <div style="padding: 10px;"><label>快递公司</label>:<input type="text"></div>
                                        <div style="padding: 10px;"><label>快递单号</label>:<input type="text"></div>
                                        <div style="padding: 10px;"><label>预计到达时间</label>:<input type="text" class="datatimeblock"></div>
                                    </div>
                                    <hr>
                                    <div class="tableHover">
                                        <div style="padding: 10px;"><label>厂家发货日期</label>:<input type="text"></div>
                                        <div style="padding: 10px;"><label>快递公司</label>:<input type="text"></div>
                                        <div style="padding: 10px;"><label>快递单号</label>:<input type="text"></div>
                                        <div style="padding: 10px;"><label>收货地点</label>:<input type="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="scrapBlock repairType" style="display: none;">
                                <div style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 30px;">
                                    <div class="tipe-block" style="border:none">【报废备注】</div>

                                    <div class="tableHover">
                                        <textarea style="border: 1px solid #cccccc;width: 100%;outline: none;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="majorBlock repairType" style="display: none;">
                                <div style="border: 1px solid #cccccc;padding: 10px;position: relative;margin-top: 30px;">
                                    <div class="tipe-block" style="border:none">【返回主库信息】</div>

                                    <div class="tableHover">
                                        <textarea style="border: 1px solid #cccccc;width: 100%;outline: none;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer"><!--finishButton    determine-->
                <button type="button" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--查看-->
<div class="modal fade" id="see-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 716px;width: 1063px !important;">
        <div class="modal-content" style="height: 716px;width: 1063px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="height: 594px;">
                <!--主体部分-->
                <div id="see-detail">  <!--src="fxDetails.html?"-->

                </div>
            </div>
            <div class="modal-footer"><!--finishButton    determine-->
                <button type="button" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--添加材料-->
<div class="modal fade" id="AddCL-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 676px;width: 1000px !important;">
        <div class="modal-content" style="height: 676px;width: 1000px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加材料</h4>
            </div>
            <div class="modal-body">
                <!--主体部分-->
                <div class="gongdanList" id="goods" style="height: 513px;overflow-y: auto;font-size: 14px;overflow-x: hidden">
                    <div class="label label-sm label-warning selectCL" style="line-height: 34px;padding: 7px 14px;font-family: 微软雅黑;font-size: 14px;cursor: pointer;">
                        <i class="fa fa-plus" style="margin-right: 2px;"></i>材料选择
                    </div>
                    <validator name="validation">
                        <form novalidate>
                            <!--填写材料-->
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line" >
                                    <div class="single-labels starRed" style="font-size: 14px;width: 90px;">名称</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="mc" class="no-edit">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels starRed" style="font-size: 14px;width: 90px;">备件编码</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="bm" class="no-edit">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels" style="font-size: 14px;width: 90px;">单位</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="dw" class="no-edit">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels" style="font-size: 14px;width: 90px;">规格型号</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="size">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels starRed" style="font-size: 14px;width: 90px;">数量</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="sl" @keyup="addFun1()">
                                    </div>
                                    <div style="height: 32px">
                                        <span class="colorTip errorSL" style="display: block;text-indent: 93px;line-height: 30px;height: 30px;">请输入大于0的整数</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line">
                                    <div class="single-labels" style="font-size: 14px;width: 90px;">单价（元）</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="dj" @keyup="addFun2()" placeholder="0.00">
                                    </div>
                                    <div style="height: 32px;">
                                        <span class="colorTip errorDJ" style="display: block;text-indent: 93px;line-height: 30px;height: 30px;">请输入大于0的整数(保留两位)</span>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 single-line one-line" style="margin-top: -25px;">
                                    <div class="single-labels" style="font-size: 14px;width: 90px;">金额（元）</div>
                                    <div class="single-block" style="width: 192px;">
                                        <input type="text" v-model="je" @keyup="addFun3()" placeholder="0.00">
                                    </div>
                                    <div style="height: 32px">
                                        <span class="colorTip errorJE" style="display: block;text-indent: 93px;line-height: 30px;height: 30px;">请输入大于0的整数(保留两位)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="float: right;margin-right: 20px;">
                                <button type="button" class="btn btn-success" id="addRK">添加</button>
                                <button type="button" class="btn btn-success" id="addReset">重置</button>
                            </div>
                        </form>
                    </validator>
                    <table class="table table-hover cl-table" id="cl-selecting">
                        <thead>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="appendTo">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--选择材料-->
<div class="modal fade" id="SelectCL-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 520px;">
        <div class="modal-content" style="height: 520px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">操作维修备件</h4>
            </div>
            <div class="modal-body">
                <div class="gongdanContent" style="height: 360px;">
                    <ul class="gongdanList">
                        <li class="floatLeft">
                            <div class="labels">物品编码 ：</div>
                            <div class="input-blockeds">
                                <input type="text" id="wpbms">
                            </div>
                        </li>
                        <li class="floatRight">
                            <div class="labels">物品名称 ：</div>
                            <div class="input-blockeds">
                                <input type="text" id="wpmcs">
                            </div>
                        </li>
                        <li class="floatLeft">
                            <div class="labels">分类名称：</div>
                            <div class="input-blockeds">
                                <select id="flmcs"></select>
                            </div>
                        </li>
                        <li class="floatRight">
                            <button type="button" class="btn btn-success tianJiaSelect" style="margin-top: 27px;">查询</button>
                            <div class="alert alert-danger exists" style="text-align: center;width: 200px;float:right;"> <button class="close" data-close="alert"></button>
                                <span>该物料已存在</span>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <table id="weiXiuCaiLiaoTable" class="table table-condensed b-t b-light row-border hover order-column" cellspacing="0" width="100%">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirm addWL">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--图片详情-->
<div class="modal fade" id="img-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="height: auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">图片</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="" style="max-width: 667px;">
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--等待load-->
<div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

    </div>
</div>
<!--所有提示框-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 168px;">
        <div class="modal-content" style="height: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">提示</h4>
            </div>
            <div class="modal-body">请填写红色必填项</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirm1">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../../assets/global/plugins/respond.min.js"></script>
<script src="../../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../../assets/local/scripts/BEE.js"></script>
<script src="../resource/zTree_v3-master/js/jquery.ztree.all.js"></script>
<script src="../resource/zTree_v3-master/js/jquery.ztree.exhide.js"></script>
<script src="../resource/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>
<!--tabletool-->
<script src="../resource/TableTools/js/jquery.dataTables.min.js"></script>
<script src="../resource/TableTools/button/buttons.print.min.js"></script>
<script src="../resource/TableTools/button/dataTables.buttons.min.js"></script>
<script src="../resource/TableTools/button/buttons.colVis.min.js"></script>
<script src="../resource/TableTools/button/dataTables.tableTools.min.js"></script>
<script src="../resource/TableTools/js/jszip.min.js"></script>
<script src="../resource/TableTools/js/pdfmake.min.js"></script>
<script src="../resource/TableTools/js/vfs_fonts.js"></script>
<script src="../resource/TableTools/button/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../resource/jQuery-showLoading/js/jquery/jquery.showLoading.min.js"></script>
<script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });
</script>
<script>
    var _status = 3;
</script>
<script src="../resource/js/publicFun.js"></script>
<script src="../../../assets/local/configs/setNames.js"></script>
<script src="../resource/js/reworkStore.js"></script>
<script src="../resource/js/publicGD.js"></script>
<script src="../resource/js/publicYW.js"></script>
<!-- END JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>