<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>3D展示</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/css/common.css">
    <link rel="stylesheet" href="../new-resource/css/guanlizhenduan/manageDiagnose.css">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"> </div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12 " >
                    <!--头部信息-->
                    <div class="content-header">

                        <img src="../new-resource/img/blueBack.png" alt="">

                        <!--<div class="content-header-contain">-->
                        <!--能耗诊断图标-->
                        <div class="energy-diagnose" >
                            <div class="energy-diagnose-img">

                            </div>
                            <p>能耗诊断</p>
                        </div>
                        <!--&lt;!&ndash;白色横线&ndash;&gt;-->
                        <!--<div class="white-line"></div>-->

                        <!--能效诊断图标-->
                        <div class="energy-diagnose efficiency" >
                            <div class="energy-diagnose-img energy-diagnose-img1">

                            </div>
                            <p>能效诊断</p>
                        </div>
                        <!--&lt;!&ndash;白色横线&ndash;&gt;-->
                        <!--<div class="white-line white-line1"></div>-->

                        <!--能效诊断图标-->
                        <div class="energy-diagnose system" >
                            <div class="energy-diagnose-img energy-diagnose-img2">

                            </div>
                            <p>子系统检测诊断</p>
                        </div>

                        <!--能效诊断图标-->
                        <div class="energy-diagnose environment" >
                            <div class="energy-diagnose-img energy-diagnose-img3">

                            </div>
                            <p>环境品质诊断</p>
                        </div>
                    </div>

                    <!--上方提示信息-->
                    <p class="top-hint">请点击“一键诊断”，对建筑进行以上4大内容的数据诊断，系统会自动找出问题，并对支路进行分析，提出解决建议措施。
                    </p>

                    <!--一键诊断按钮-->
                    <div class="diagnose-btn">
                        <button>一键诊断</button>
                    </div>

                    <!--诊断进程-->
                    <div class="diagnose-course" style="display: none">
                        <p>
                            <span class="left-title">诊断进程：</span>

                            <span class="right-content">
                                 <b>发现0条问题.....</b><br/>
                                 <font>正在诊断能效问题</font>
                            </span>

                        </p>
                    </div>

                    <div id="content-container">

                    </div>

                    <!--&lt;!&ndash;具体问题&ndash;&gt;-->
                    <!--<div class="specific-problem energy-problem">-->

                    <!--<h3>能耗诊断-->
                    <!--<span>发现五个能耗问题</span>-->

                    <!--<font class="right-arrow"></font>-->
                    <!--</h3>-->

                    <!--<div class="bottom-problem">-->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">-->
                    <!--<ul>-->
                    <!--<li>全院单位面积电耗高</li>-->
                    <!--<li>口腔科单位能耗超额</li>-->
                    <!--<li>信息中心单位面积能耗高</li>-->
                    <!--<li>自来水一级系统损耗率高</li>-->
                    <!--<li>8号楼夜间能耗占比大</li>-->
                    <!--</ul>-->
                    <!--</div>-->

                    <!--<div class="clearfix"></div>-->
                    <!--</div>-->

                    <!--</div>-->

                    <!--&lt;!&ndash;具体问题&ndash;&gt;-->
                    <!--<div class="specific-problem efficiency-problem">-->

                    <!--<h3>能效诊断-->
                    <!--<span>正在诊断中......</span>-->
                    <!--</h3>-->

                    <!--<div class="bottom-problem">-->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">-->
                    <!--<ul>-->
                    <!--<li>全院单位面积电耗高</li>-->
                    <!--<li>口腔科单位能耗超额</li>-->
                    <!--<li>......</li>-->
                    <!--</ul>-->
                    <!--</div>-->

                    <!--</div>-->

                    <!--</div>-->


                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });
</script>

<script src="../resource/js/commonJsResource.js"></script>
<script src="../resource/js/alarm.js"></script>
<script src="../new-resource/js/guanlizhenduan/diagnoseCommon.js"></script>
<script src="../new-resource/js/guanlizhenduan/manageDiagnose.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>