<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>用户服务条款</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <link rel="stylesheet" href="../resource/css/leftBat.css">
    <link rel="stylesheet" href="../resource/css/index.css">
    <script src="js/jquery-1.11.2.js"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="../../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="../favicon.ico"/>
    <link href="../bank-resource/css/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../new-resource/css/common.css">
    <style>

        .box-block{
            width: 100% !important;
            max-width: 800px !important;
        }
        .header{
            width:100% !important;
        }
        .content{
            width: 100% !important;
            max-width:660px !important;
        }
        .content img{
            max-width: 100% !important;
        }
        body{
            background: #f9f9f9 !important;

        }
        .returns{
            min-width: 100px;
            border-radius: 5px !important;
            background: darkorchid;
            color: white;
            height: 40px;
            line-height: 40px;
            outline: none;
            border: none;
            margin-left: 10px;
            padding:0 !important;
            display: none;
        }
        .head-title{
            font-size: 22px;
            text-align: center;
            background: #ccccc;
            padding:15px 0px !important;
            border-bottom: 1px solid #d9d9d9;
            color: #000;
            font-weight: 600;
            /*margin-bottom:10px;*/
        }

       .top-text{
           padding:10px 0px;

       }

       .clause-container{
           padding:0px 5px;
           box-sizing: border-box;
       }

       .clause-container p{
           font-size: 1.4rem;
       }

       .clause-title{

           font-weight: 600;

       }

       .clause-text{

           text-indent: 2em;
       }

       .clause-title1{
           text-indent: 3em;
       }




        .clear{clear:both;}


    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!--头部信息-->
<h3 class="head-title">用户服务条款</h3>

<div class="clause-container">
    <p class="top-text ">欢迎您注册成为康康池讯用户！请仔细阅读下面的协议。</p>

    <p class="clause-title">1、服务条款的确认和接纳</p>
    <p class="clause-text"> 康康池讯用户服务的所有权和运作权归湖南纬度信息科技有限公司所有。康康池讯所提供的服务将按照有关章程、服务条款和操作规则严格执行。用户通过注册程序勾选“我已经阅读并同意《用户服务条款》”，即表示用户与康康池讯达成协议并接受所有的服务条款。</p>


    <p class="clause-title">2、服务内容</p>
    <p class="clause-title clause-title1">要成为系统服务用户必须：</p>
    <p class=""> （1）自行配备上网的所需设备， 包括个人电脑、调制解调器或其他必备上网装置。<br/>
        （2）自行负担个人上网所支付的与此服务有关的电话费用、 网络费用。
    </p>

    <p class="clause-title clause-title1">为提高系统服务信息服务的准确性，用户应同意：</p>
    <p class=""> （1）提供详尽、准确的公司或个人资料。<br/>
        （2）不断更新注册资料，符合及时、详尽、准确的要求。
    </p>

    <p class="clause-title clause-title1">本服务不公开用户的电子邮箱和笔名， 除以下情况外：</p>
    <p class=""> （1）用户授权透露这些信息。<br/>
        （2）相应的法律及程序要求提供用户的个人资料。
        如果用户提供的资料包含有不正确的信息，本服务系统保留结束用户使用网络服务资格的权利。

    </p>


    <p class="clause-title">3、服务条款的修改和服务修订</p>
    <p class="clause-text"> 康康池讯有权在必要时修改服务条款，服务条款一旦发生变动，将会在相关页面上提示修改内容。如果不同意所改动的内容，用户可以主动取消获得的网络服务。 如果用户继续享用网络服务，则视为接受服务条款的变动。本服务系统保留随时修改或中断服务而不需知照用户的权利。本服务系统行使修改或中断服务的权利，不需对用户或第三方负责。</p>

    <p class="clause-title">4、用户隐私制度</p>
    <p class="clause-text"> 尊重用户个人隐私是康康池讯的 基本政策。康康池讯不会公开、编辑或透露用户的邮件内容，除非有法律许可要求，或康康池讯在诚信的基础上认为透露这些信件在以下三种情况是必要的： </p>
    <p class="">
        （1）遵守有关法律规定，遵从合法服务程序。<br/>
        （2）保持维护康康池讯的商标所有权。<br/>
        （3）在紧急情况下竭力维护用户个人和社会大众的隐私安全。<br/>
        （4）符合其他相关的要求。
    </p>

    <p class="clause-title">5、用户的帐号，密码和安全性</p>
    <p class="clause-text">
        用户一旦注册成功，成为本服务系统的合法用户，将得到一个用户名和密码。
    </p>
    <p class="clause-text">
        用户将对用户名和密码安全负全部责任。另外，每个用户都要对以其帐号进行的所有活动和事件负全责。您可随时根据指示改变您的密码。用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通告本服务系统。
    </p>

    <p class="clause-title">6、拒绝提供担保</p>
    <p class="clause-text">
        用户对网络服务的使用承担风险。本服务系统对此不作任何类型的担保，不论是明确的或隐含的。本服务系统不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务的及时性，安全性，出错发生都不作担保。本服务系统对用户得到的任何信息、商品购物服务或交易进程，不作担保。
    </p>

    <p class="clause-title">7、有限责任</p>
    <p class="clause-text">
        康康池讯对任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害来自：不正当使用邮件服务，在网上购买商品或服务，在网上进行交易，非法使用邮件服务或用户传送的信息所变动。
    </p>


    <p class="clause-title">8、用户责任</p>
    <p class="clause-title clause-title1">用户单独承担传输内容的责任。用户必须遵循：</p>
    <p class="">
        （1）从中国境内向外传输技术性资料时必须符合中国有关法规。<br/>
        （2）使用邮件服务不作非法用途。 <br/>
        （3）不干扰或混乱网络服务。<br/>
        （4）不在建议反馈及管理后台中发表任何与政治相关的信息。 <br/>
        （5）遵守所有使用邮件服务的网络协议、规定、程序和惯例。<br/>
        （6）不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益。<br/>
        （7）不得利用本站制作、复制和传播下列信息： <br/>

        ①煽动抗拒、破坏宪法和法律、行政法规实施的；<br/>
        ②煽动颠覆国家政权，推翻社会主义制度的；<br/>
        ③煽动分裂国家、破坏国家统一的；<br/>
        ④煽动民族仇恨、民族歧视，破坏民族团结的；<br/>
        ⑤捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br/>
        ⑥宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br/>
        ⑦公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br/>
        ⑧损害国家机关信誉的；<br/>
        ⑨其他违反宪法和法律行政法规的；<br/>
        ⑩进行商业广告行为的。
    </p>

    <p class="clause-title">9、发送通告</p>
    <p class="clause-text">
        所有发给用户的通告都可通过电子邮件或常规的信件传送。康康池讯会通过邮件服务发报消息给用户，告诉他们服务条款的修改、服务变更、或其它重要事情。
    </p>

    <p class="clause-title">10、网站内容的所有权</p>
    <p class="clause-text">
        康康池讯定义的内容包括：文字、数据、图表、软件；在广告中全部内容；电子邮件的全部内容；所有这些内容受版权、商标、标签和其它财产所有权法律的保护。所以，用户只能在康康池讯和广告商授权下才能使用这些内容，而不能擅自复制、篡改这些内容、或创造与内容有关的派生产品。
    </p>

    <p class="clause-title">11、附加信息服务</p>
    <p class="clause-text">
        用户在享用康康池讯提供的免费服务的同时，同意接受康康池讯提供的各类附加信息服务。
    </p>

    <p class="clause-title">12、解释权</p>
    <p class="clause-text">
        本注册协议的解释权归康康池讯所有。如果其中有任何条款与国家的有关法律相抵触，则以国家法律的明文规定为准。
    </p>


</div>


<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../../assets/global/plugins/respond.min.js"></script>
<script src="../../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="../resource/js/moment.js"></script>

<!-- END CORE PLUGINS -->
<script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../bank-resource/js/common.js"></script>
<script src="../../../assets/local/scripts/BEE.js"></script>

<!-- END JAVASCRIPTS -->
</body>

<!--提示模态框提示-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- END BODY -->
</html>