<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/iconfont/iconfont.css">
    <link rel="stylesheet" href="../new-resource/css/commonHead.css">
    <link rel="stylesheet" href="../new-resource/css/baojingyujing/historicalAlarm.css">
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="../favicon.ico"/>
    <style>

    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>


            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container">

                            <!--存放查询条件-->
                            <ul class="demand-condition-container condition-query ">
                                <li>
                                    <label for="">车站</label>
                                    <select name="" id="alarm-station" class="select-station">

                                    </select>
                                </li>

                                <li>
                                    <label for="">报警级别</label>
                                    <select name="" id="alarm-level" class="select-station">

                                    </select>
                                </li>

                                <li>
                                    <label for="">设备类型</label>
                                    <select name="" id="alarm-device-type" class="select-station">

                                    </select>
                                </li>

                                <li>
                                    <label for="">报警名称</label>
                                    <input name="" id="" class="alarm-incident" value=""/>
                                </li>
                                <li>
                                    <label for="">开始时间</label>
                                    <input name="" id="" class=" datatimeblock min" value=""/>
                                </li>

                                <li>
                                    <label for="">结束时间</label>
                                    <input name="" id="" class=" datatimeblock max" value=""/>
                                </li>

                                <li>
                                    <button class="demand-button btn btn-success">查询</button>
                                </li>

                                <!--清除浮动-->
                                <div class="clearfix"></div>
                            </ul>

                            <!--上方报警概况与维修概况-->
                            <div class="survey-container">
                                <!--左侧报警概况-->
                                <div class="survey left-survey">

                                    <!--标题-->
                                    <h2>报警概况 <span>(累计)</span></h2>

                                    <!--具体数据-->
                                    <div class="survey-data-container survey-data-container0">

                                        <p class="title">特急报警</p>
                                        <p class="data">0</p>
                                    </div>

                                    <div class="survey-data-container survey-data-container1">

                                        <p class="title">紧急报警</p>
                                        <p class="data">0</p>
                                    </div>

                                    <div class="survey-data-container survey-data-container2">

                                        <p class="title">较急报警</p>
                                        <p class="data">0</p>
                                    </div>

                                    <div class="survey-data-container survey-data-container3">

                                        <p class="title">普通报警</p>
                                        <p class="data">0</p>
                                    </div>

                                </div>

                                <!--右侧维修概况-->
                                <div class="survey left-survey">

                                    <!--标题-->
                                    <h2>维修概况</h2>

                                    <div class="surver survey-right">

                                        <div id="maintain-echart">

                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                            <!--下方主体表格-->
                            <div class="bottom-main-table">
                                <h3>报警列表</h3>
                                <table id="alarm-datatables" class="table" cellspacing="0" width="100%" style="">
                                    <thead style="text-align:center">


                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>
<!-- END FOOTER -->
<script src="../../../assets/local/scripts/BEE.js"></script>

<script src="../resource/js/commonJsResource.js"></script>

<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    BEE.init();

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
    });

</script>

<!--页面js-->
<script src="../new-resource/js/common.js"></script>
<script src="../new-resource/js/baojingyujing/historicalAlarm.js"></script>


<!--报警处理框-->
<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog' style='position: absolute;left: 50%;top:50%;margin-top: -87px;margin-left: -300px'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title' id='myModalLabel'>报警处理备注</h4>
            </div>
            <div class='modal-body'>
                <textarea type='text'  style='width: 538px;line-height: 30px;border: 1px solid #CCCCCC;outline: none'></textarea>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary submitNote'>提交更改</button>
                <button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>