<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <link rel="stylesheet" href="../resource/css/leftBat.css">
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <script src="../resource/js/jquery-1.11.2.js"></script>
    <script src="../resource/js/echarts.min.js"></script>
    <script src="../resource/js/pointersoffices.js"></script>
    <script src="../resource/js/etSelection.js"></script>
    <script src="../resource/js/moment.js"></script>
    <script src="../new-resource/js/showOrHidden.js"></script>
    <script src="../../../assets/local/scripts/underscore-min.js"></script>
    <link rel="stylesheet" href="../resource/zTree_v3-master/css/metroStyle/metroStyle.css">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="../../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="../favicon.ico"/>
    <!--datatables-->
    <link rel="stylesheet" href="../resource/TableTools/button/dataTables.tableTools.css">
    <link rel="stylesheet" href="../resource/TableTools/button/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../resource/TableTools/button/buttons.dataTables.min.css">
    <!--时间插件-->
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css"/>
    <!--loading插件-->
    <link rel="stylesheet" href="../resource/jQuery-showLoading/css/showLoading.css"/>
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css"/>

    <!--自定义样式-->
    <link rel="stylesheet" href="../new-resource/css/common.css">
    <link rel="stylesheet" href="../new-resource/css/baobiaoguanli/monitorStatement.css">
    <link rel="stylesheet" type="text/css" media="print" href="../new-resource/css/baobiaoguanli/energyEfficiencyReportH5Print.css" />

    <style>
        .input-blocked input {
            border: none;
            height: 28px !important;
            outline: none;
            margin: 0 !important;
        }
        .bottom-main-table{
            min-height: 600px;
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="../shouye/index.html">
                <img src="../../../assets/local/img/hq3-small.png" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="totalTitle"></div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
					<span class="badge badge-danger">
					 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold"></span> 当日报警</h3>
                            <a href="../baojingyujing/warningAlarm-3.html">查看详细</a>
                        </li>
                    </ul>
                    <audio src="../resource/song/alert.mp3" id="audioMain" controls="controls" preload="auto" style="display: none"></audio>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<span class="username username-hide-on-mobile">
					</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">

                        <li>
                            <a class="logout-page" href="../login.html">
                                <i class="icon-key"></i> 退出 </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN STYLE CUSTOMIZER -->
            <div class="theme-panel hidden-xs hidden-sm">
                <div class="toggler">
                </div>
                <div class="toggler-close">
                </div>
                <div class="theme-options">
                    <div class="theme-option theme-colors clearfix">
						<span>
						配色 </span>
                        <ul>
                            <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="默认">
                            </li>
                            <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="蓝黑">
                            </li>
                            <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="蓝色">
                            </li>
                            <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="灰色">
                            </li>
                            <!--<li class="color-light tooltips" data-style="light" data-container="body" data-original-title="亮色">-->
                            <!--</li>-->
                            <!--<li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="亮灰">-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="theme-option">
						<span>
						布局 </span>
                        <select class="layout-option form-control input-sm">
                            <option value="fluid" selected="selected">平铺</option>
                            <option value="boxed">盒式</option>
                        </select>
                    </div>

                    <div class="theme-option">
						<span>
						侧边菜单 </span>
                        <select class="sidebar-menu-option form-control input-sm">
                            <option value="accordion" selected="selected">手风琴式</option>
                            <option value="hover">鼠标悬停</option>
                        </select>
                    </div>
                    <div class="theme-option">
						<span>
						侧边位置 </span>
                        <select class="sidebar-pos-option form-control input-sm">
                            <option value="left" selected="selected">左</option>
                            <option value="right">右</option>
                        </select>
                    </div>
                    <div class="theme-option">
						<span>
						底部 </span>
                        <select class="page-footer-option form-control input-sm">
                            <option value="fixed">位置固定</option>
                            <option value="default" selected="selected">默认</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- END STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <i class="fa fa-angle-right"></i>
                    </li>
                </ul>
                <!--<div class="showOrHidden"></div>-->
                <div class="page-toolbar">
                    <!--<div class="btn-group pull-right">
                        <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        跳转 <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">跳转点1</a>
                            </li>
                            <li>
                                <a href="#">跳转点2</a>
                            </li>
                            <li>
                                <a href="#">跳转点3</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">跳转点4</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container">

                            <!--存放查询条件-->
                            <ul class="demand-condition-container condition-query ">
                                <li>
                                    <label for="">车站</label>
                                    <select name="" id="alarm-station" class="select-station">

                                    </select>
                                </li>

                                <li>
                                    <label for="">报表内容</label>
                                    <select name="" id="select-content" class="">

                                    </select>
                                </li>

                                <li style="line-height: 26px;">
                                    <label for="">报表类型：</label>
                                    <div class="input-blocked">
                                        <select id="timeType" style="width: 128px;height: 100%;width: 100%;border: none;outline: none">
                                            <option value="0" data-attr="Day">月报表</option>
                                            <option value="1" data-attr="Month">年报表</option>
                                        </select>
                                    </div>
                                </li>
                                <li style="line-height: 26px;">
                                    <label for="">选择时间：</label>
                                    <div class="input-blocked">
                                        <input type="text" class="datatimeblock min form-control"/>
                                    </div>
                                </li>

                                <li>
                                    <button class="demand-button btn btn-success">查询</button>
                                </li>

                                <!--<li class="excelButton"></li>-->
                                <li style="float: right"><div class="excelButton" title="导出为excel">↓</div></li>
                                <li style="float: right"><img id="print" class="printButton" src="../new-resource/img/printIcon.png" alt=""  title="打印"></li>
                                <!--清除浮动-->
                                <div class="clearfix"></div>
                            </ul>

                            <!--下方主体表格-->
                            <div class="bottom-main-table">

                                <!--车站年分项电耗报表-->
                                <table id="entry-datatables" class="table currentOptionTable" cellspacing="0" width="100%" style="text-align:center;border: 1px solid black;">
                                    <thead style="text-align:center">
                                    <tr style="text-align:center">
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black;width:140px;">报表名称</th>
                                        <th colspan="17" id="table-titleH" style="text-align:center;background: #ffffff;border:1px solid black" class="table-name change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">数据时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="17" class="data-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">导出时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="17" class="derive-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">位置</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="17" class="position-name change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">建筑面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="building-area"></th>

                                        <th colspan="2" class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">空调面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="air-conditioner-area"></th>
                                        <th colspan="2" class="printBgColo station-show" style="text-align:center;background: #E2E9F2;border:1px solid black">到发人次 <br />(人/<span class="time-type">年</span>)</th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="people-amount station-show"></th>

                                        <th colspan="2" class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">电单价 <br />(元/度)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="electricity-price"></th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="7" class="change-colspan2"> </th>
                                    </tr>

                                    <tr>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="3">日期</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="2">电耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="16" class="change-colspan3">分项电耗</th>
                                    </tr>

                                    <tr class="change-head1 change-head-subentry">
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">照明插座</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">暖通</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">电梯</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">信息</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">广告</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">商业</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">消防</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">其他</th>
                                    </tr>

                                    <tr class="change-head2 change-head-unit">
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                    </tr>

                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>

                                <!--车站总能耗报表-->
                                <table id="total-entry-datatables" class="table currentOptionTable" cellspacing="0" width="100%" style="text-align:center;border: 1px solid black;display: none">
                                    <thead style="text-align:center">
                                    <tr style="text-align:center">
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black;width:140px;">报表名称</th>
                                        <th colspan="8"  style="text-align:center;background: #ffffff;border:1px solid black" class="table-name change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">数据时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="8" class="data-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">导出时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="8" class="derive-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">位置</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="8" class="position-name change-colspan1"></th>
                                    </tr>
                                    <tr>

                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">占地面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="land-area"></th>

                                        <th colspan="1" class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">空调采暖面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="air-conditioner-area"></th>

                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">建筑面积 <br />(平米)</th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="building-area"></th>

                                        <th colspan="1" class="printBgColor station-show" style="text-align:center;background: #E2E9F2;border:1px solid black">到发人次 <br />(人/<span class="time-type">年</span>)</th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="people-amount station-show"></th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="1" class="change-colspan2"> </th>

                                    </tr>

                                    <tr class="change-head-price">

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black">电单价 <br />(元/度)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black">蒸汽单价 <br />(元/吨)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black">水单价 <br />(元/吨)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black"></th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="1" class="change-colspan-price"> </th>



                                    </tr>

                                    <tr class="change-head2 change-head-name">
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="2">日期</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">电耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">电费</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">蒸汽耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">蒸汽费</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">水耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">水费</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">折合标煤</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">支出合计</th>

                                    </tr>


                                    <tr class="change-head2 change-head-unit">

                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >元</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >立方米</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >元</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >元</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >元</th>
                                    </tr>

                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>

                                <!--车站总能耗指标报表-->
                                <table id="entry-target-datatables" class="table currentOptionTable" cellspacing="0" width="100%" style="text-align:center;border: 1px solid black;display: none">
                                    <thead style="text-align:center">
                                    <tr style="text-align:center">
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black;width:140px;">报表名称</th>
                                        <th colspan="12"  style="text-align:center;background: #ffffff;border:1px solid black" class="table-name change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">数据时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="12" class="data-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">导出时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="12" class="derive-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">位置</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="12" class="position-name change-colspan1"></th>
                                    </tr>
                                    <tr>

                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">建筑面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="building-area"></th>

                                        <th colspan="1" class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">空调采暖面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="air-conditioner-area"></th>

                                        <th colspan="1" class="printBgColor station-show" style="text-align:center;background: #E2E9F2;border:1px solid black">到发人次 <br />(人/<span class="time-type">年</span>)</th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="people-amount station-show"></th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="7" class="change-colspan2"> </th>

                                    </tr>

                                    <tr class="change-head-price">

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black">电单价 <br />(元/度)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black">蒸汽单价 <br />(元/吨)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>

                                        <th colspan="1" class="printBgColor energy-type-name" style="text-align:center;background: #E2E9F2;border:1px solid black">水单价 <br />(元/吨)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="energy-type-price"></th>


                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="7" class="change-colspan-price"> </th>



                                    </tr>

                                    <tr class="change-head0 change-head-title">

                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="3">日期</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="3">电</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="3">水</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="3">蒸汽</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="3">折合标煤</th>
                                    </tr>

                                    <tr class="change-head2 change-head-name">

                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">总</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位建筑面积电耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位到发人次电耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">总</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位建筑面积水耗<br/>(不含客车上水)</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位到发人次水耗<br/>(不含客车上水)</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">总</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位面积蒸汽耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位到发人次蒸汽耗</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">总</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位面积标煤</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="1">单位到发人次标煤</th>

                                    </tr>


                                    <tr class="change-head2 change-head-unit">

                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度/平米</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >度/人次</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨/平米</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨/人次</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨/平米</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨/人次</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨/平米</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨/人次</th>

                                    </tr>

                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>

                                <!--车站分项水耗报表-->
                                <table id="entry-water-datatables" class="table currentOptionTable" cellspacing="0" width="100%" style="text-align:center;border: 1px solid black;display: none">
                                    <thead style="text-align:center">
                                    <tr style="text-align:center">
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black;width:140px;">报表名称</th>
                                        <th colspan="13" id="" style="text-align:center;background: #ffffff;border:1px solid black" class="table-name change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">数据时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="13" class="data-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">导出时间</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="13" class="derive-time change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">位置</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="13" class="position-name change-colspan1"></th>
                                    </tr>
                                    <tr>
                                        <th class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">建筑面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="building-area"></th>

                                        <th colspan="2" class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">空调面积 <br />(平米)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="air-conditioner-area"></th>
                                        <th colspan="2" class="printBgColo station-show" style="text-align:center;background: #E2E9F2;border:1px solid black">到发人次 <br />(人/<span class="time-type">年</span>)</th>

                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="people-amount station-show"></th>

                                        <th colspan="2" class="printBgColor" style="text-align:center;background: #E2E9F2;border:1px solid black">水单价 <br />(元/吨)</th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="" class="electricity-price"></th>
                                        <th style="text-align:center;background: #ffffff;border:1px solid black" colspan="3" class="change-colspan2"> </th>
                                    </tr>

                                    <tr>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="3">日期</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="2">水耗<br/>(含客车上)</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="2"  class="">东水表</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="2"  class="">西水表</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" rowspan="" colspan="10" class="">分项水耗</th>
                                    </tr>

                                    <tr class="change-head1 ">
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">东侧空调补水箱补水</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">西侧空调补水箱补水</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">东侧冷却塔补水</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">西侧冷却塔补水</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" colspan="2">其他</th>
                                    </tr>

                                    <tr class="change-head2 ">
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >吨</th>
                                        <th style="text-align:center;background: #E2E9F2;border:1px solid black" >%</th>
                                    </tr>

                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; Huaqin.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>

<!--所有提示框-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 168px;">
        <div class="modal-content" style="height: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">提示</h4>
            </div>
            <div class="modal-body">请填写红色必填项</div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../../assets/global/plugins/respond.min.js"></script>
<script src="../../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../../assets/local/scripts/BEE.js"></script>
<script src="../resource/zTree_v3-master/js/jquery.ztree.all.js"></script>
<script src="../resource/zTree_v3-master/js/jquery.ztree.exhide.js"></script>
<!--datatable-->
<script src="../resource/TableTools/js/jquery.dataTables.min.js"></script>
<script src="../resource/TableTools/button/buttons.print.min.js"></script>
<script src="../resource/TableTools/button/dataTables.buttons.min.js"></script>
<script src="../resource/TableTools/button/buttons.colVis.min.js"></script>
<script src="../resource/TableTools/button/dataTables.tableTools.min.js"></script>
<script src="../resource/TableTools/js/jszip.min.js"></script>
<script src="../resource/TableTools/js/pdfmake.min.js"></script>
<script src="../resource/TableTools/js/vfs_fonts.js"></script>
<script src="../resource/TableTools/button/buttons.html5.min.js"></script>
<!--时间插件-->
<script src="../resource/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>
<!--打印插件-->
<script src="../resource/js/jQuery.print.js"></script>
<!--导出插件-->
<script src="../new-resource/src/jquery.table2excel.js"></script>
<!--loading插件-->
<script src="../resource/jQuery-showLoading/js/jquery/jquery.showLoading.min.js"></script>

<script src="../resource/js/alarm.js"></script>
<script src="../resource/js/publicFun.js"></script>
<script src="../../../assets/local/configs/setNames.js"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });
</script>
<script src="../new-resource/js/common.js"></script>
<script src="../new-resource/js/baobiaoguanli/energyConsumptionStatement.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>