<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/css/common.css">
    <link rel="stylesheet" href="../new-resource/css/baobiaoguanli/statementManagement.css">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"> </div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container">
                            <div class="content-main-left col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                <h3>报表生成</h3>

                                <div class="row showStatement">
                                    <!--<div class="statement col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
                                    <!--<div class="statement-contain curClick">-->
                                    <!--<div class="top-img">-->

                                    <!--</div>-->
                                    <!--<p><a target="_blank" href="energyCollectStatement.html"></a>总能耗报表</p>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="statement col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                                    <!--<div class="statement-contain statement-contain1">-->
                                    <!--<div class="top-img">-->

                                    <!--</div>-->
                                    <!--<p><a target="_blank" href="areaEnergyDataStatement1.html"></a>区域能耗报表</p>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="statement col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                                    <!--<div class="statement-contain ">-->
                                    <!--<div class="top-img">-->

                                    <!--</div>-->
                                    <!--<p><a target="_blank" href="officeEnergyDataManagement.html"></a>部门能耗报表</p>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="statement col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                                    <!--<div class="statement-contain ">-->
                                    <!--<div class="top-img">-->

                                    <!--</div>-->
                                    <!--<p><a target="_blank" href="officePQCCDataManagement.html"></a>水电气分科报表</p>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="statement col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
                                    <!--<div class="statement-contain ">-->
                                    <!--<div class="top-img">-->

                                    <!--</div>-->
                                    <!--<p><a target="_blank" href="electroDetail.html"></a>变压器能耗报表</p>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                </div>

                            </div>
                            <div class="content-main-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="right-content">



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>
<script src="../resource/js/alarm.js"></script>
<script src="../new-resource/js/common.js"></script>
<script src="../new-resource/js/baobiaoguanli/statementManagement.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>