.ecAll {
    margin: 10px 0 0 0;
    float: left;
    position: fixed;
    height: 200px;
    width: 360px;
    z-index: 1;
}

.ecOfficeTop5 {
    float: left;
    position: fixed;
    height: 200px;
    width: 355px;
    z-index: 1;
    margin: 10px 0px 0px 0;
    top: 331px;
}

.curEC {
    margin: 10px 0 0 0px;
    float: left;
    position: fixed;
    height: 200px;
    width: 355px;
    display: none;
    z-index: 1;
    top:550px;
}
.thd-content{
    margin-left: 338px;

}