html {
    font-size: 62.5%;
}

.page-title{
    display: none;
}
.page-content{
    min-width:980px!important;
    background: #f9f9f9;
}

/*标题*/
.left-main-content h2{
    font-weight:500;
    font-size:30px;
    text-align: center;
    /*max-width: 640px;*/
}

.left-main-content h2 span{
    font-size:1.7rem;
}
.left-main-content .synopsis{
   margin-bottom:0px !important;
    /*max-width: 620px !important;*/
    min-height:485px;
    font-size:14px;
    /*line-height: 28px;*/
}

.synopsis img{

    width: 385px;

    padding-right: 15px;

}

/*下方三个按钮*/
.bottom-icon-contain{
    height:90px;
    border-radius: 4px !important;
    background: url('../../shouye/infoMap/img/nengyuan.png') no-repeat 15% center;
    background-color: #62A8DB;
    background-size: 23%;
    cursor: pointer;
    text-align: right;
    padding-top:15px;
    box-sizing: border-box;
    color:white;
}

.bottom-icon-contain1{

    background: url('../../shouye/infoMap/img/shebui.png') no-repeat 15% center;
    background-color: #35DAAF;
    background-size: 20%;

}

.bottom-icon-contain2{
    background: url('../../shouye/infoMap/img/houqin.png') no-repeat 15% center;
    background-color: #F08348;
    background-size: 20%;
}

.bottom-icon-contain .title{
   padding-left:46%;
    box-sizing: border-box;
    font-size:22px;
    margin-bottom:10px !important;
    text-align: left;

}
.bottom-icon-contain .small-title{
    padding-left:46%;
    box-sizing: border-box;
    font-size:14px;
    text-align: left;
}
.bottom-jump-icon{

    margin: 21px 0;
}

@media (max-width: 1366px){

    .left-main-content .synopsis{

        font-size:12px;
    }

    .left-main-content h2{

        font-size:26px;
    }

    /*下方三个按钮*/
    .bottom-icon-contain{
        height:78px;
        border-radius: 4px !important;
        background: url('../../new-resource/img/nengyuan.png') no-repeat 15% center;
        background-color: #62A8DB;
        background-size: 26%;
        cursor: pointer;
        text-align: right;
        padding-top:14%;
        box-sizing: border-box;
        color:white;
    }

    .bottom-icon-contain1{

        background: url('../../new-resource/img/shebui.png') no-repeat 15% center;
        background-color: #35DAAF;
        background-size: 26%;

    }

    .bottom-icon-contain2{
        background: url('../../new-resource/img/houqin.png') no-repeat 15% center;
        background-color: #F08348;
        background-size: 24%;
    }

    .bottom-icon-contain .title{
        padding-left:44%;
        box-sizing: border-box;
        font-size:18px;
        margin-bottom:5px !important;
        text-align: left;

    }
    .bottom-icon-contain .small-title{
        padding-left:44%;
        box-sizing: border-box;
        font-size:12px;
        text-align: left;
    }

}
.left-date{

    font-size: 22px !important;

    color: #2B2B2B;

}
.left-main-content{

    padding: 15px;

    background: #ffffff;

    box-shadow: 10px 10px 10px #eceff1;

    -moz-box-shadow:10px 10px 10px #eceff1;

    -webkit-box-shadow: 10px 10px 10px #eceff1;

    border-radius: 4px !important;
}
.bottom-icon-contain{

    box-shadow: 1px 5px 20px #7bbbea;

    -moz-box-shadow:1px 5px 20px #7bbbea;

    -webkit-box-shadow: 1px 5px 20px #7bbbea;

}
.bottom-icon-contain1{

    box-shadow: 1px 5px 20px #48e2ba;

    -moz-box-shadow:1px 5px 20px #48e2ba;

    -webkit-box-shadow: 1px 5px 20px #48e2ba;

}
.bottom-icon-contain2{

    box-shadow: 1px 5px 20px #ef978c;

    -moz-box-shadow:1px 5px 20px #ef978c;

    -webkit-box-shadow: 1px 5px 20px #ef978c;

}
.thd-content{

    box-shadow: 10px 10px 10px #eceff1;

    -moz-box-shadow:10px 10px 10px #eceff1;

    -webkit-box-shadow: 10px 10px 10px #eceff1;

}
.supplementBlock{

    display: block;

}