.right-header-right{
    width: 465px;
    height: 100%;
    float: right;
}
.pic-one{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-1.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-two{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-2.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-three{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-3.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.header-right-lists{
    float: left;
    margin-right: 10px;
}
.right-header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #808080;
    line-height: 30px;
    text-indent: 20px;
}
.header-one{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.header-two{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.header-three{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.computer-left-top span{
    position: absolute;
    left: 20px;
    top: 300px;
}
.computer-left-top span:nth-child(2){
    left: 75px;
    top: 300px;
}
.computer-left-top span:nth-child(3){
    left:100px;
    top: 280px;
}
.computer-left-top span:nth-child(4){
    width: 145px;
    height: 2px;
    background: #337ab7;
    left: 90px;
    top: 305px;
}
.computer-left-top span:nth-child(5){
    top: 320px;
    left: 111px;
}
.wrap{
    width: 100% !important;
    height: 100%;
}
.content-main-1{
    height: 70% !important;
}
.main-left-middle{
    height:90%;
}
.tree-2{
    display: block;
    height:80%;
}
.right-content{
    width: 100%;
    height: 100%;
}
.right-header-right{
    width:270px;
}
.header-right-lists-1{
    width:130px;
}
.boiler-left-1{
    background:#fff;
    height:490px;
}
.boiler-left-2{
    background:#fff;
    float:right;
    position:relative;
    width:100%;
}
.computer-left-top{
    width:400px;
    height:400px;
    position:relative;
    margin:0 auto;
}
.computer-left-top span:nth-child(6){
    position:absolute;
    left:270px;
}
.computer-left-top span:nth-child(7){
    position:absolute;
    left:300px;
}
.rangeOfCriteria{
    height:80px;
    position:absolute;
    top:430px;
    z-index: 10;
}
.range-li-1{
    width:150px;
    height:20px;
    margin-bottom:10px;
    float:left;
}
.range-li-2{
    width:170px;
    height:20px;
    margin-bottom:10px;
    float:left;
}
.range-li-3{
    width:180px;
    height:20px;
    margin-bottom:10px;
    float:left;
}
#rheader-content-52{
    width:100%;
    height:400px;
}
.rheader-content-lis{
    background:#fff;
    height:80px;
}
.checkButton{
    margin-top:10px;
}
.checkbox-inline-1{
    margin-left:10px;
}
#tree-3{
    display: none;
    height: 200px;
}
.rheader-content-rights{
    height:100%;
}
.rheader-content-lefts{
    width: 350px;
    float: left;
    height: 100%;
}
.rheader-content{
    height: 600px;
}
.left-middle-input{
    height: 30px;
    margin-top: 20px;
}
.left-middle-select{
    margin: 0 auto;
}
.types{
    height: 30px;
}
#datetimepicker{
    width:30px;
    height: 32px;
    background: url(../img/clendar.png)no-repeat;
    background-size: 25px;
    background-position:center;
    cursor: pointer;
    font-size: 0;
    float: right;
}
.datetimepickereType{
    width: 150px;
    height:30px;
    line-height: 30px;
    border:1px solid #cccccc;
    text-align: center;
    min-height: 30px;
    margin: 0 auto;
    font-size: 10px;
    float: left;
}