.yesorno{
    display: block;
    float: left;
    width: 20px !important;
    height: 20px !important;
}
.sure{
    display: block !important;
    width: 140px !important;
    margin: 0 auto !important;
    height: 40px !important;
    margin-top: 20px !important;
}
.totalTitle{
    font-size: 23px !important;
    color: #fff !important;
    line-height: 46px !important;
    position: absolute !important;
    left: 150px !important;
}