*{
	font-family: 微软雅黑;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.L-wrap{
	width: 700px;
	height: 600px;
	background: #ffffff;
	border: 1px solid #666666;
	margin: 0 auto;
}
.L-header{
	height: 30px;
	background: #e7e8ea;
	line-height: 30px;
	text-indent: 10px;
}
.L-close{
	width: 30px;
	height: 30px;
	float: right;
	background: url(../img/close.png)no-repeat;
	background-size: 15px;
	background-position: center;
	cursor: pointer;
}
.L-select{
	height: 50px;
	background: #f5f6f8;
}
.L-select span:nth-child(1){
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-indent: 18px;
}
.L-select input{
	height: 30px;
	background: url(../img/canlendar.png)no-repeat #ffffff;
	background-size: 20px;
	background-position: 98% center;
	outline: none;
	border: 1px solid #a9aaac;
	cursor: pointer;
}
.L-content{
	height: 450px;
	background:#f5f6f8;
}
.L-content-header{
	display:block;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	height:30px;
	min-width: 120px;
	font-weight: bold;
}
.L-content-contents{
	width: 660px;
	margin: 0 auto;
	height: 400px;
	background: #f5f6f8;
}
.L-content-tip{
	width: 90px;
	height: 30px;
	border-radius: 4px;
	line-height:30px;
	text-align: center;
	float: left;
	border:1px solid #a7adad;
	border-bottom: 1px solid #ffffff; 
	background: #ffffff;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	cursor: pointer;
}
.L-content-tip:nth-child(2){
	border-left: none;
	border-bottom-right-radius: 0px;
	border-bottom: 1px solid #a7adad;
}
.L-content-block{
	height: 370px;
	border: 1px solid #a7adad;
	border-top-radius: 0px;
	background: #ffffff;
	position: absolute;
	width: 660px;
}
.L-clearfix{
	clear: both;
}
.L-replace{
	height: 29px;
}
.L-content-block-main{
	height: 340px;
	position: absolute;
	width: 100%;
	top: 0px;
	left:0px;
}
.L-loadding{
	width: 100%;
	height: 100%;
	background: url(../img/loading.gif)no-repeat;
	background-position: center;
	background-size: 150px;
	position: absolute;
	top: 0;
	left: 0;
}
#echartImg{
	width: 100%;
	height: 100%;
}
.shows{
	opacity: 1;
	z-index: 1;
}
.hiddens{
	opacity: 0;
	z-index: 0;
}
.L-content-block-main:nth-child(2){
	overflow-y: scroll;
}
th,td{
	text-align: center !important;
}

#datatables_wrapper{
	margin-top: 20px;
}

.L-arrowBlock{
	height:30px;
	width: 658px;
	margin: 0 auto;
}
.L-leftArrow{
	width:30px;
	height:30px;
	float: left;
	background: url("../img/leftArrowa.png")no-repeat;
	background-size: 20px;
	background-position: center;
	cursor: pointer;
}
.L-rightArrow{
	width:30px;
	height:30px;
	background: url("../img/rightArrowa.png")no-repeat;
	float: right;
	background-size: 20px;
	background-position: center;
	cursor: pointer;
}
#datepicker{
	text-indent: 20px;
}