.on-duty-worker{

    overflow: hidden;

    min-height: 30px;

}
.on-duty-worker li{

    float: none;

    cursor: pointer;

}
#Worker-Modal li{

    width: 200px !important;

    margin-right: 10px;

}
#Worker-Modal li input{

    width: 198px !important;

}
.datetimepicker .table-condensed{

    width: 200px !important;

}
#radioblock{

    margin-top: 10px;

}
#radioblock input{

    margin-left: -9px;

}