.total-wrap{
	font-family: 微软雅黑;
	width:100%;
	height:100%;
	/*display:flex;*/
	/*display:-webkit-flex;*/
	/*!*display:-ms-flexbox;*!*/
	/*!*display:-webkit-box;*!*/
	/*flex-wrap:nowrap;*/
	/*-webkit-flex-wrap:nowrap;*/
	/*-ms-flex-wrap:nowrap;*/
	/*justify-content: flex-start;*/
	/*-webkit-justify-content: flex-start;*/
	/*-webkit-box-pack:start;*/
	/*-ms-flex-pack: start;*/
	overflow-x: auto;
	position:relative;
	min-height: 1000px;
}

body{
	-webkit-text-size-adjust:none !important;
}
.content-main-1{
	width:100%;
	height:80% !important;
}
.main-left-middle-1{
	height: 100%;
}

.content-main-left{
	display:block;
	width: 250px;
	height: 100%;
	border: 1px solid #ccc;
	background: #f1f3fa;
	vertical-align: top;
	overflow-y: auto;
	overflow-x: hidden;
}

.content-main-right{
	margin-left: 0;
	height: 100%;
	width:100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.content-main-left ul{
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	max-height: 500px;
	overflow-y: auto;
}
.content-main-left li{
	list-style: none;
	padding:10px;
	cursor: pointer;
	text-align: center;
	margin: 0 10px;
	border-bottom: 1px solid #ccc;
} 
.content-main-left li:hover{
	color: rgb(255, 192, 0); 
}
.chooseFunction{
	margin-top: 10px;
	margin-left:6px;
	/*min-width: 250px;*/
}
.functions{
	display: inline-block;
	width: 15%;
	height: 50px;
	background: yellow;
	margin: 0px;
	border: 1px solid #ccc;
	cursor: pointer;
	position:relative;
}

.functions-badge{
	position:absolute;
	top:-5px;
	right:-5px;
	font-size:9px;
	/*display:none;*/
}

.functions:hover{
	border-color:red;
	background-color: #ededed;
	border-width: 2px;
}

.functions-1{
	margin-left: 2px;
	background: url(../img/home-page.png)no-repeat;
	background-size: 80%;
	background-position: center;
}
.functions-2{
	background: url(../img/refresh.png)no-repeat;
	background-size: 80%;
	background-position: center;
}

.functions-3{
	background: url(../img/plus.png)no-repeat;
	background-size: 80%;
	background-position: center;
}
.functions-4{
	background: url(../img/minus.png)no-repeat;
	background-size: 80% ;
	background-position: center;
}

.functions-5{
	background: url(../img/recover.png)no-repeat;
	background-size: 80%;
	background-position: center;
}
.functions-6{
	background: url(../img/eyes.png)no-repeat;
	background-size: 80% 60%;
	background-position: center;
}
.content-main-right{
	/*border: 1px solid #ccc;*/
	position:relative;
}
.content-right{
	position:absolute;
	height: 100%;
	width: 100%;
}

/*.totalTitle{*/
	/*font-size: 23px;*/
	/*color: #fff;*/
	/*line-height: 46px;*/
	/*position: absolute;*/
	/*left: 150px;*/
/*}*/


.content-ctrls-hide{
	/*隐藏控制模块*/
	display:none;
}

.content-ctrls-show{
	/*显示控制模块*/
	position:absolute;
	display:flex;
	display:-webkit-flex;
	flex-direction: column;
	flex-wrap:nowrap;
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	border:1px solid grey;
	padding:2px;
	background-color: #353e4d;
	/*visibility: hidden;*/
}

#content-ctrls caption{
	padding-bottom:20px;
	font-size: 16px !important;
	color:white !important;
	margin-left:20px;
}
#content-ctrls table{
	width:100%;
}

#content-ctrls table td{
	text-align: center;
}

#content-ctrls table td button{
	margin-bottom:5px;
}

#content-ctrls table td:nth-child(1) button{
	background-color: #206ef6 !important;
	border-color: #ccc !important;
	color:white !important;
}

#content-ctrls table td:nth-child(2) button{
	background-color: #2bd3b0 !important;
	border-color: #ccc !important;
	color:white !important;
}

#content-ctrls table td:nth-child(3) button{
	background-color: #d684ee !important;
	border-color: #ccc !important;
	color:white !important;
}

#content-ctrls table td textarea{
	background: #b4b7bc;
	margin-bottom:10px;
	resize: none;

}

.content-menu-show{
	position : absolute;
	background-color: #90b4e8;
	border:1px solid grey;
	padding:2px;
	display:block;
}

.content-menu-show>button{
	width:80px;
	background-color:#09a4d8;
	color:#0000FF;
	line-height: 24px;
}

.content-menu-hide{
	display:none;
}

#content-ctrls > div{
	height:30px;
	width: 100px;
	background-color: #00a5bb;
}

.list-group{
	padding-left:0;
	margin-top:0;
	display:block;
	list-style-type: disc;
}

.list-group-item{
	border-width: 0;
}

.list-group .selected{
	border-left-width: 4px;
	border-left-color:red;
	font-size:14px;
	font-weight: bold;
	background: grey;
	color:white;
}

.monitor-fullscreen{
	z-index:10060;
	margin:0;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
}

.page-content{
	overflow: hidden !important;
}
/*右侧流程图外层包裹div*/
#right-container{
	position: absolute;
	left:250px;
	top:0;
	width:800px;
	height:800px;
	overflow: hidden;
	max-height: 1097px;
}
#eyeOnOff{
	border-radius: 0 8px 8px 0 !important;
	outline: none !important;
}