.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-top: 3%;
    cursor: pointer;
}
.main-contents-header-lists0{
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    text-indent: 10px;
}
.content-main-contents-header{
    margin-bottom: 0px;
}
.wrap{
    width: 100%;
    height: 100%;
}
.content-main-1{
    height: 25% !important;
}
.all_aa_2{
    margin-left: 15% !important;
}
.electricityWord{
    margin-top:50px;
    text-align:center;
}
.content-main-2{
    width:100%;
    height:40% !important;
}
.main-left-middle{
    height: 100%;
    width: 100%;
}
.left-middle-tab_aa_7{
    background:#7f7f7f;
    color:#ffffff;
    margin-left:20%;
}
.tree-7{
    height:80%;
    margin-top:10px;
}
 .content-main-right{
	height:100%;
	left: 0 !important;
}
.main-contents-header-lists0{
    background:#808080;
    color:#fff;
    margin-bottom:0px;
}
.main-contents-table{
    text-align: center;
    margin-top: 10px;
}
.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.typee p{
    margin-top:50px;
    text-align:center;
}
.tree-1{
    height: 200px;
}
.total-warp{
    width: 100%;
    height: auto;
}
.left-middle-input{
    margin-top: 20px;
}
.energy-types div{
    border: 2px solid #ffffff;
}
#allPointer,#allOffices{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.left-middle-input{
    /*width: 70px;*/
}
#typeSelection{
    margin-top: 20px;
}
.left-middle-select{
    margin: 0 auto;
}
.types{
    height: 30px;
}
.datetimepickereType{
    width: 150px;
    height: 30px;
    float: left;
    border: 1px solid #a9a9a9;
    font-size: 10px;
    line-height: 30px;
}
#datetimepicker{
    width: 30px;
    height:30px;
    float: right;
    cursor: pointer;
    font-size: 0;
    background: url("../img/clendar.png")no-repeat;
    background-size: 25px;
    background-position: center;
    outline: none;
}
#datatables th{
    text-align: center;
}
.tree-11{
    margin-top: 20px;
    width: 50%;
    float: left;
}

.ztree{
    height: 200px;
    overflow: auto;
    width: 100%;
}
.tree-11 div{
    width: 70px;
    height:25px;
    background: #7f7f7f;
    display: block !important;
    margin: 0 auto !important;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
}
#energyTypes{
    margin-top: 20px;
    height: 178px;
}
.main-contents-table img{
    position: absolute;
    top: 300px;
}
.alaLogID{
    font-size: 0;
    padding: 0!important;
}
tbody tr{
    width: 100%;
}
.dataTables_wrapper .dataTables_info{
    clear: none !important;
    margin-left: 20px;
    padding-top: 5px !important;
}

/*不同报警等级 文字颜色不同*/
.general-alarm{
    color:#4472c4;
}

.ordinary-alarm{
    color:#ffcf00;
}

.urgency-alarm{
    color:orangered;
}

.particularly-urgency-alarm{
    color:#c00000;
}

