<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--my css-->
    <link rel="stylesheet" href="../resource/css/css/assetManagement-1.css">

    <link id="table_color" rel="stylesheet" href="../resource/css/productionOrder.css">

    <link rel="stylesheet" href="../resource/station/chooseStation.css">

    <style>

        .add-input-father{

            padding: 0 !important;

        }

        .add-input-block{

            width: 100%;

        }

        .table.dataTable thead .sorting:after{
            content:'' !important;
            opacity:0 !important;
        }


        .table.dataTable thead .sorting_asc:after{
            content:'' !important;
            opacity:0 !important;
        }

    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">

                    <div class="total-warp">
                        <div class="wrap">
                            <!-- 标题 -->
                            <div class="content-main-contents content-main-right">
                                <ul class="content-main-contents-header">
                                    <li class="main-contents-header-lists0 noprint">工单操作</li>
                                </ul>
                                <ul class="condition-query noprint">
                                    <li><label for="">工单号：</label>
                                        <div class="input-blocked" id="filter_global">
                                            <input type="text" class="filterInput" id="gdcode">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">工单状态：</label>
                                        <div class="input-blocked">
                                            <select  id="gdzt" class="returnZero">
                                                <option value="0" selected>全部</option>
                                                <option value="1">待下发</option>
                                                <option value="2">待分派</option>
                                                <option value="3">待执行</option>
                                                <option value="4">执行中</option>
                                                <option value="5">等待资源</option>
                                                <option value="6">待关单</option>
                                                <option value="7">任务关闭</option>
                                                <option value="999">任务取消</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="routeShow">
                                        <label for="">线点：</label>
                                        <div class="input-blocked">
                                            <select id="line"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">
                                            <span class="user-defined-department"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <select id="bumen"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">
                                            <span class="user-defined-workshop"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <select id="influence-unite"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">
                                            <span class="user-defined-group"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <select id="userClass"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">受理日期：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock min" name="min">
                                        </div>
                                        <label for="">到</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock max" name="max">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">原因分类：</label>
                                        <div class="input-blocked">
                                            <select id="cause-classification"></select>
                                        </div>
                                    </li>
                                    <li><button class="btn btn-success btn1" id="selected">查询</button></li>
                                    <li><button class="btn btn-success btn1 resites">重置</button></li>
                                    <li>
                                        <button type="button" class="btn red delete chexiao">
                                            <i class="fa fa-trash"></i>
                                            <span>回退</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn red delete zuofei" title="未完成的工单可进行作废操作">
                                            <i class="fa fa-trash"></i>
                                            <span>取消</span>
                                        </button>
                                    </li>
                                    <li><button class="btn btn-success btn1" onclick="javascript:window.print();">打印</button></li>
                                    <li class="excelButton"></li>
                                    <div class="clearfix"></div>
                                </ul>
                                <!-- 表格 -->
                                <div class="content-main-contents">
                                    <div class="main-contents-table">
                                        <table id="scrap-datatables" class="table table-striped table-bordered table-advance table-hover" cellspacing="0" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <!--<img src="../resource/img/loading.gif" alt="">-->
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!--弹窗-->
    <!--查看详情-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 665px;">
            <div class="modal-content" style="height: 665px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">工单详情</h4>
                </div>
                <div class="modal-body">
                    <div class="gongdanContent">
                        <ul class="gongdanList" id="myApp33">
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels">工单类型：</div>
                                <div class="input-blockeds">
                                    <input type="radio" class="inpus" id="ones" value="1" v-model="picked" v-on:click="radios" disabled="true"><label for="ones">快速</label>
                                    <input type="radio" class="inpus" id="twos" value="0" v-model="picked" v-on:click="radios" disabled="true"><label for="twos">普通</label>
                                </div>
                            </li>
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels colorTip">工单来源 *：</div>
                                <div class="input-blockeds">
                                    <select v-model="gdly" class="gdly">
                                    </select>
                                </div>
                            </li>
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels colorTip">任务级别 *：</div>
                                <div class="input-blockeds">
                                    <select v-model="rwlx">
                                        <option value="1">一级任务</option>
                                        <option value="2">二级任务</option>
                                        <option value="3">三级任务</option>
                                        <option value="4">四级任务</option>
                                    </select>
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">报修电话：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="telephone" class="shishi">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">报修人信息：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="person">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">故障位置：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="place">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">
                                    <span class="user-defined-department"></span>
                                    ：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="section">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">系统类型：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="matter">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">设备编码：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sbSelect">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">设备名称：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sbMC">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">
                                    <span class="user-defined-group"></span>
                                    ：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sections">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">发生时间：</div>
                                <div class="input-blockeds disabled-block">
                                    <input type="text" class="disabled-block otime" disabled="true">
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <div>
                                <div class="labels">故障描述：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none" v-model="remarks"></textarea>
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-info" id="viewImage">查看图片</button>
                                <div class="showImage" style="display: none;border: 1px solid #cccccc;padding: 10px;">

                                </div>
                            </div>
                            <div class="table-block">
                                <div class="table-title">
                                    <span class="spanhover">执行人员</span>
                                </div>
                                <span class="draw-border"></span>
                                <div class="tableHoverL">
                                    <div class="tableHover">
                                        <table class="table table-striped table-bordered table-advance table-hover dataTable no-footer" id="personTable1">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="table-block">
                                <div class="table-title">
                                    <span class="spanhover">维修备件</span>
                                </div>
                                <span class="draw-border"></span>
                                <div class="tableHoverL">
                                    <div class="tableHover">
                                        <table class="table table-striped table-bordered table-advance table-hover dataTable no-footer" id="personTables1">
                                            <thead></thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="deal-with">处理记录</div>
                                <div>
                                    <ul class="deal-with-list">

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--关单-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 665px">
            <div class="modal-content" style="height: 665px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">工单评价</h4>
                </div>
                <div class="modal-body">
                    <div class="gongdanContent">
                        <ul class="gongdanList" id="pingjia">
                            <li class="floatLeft" style="line-height: 26px;display: block">
                                <div class="labels colorTip">满意度 *：</div>
                                <div class="input-blockeds">
                                    <input type="radio" class="inpus" v-model="pickeds" id="henmanyi" value="5" style="margin-left: -10px !important;" v-on:click="radioss"><label for="henmanyi">很满意</label>
                                    <input type="radio" class="inpus" v-model="pickeds" id="manyi" value="4" style="margin-left: -10px !important;" v-on:click="radioss"><label for="manyi">满意</label>
                                    <input type="radio" class="inpus" v-model="pickeds" id="yiban" value="3" style="margin-left: -10px !important;" v-on:click="radioss"><label for="yiban">一般</label>
                                    <input type="radio" class="inpus" v-model="pickeds" id="cha" value="2" style="margin-left: -10px !important;" v-on:click="radioss"><label for="cha">差</label>
                                    <input type="radio" class="inpus" v-model="pickeds" id="hencha" value="1" style="margin-left: -10px !important;" v-on:click="radioss"><label for="hencha">很差</label>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <div>
                                <div class="labels">评价意见：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none" v-model="beizhu"></textarea>
                                </div>
                            </div>
                            <p>详细信息如下：</p>
                            <li class="floatLeft">
                                <div class="labels">报修电话：</div>
                                <div class="input-blockeds disabled-block">
                                    <input type="text" class="disabled-block" v-model="baoxiudianhua" disabled="true">
                                </div>
                            </li>
                            <li class="floatRight">
                                <div class="labels">
                                    <span class="user-defined-department"></span>
                                    ：</div>
                                <div class="input-blockeds disabled-block">
                                    <input type="text" class="disabled-block" v-model="baoxiubumen" disabled="true">
                                </div>
                            </li>
                            <li class="floatLeft">
                                <div class="labels">报修人姓名：</div>
                                <div class="input-blockeds disabled-block">
                                    <input type="text" class="disabled-block" v-model="baoxiurenxingming" disabled="true">
                                </div>
                            </li>
                            <li class="floatRight">
                                <div class="labels">故障位置：</div>
                                <div class="input-blockeds disabled-block">
                                    <input type="text" class="disabled-block" v-model="weixiudidian" disabled="true">
                                </div>
                            </li>
                            <li class="floatLeft">
                                <div class="labels">
                                    <span class="user-defined-group"></span>
                                    ：</div>
                                <div class="input-blockeds disabled-block">
                                    <input type="text" class="disabled-block" v-model="weixiubumen" disabled="true">
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <div>
                                <div class="labels">备注：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none" v-model="baoxiubeizhu" disabled="true"></textarea>
                                </div>
                            </div>
                            <div>
                                <div class="labels">维修内容：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none"  class="wxbeizhu" v-model="wxbeizhu" disabled="true"></textarea>
                                </div>
                            </div>

                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pingjiaButton">关闭工单</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框确认撤销吗？-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">提示</h4>
                </div>
                <div class="modal-body">您确定要进行回退操作吗？</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框确认作废-->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">提示</h4>
                </div>
                <div class="modal-body">您确定要进行取消操作吗？</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--维修材料弹出框-->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 935px !important;height: 494px;">
            <div class="modal-content" style="width: 935px !important;height: 494px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">维修备件申请</h4>
                </div>
                <div class="modal-body" style="height: 375px;overflow-y: scroll">
                    <div style="width: 645px;background:#ffffff;float: left">
                        <ul class="condition-query">
                            <li style="width: 133px;">
                                <div class="cont-col1" style="cursor: pointer">
                                    <div class="label label-sm label-warning tianJiaCaiLiao" style="display: none;line-height: 34px;padding: 7px 14px;font-family: 微软雅黑;font-size: 14px;">
                                        <i class="fa fa-plus" style="margin-right: 2px;"></i>添加维修备件
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <table class="table table-striped table-bordered table-advance table-hover dataTable no-footer" id="personTables11">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                        <div style="display: inline-block;vertical-align: middle">
                            <div class="labels">当前状态：</div>
                            <div class="input-blockeds" style="height: auto;width: 240px;">
                                <input type="text" class="nowState" style="width: 238px;">
                            </div>
                        </div>
                        <div>
                            <div class="labels">备注：</div>
                            <div class="input-blockeds" style="height: auto;width: 372px;">
                                <textarea id="bjremark" style="height: 50px;outline: none"></textarea>
                            </div>
                        </div>
                        <div class="divBlock bjpicture" style="margin-top: 10px;width: 611px;">
                            <button type="button" class="btn btn-info" id="viewBJImage">备件图片</button>
                            <div class="bjImg" style="display: none;border: 1px solid #cccccc;padding: 10px;"></div>
                        </div>
                    </div>
                    <div style="width: 235px;background: #ffffff;float: right">
                        <div class="deal-with" style="display: inline-block">处理记录</div>
                        <div>
                            <ul class="deal-with-list">
                                <!--<li><span class="list-dot"></span>2017-08-15 某某某处理</li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">

                    <!--<button type="button" class="btn btn-primary">确定</button>-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--图片详情显示-->
    <div class="modal fade" id="img-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">图片详情</h4>
                </div>
                <div class="modal-body">
                    <img src="" style="max-width: 667px;">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--等待load-->
    <div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
        <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

        </div>
    </div>
    <!--所有提示框-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">提示</h4>
                </div>
                <div class="modal-body">请填写红色必填项</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm1">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<!--公共js-->
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->
<script src="../resource/js/publicQX.js"></script>

<script src="../resource/js/publicGD.js"></script>
<!--本页面js-->
<script src="../resource/js/productionOrder-8.js"></script>

<script src="../resource/js/equipmentSelect.js"></script>

<script src="../resource/station/chooseStation.js"></script>


<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>