<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--my css-->
    <link rel="stylesheet" href="../resource/css/css/assetManagement-1.css">

    <link id="table_color" rel="stylesheet" href="../resource/css/productionOrder.css">

    <link rel="stylesheet" href="../resource/station/chooseStation.css">

    <style>

        .add-input-father{

            padding: 0 !important;

        }

        .add-input-block{

            width: 100%;

        }

        #select-Dev{

            cursor: pointer;

            color: #00a0e9;

        }

    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap">
                            <!-- 标题 -->
                            <div class="content-main-contents content-main-right">
                                <ul class="content-main-contents-header noprint">
                                    <li class="main-contents-header-lists0">工单操作</li>
                                </ul>
                                <ul class="top-option"></ul>
                                <ul class="condition-query noprint">
                                    <li><label for="" style="display: inline-block;width: 70px;text-align: right">工单号：</label>
                                        <div class="input-blocked" id="filter_global">
                                            <input type="text" class="global_filter" id="gdcode">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">工单时间：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock gdTime">
                                        </div>
                                        <label for="">到</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock gdTime">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">受理时间：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock min">
                                        </div>
                                        <label for="">到</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock max">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">闭环时间：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock">
                                        </div>
                                        <label for="">到</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">工单状态：</label>
                                        <div class="input-blocked">
                                            <select  id="gdzt" class="returnZero">
                                                <option value="0" selected>全部</option>
                                                <option value="1">待下发</option>
                                                <option value="2">待分派</option>
                                                <option value="3">待执行</option>
                                                <option value="4">执行中</option>
                                                <option value="5">等待资源</option>
                                                <option value="6">待关单</option>
                                                <option value="7">任务关闭</option>
                                                <option value="999">任务取消</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="ddyy" style="display: none">
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">等待原因：</label>
                                        <div class="input-blocked">
                                            <select  id="dengyy">

                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">工单类型：</label>
                                        <div class="input-blocked">
                                            <select  id="gdlx" class="returnEmpty">
                                                <option value="">全部</option>
                                                <option value="0">普通</option>
                                                <option value="1">快速</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">工单来源：</label>
                                        <div class="input-blocked">
                                            <select id="gdly">

                                            </select>
                                        </div>
                                    </li>
                                    <li class="routeShow">
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">线路：</label>
                                        <div class="input-blocked">
                                            <select id="line" class="returnEmpty"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 75px;text-align: right">
                                            <span class="user-defined-department"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <!--<select id="station"class="returnEmpty"></select>-->
                                            <select id="bumen" ></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">故障描述：</label>
                                        <div class="input-blocked">
                                            <input type="text" id="gzms">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 75px;text-align: right">
                                            <span class="user-defined-workshop"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <select id="yxdw"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;text-align: right">
                                            <span class="user-defined-group"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <select id="userClass"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">任务级别：</label>
                                        <div class="input-blocked">
                                            <select id="rwlx" class="returnZero">
                                                <option value="0">全部</option>
                                                <option value="1">一级任务</option>
                                                <option value="2">二级任务</option>
                                                <option value="3">三级任务</option>
                                                <option value="4">四级任务</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">系统类型：</label>
                                        <div class="input-blocked">
                                            <select id="xtlx">

                                            </select>
                                        </div>
                                    </li>
                                    <br>
                                    <li><button class="btn btn-success btn1" id="selected">查询</button></li>
                                    <li><button class="btn btn-success btn1 resites">重置</button></li>
                                    <li>
                                        <button type="button" class="btn red delete chexiao">
                                            <i class="fa fa-trash"></i>
                                            <span>回退</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn red delete zuofei" title="未完成的工单可进行作废操作">
                                            <i class="fa fa-trash"></i>
                                            <span>取消</span>
                                        </button>
                                    </li>
                                    <li><button class="btn btn-success btn1" onclick="javascript:window.print();">打印</button></li>
                                    <!--<li><button class="btn btn-success btn1 excelButton">打印</button></li>-->
                                    <li class="excelButton"></li>
                                    <div class="clearfix"></div>
                                </ul>
                                <!-- 表格 -->
                                <div class="content-main-contents">
                                    <div class="main-contents-table">
                                        <table id="scrap-datatables" class="table table-striped table-bordered table-advance table-hover" cellspacing="0" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <!--<img src="../resource/img/loading.gif" alt="">-->
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!--模态框详情-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 711px;width:1047px !important;">
            <div class="modal-content" style="height: 711px;width: 1047px !important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">工单详情</h4>
                </div>
                <div class="modal-body">
                    <div class="gongdanContent" style="width: 680px;float: left;height:563px!important;">
                        <ul class="gongdanList" id="myApp33">
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels">工单类型：</div>
                                <div class="input-blockeds">
                                    <input type="radio" class="inpus" id="ones" value="1" v-model="picked" v-on:click="radios" disabled="true"><label for="ones">快速</label>
                                    <input type="radio" class="inpus" id="twos" value="0" v-model="picked" v-on:click="radios" disabled="true"><label for="twos">普通</label>
                                </div>
                            </li>
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels colorTip">工单来源 *：</div>
                                <div class="input-blockeds">
                                    <select v-model="gdly" class="gdly">

                                    </select>
                                </div>
                            </li>
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels colorTip">任务级别 *：</div>
                                <div class="input-blockeds">
                                    <select v-model="rwlx">
                                        <option value="1">一级任务</option>
                                        <option value="2">二级任务</option>
                                        <option value="3">三级任务</option>
                                        <option value="4">四级任务</option>
                                    </select>
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">报修电话：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="telephone" class="shishi">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">报修人信息：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="person">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">故障位置：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="place">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">
                                    <span class="user-defined-department"></span>
                                    ：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="section">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">系统类型：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="matter">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">设备编码：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sbSelect">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">设备名称：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sbMC">
                                </div>
                            </li>
                            <li class="floatLi">
                                <div class="labels">
                                    <span class="user-defined-group"></span>
                                    ：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sections">
                                </div>
                            </li>
                            <li class="floatLi" style="line-height: 26px;">
                                <div class="labels">发生时间：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="datatimeblock otime">
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <div class="divBlock">
                                <div class="labels">故障描述：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none" v-model="remarks"></textarea>
                                </div>
                            </div>
                            <div class="divBlock">
                                <div class="labels">维修内容：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none"  class="wxbeizhu" v-model="wxbeizhu"></textarea>
                                </div>
                            </div>
                            <div class="divBlock bxpicture" style="margin-top: 10px;">
                                <button type="button" class="btn btn-info" id="viewImage">查看图片</button>
                                <div class="showImage" style="display: none;border: 1px solid #cccccc;padding: 10px;"></div>
                            </div>
                            <div class="divBlock bjpicture" style="margin-top: 10px;width: 611px;">
                                <button type="button" class="btn btn-info" id="viewBJImage">备件图片</button>
                                <div class="bjImg" style="display: none;border: 1px solid #cccccc;padding: 10px;"></div>
                            </div>
                            <div class="divBlock wgpicture" style="margin-top: 10px;width: 611px;">
                                <button type="button" class="btn btn-info" id="viewWGImage">完工图片</button>
                                <div class="wgImg" style="display: none;border: 1px solid #cccccc;padding: 10px;"></div>
                            </div>
                            <div class="table-block divBlock">
                                <div class="table-title">
                                    <span class="spanhover">执行人员</span>
                                </div>
                                <span class="draw-border"></span>
                                <div class="tableHoverL">
                                    <div class="tableHover">
                                        <table class="table table-striped table-bordered table-advance table-hover dataTable no-footer" id="personTable1">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="table-block divBlock">
                                <div class="table-title">
                                    <span class="spanhover">维修备件</span>
                                </div>
                                <div class="tableHoverL">
                                    <div class="tableHover">
                                        <table class="table table-striped table-bordered table-advance table-hover dataTable no-footer" id="personTables1">
                                            <thead></thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="deal-with">处理记录</div>
                                <div>
                                    <ul class="deal-with-list">

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="right-content" style="float: right;width: 300px;">
                        <p style="margin-bottom: 0">处理记录</p>
                        <div class="processing-record">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框确认撤销吗？-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">提示</h4>
                </div>
                <div class="modal-body">您确定要进行回退操作吗？</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框确认作废-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">提示</h4>
                </div>
                <div class="modal-body">您确定要进行取消操作吗？</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--所有提示框-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel3">提示</h4>
                </div>
                <div class="modal-body">未完成状态工单无法进行撤销操作</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
        <div class='modal-dialog'style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

        </div>
    </div>
    <!--图片详情显示-->
    <div class="modal fade" id="img-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="height: auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">图片</h4>
                </div>
                <div class="modal-body">
                    <img src="" style="max-width: 667px;">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<!--公共js-->
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->
<script src="../resource/js/publicQX.js"></script>

<script src="../resource/js/publicGD.js"></script>
<!--本页面js-->
<script src="../resource/js/productionOrder-6.js"></script>

<script src="../resource/js/equipmentSelect.js"></script>

<script src="../resource/station/chooseStation.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>