<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--my css-->
    <link rel="stylesheet" href="../resource/css/css/assetManagement-1.css">

    <link id="table_color" rel="stylesheet" href="../resource/css/productionOrder.css">

    <link rel="stylesheet" href="../resource/station/chooseStation.css">

    <style>

        .add-input-father{

            padding: 0 !important;

        }

        .add-input-block{

            width: 100%;

        }

        #select-Dev{

            cursor: pointer;

            color: #00a0e9;

        }

    </style>



</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">

                    <div class="total-warp">
                        <div class="wrap">
                            <!-- 标题 -->
                            <div class="content-main-contents content-main-right">
                                <ul class="content-main-contents-header noprint">
                                    <li class="main-contents-header-lists0">工单操作</li>
                                </ul>
                                <ul class="top-option"></ul>
                                <ul class="condition-query noprint">
                                    <li><label for="" style="display: inline-block;width: 70px;text-align: right">工单号：</label>
                                        <div class="input-blocked" id="filter_global">
                                            <input type="text" class="global_filter" id="gdCode">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">报修时间：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock min" name="min">
                                        </div>
                                        <label for="">到</label>
                                        <div class="input-blocked">
                                            <input type="text" class="datatimeblock max" name="max">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">报修科室：</label>
                                        <div class="input-blocked">
                                            <input type="text" id="bxks">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">报修人：</label>
                                        <div class="input-blocked">
                                            <input type="text" id="bxren">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">报修方式：</label>
                                        <div class="input-blocked">
                                            <select  id="bxtype">
                                                <option value="" selected>全部</option>
                                                <option value="2">手机</option>
                                                <option value="1">电话</option>
                                                <option value="4">电脑</option>
                                                <option value="3">系统</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;text-align: right">
                                            <span class="user-defined-group"></span>
                                            ：</label>
                                        <div class="input-blocked">
                                            <input type="text" id="wxbz">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">工单状态：</label>
                                        <div class="input-blocked">
                                            <select  id="gdzt">
                                                <option value="0" selected>全部</option>
                                                <option value="1">待受理</option>
                                                <option value="2">待接单</option>
                                                <option value="4">执行中</option>
                                                <option value="5">等待材料</option>
                                                <option value="6">待关单</option>
                                                <option value="7">已关单</option>
                                                <option value="11">申诉工单</option>
                                                <option value="999">已取消</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">关单人：</label>
                                        <div class="input-blocked">
                                            <input type="text" class="pjr">
                                        </div>
                                    </li>
                                    <li style="display: none">
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">受理人：</label>
                                        <div class="input-blocked">
                                            <input type="text">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">执行人：</label>
                                        <div class="input-blocked">
                                            <input type="text" id="zxr">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="" style="display: inline-block;width: 70px;text-align: right">故障位置：</label>
                                        <div class="input-blocked">
                                            <input type="text" id="gzwz">
                                        </div>
                                    </li>

                                    <br>
                                    <li><button class="btn btn-success btn1" id="selected">查询</button></li>
                                    <li><button class="btn btn-success btn1 resites">重置</button></li>
                                    <!--<li><button class="btn btn-success btn1" onclick="javascript:window.print();">打印</button></li>-->
                                    <li style="display: none">
                                        <button type="button" class="btn red Fallback">
                                            <i class="fa fa-trash"></i>
                                            <span>回退</span>
                                        </button>
                                    </li>
                                    <li style="display: none">
                                        <button type="button" class="btn red delete cancelGD" title="未完成的工单可进行作废操作">
                                            <i class="fa fa-trash"></i>
                                            <span>取消</span>
                                        </button>
                                    </li>
                                    <li class="excelButton"></li>
                                    <div class="clearfix"></div>
                                </ul>
                                <!-- 表格 -->
                                <div class="content-main-contents">
                                    <div class="main-contents-table">
                                        <table id="scrap-datatables" class="table table-striped table-bordered table-advance table-hover" cellspacing="0" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <!--<img src="../resource/img/loading.gif" alt="">-->
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!--模态框详情-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 711px;width:1000px !important;">
            <div class="modal-content" style="height: 711px;width: 1000px !important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">工单详情</h4>
                </div>
                <div class="modal-body">
                    <div class="gongdanContent" style="width: 668px;float: left;height:563px!important;">
                        <ul class="gongdanList" id="myApp33">
                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels">工单类型：</div>
                                <div class="input-blockeds">
                                    <input type="radio" class="inpus" id="ones" value="1" v-model="picked" v-on:click="radios" disabled="true"><label for="ones">快速</label>
                                    <input type="radio" class="inpus" id="twos" value="0" v-model="picked" v-on:click="radios" disabled="true"><label for="twos">普通</label>
                                </div>
                            </li>
                            <li class="floatRight" style="line-height: 26px;">
                                <div class="labels colorTip">工单来源 *：</div>
                                <div class="input-blockeds">
                                    <select v-model="gdly" class="gdly">
                                        <option value="1">车站报修</option>
                                        <option value="2">现场人员报修</option>
                                    </select>
                                </div>
                            </li>
                            <!--<li class="floatRight" style="line-height: 26px;">
                                <div class="labels colorTip">是否维保 *：</div>
                                <div class="input-blockeds">
                                    <input type="radio" class="whether" id="three" value="1" v-model="whether" v-on:click="selects"style="margin-left: -10px;cursor:pointer;"><label for="three" >是</label>
                                    <input type="radio" class="whether" id="four" value="0" v-model="whether" v-on:click="selects"style="margin-left: -10px;cursor:pointer;"><label for="four" >否</label>
                                </div>
                            </li>-->
                            <li class="floatLeft" style="line-height: 26px;">
                                <div class="labels colorTip">任务级别 *：</div>
                                <div class="input-blockeds">
                                    <select v-model="rwlx">
                                        <option value="1">一级任务</option>
                                        <option value="2">二级任务</option>
                                        <option value="3">三级任务</option>
                                        <option value="4">四级任务</option>
                                    </select>
                                </div>
                            </li>
                            <li class="floatRight">
                                <div class="labels">报修电话：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="telephone" class="shishi">
                                </div>
                            </li>
                            <li class="floatLeft">
                                <div class="labels">报修人信息：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="person">
                                </div>
                            </li>
                            <li class="floatRight">
                                <div class="labels">故障位置：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="place">
                                </div>
                            </li>
                            <li class="floatLeft">
                                <div class="labels">车站：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="section">
                                </div>
                            </li>
                            <li class="floatRight">
                                <div class="labels">系统类型：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="matter">
                                </div>
                            </li>
                            <li class="floatLeft">
                                <div class="labels">维修设备：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sbSelect">
                                </div>
                            </li>
                            <li class="floatRight">
                                <div class="labels">设备名称：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sbMC">
                                </div>
                            </li>
                            <li class="floatLeft">
                                <div class="labels">维修班组：</div>
                                <div class="input-blockeds">
                                    <input type="text" v-model="sections">
                                </div>
                            </li>
                            <li class="floatRight" style="line-height: 26px;">
                                <div class="labels">发生时间：</div>
                                <div class="input-blockeds">
                                    <input type="text" class="datatimeblock otime">
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <div>
                                <div class="labels">故障描述：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none" v-model="remarks"></textarea>
                                </div>
                            </div>
                            <div>
                                <div class="labels">维修内容：</div>
                                <div class="input-blockeds" style="height:62px;">
                                    <textarea style="width: 100%;height: 60px;outline: none"  class="wxbeizhu" v-model="wxbeizhu"></textarea>
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-info" id="viewImage">查看图片</button>
                                <div class="showImage" style="display: none;border: 1px solid #cccccc;padding: 10px;"></div>
                            </div>
                            <div class="table-block">
                                <div class="table-title">
                                    <span class="spanhover">执行人员</span>
                                    <span>维修备件</span>
                                </div>
                                <div class="tableHover" style="z-index: 1">
                                    <table class="table table-hover" id="personTable1">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="tableHover" style="display:none;">
                                    <table class="table table-hover" id="personTables1">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="right-content">
                        <p style="margin-bottom: 0">处理记录</p>
                        <ul class="progressBar">
                            <li class="progressBarList">
                                <div class="progressNum">01</div>
                                <div class="progressName">登记</div>
                            </li>
                            <li class="progressBarList">
                                <div class="progressNum">02</div>
                                <div class="progressName">受理</div>
                            </li>
                            <li class="progressBarList">
                                <div class="progressNum">03</div>
                                <div class="progressName">分派</div>
                            </li>
                            <li class="progressBarList">
                                <div class="progressNum">04</div>
                                <div class="progressName">执行</div>
                            </li>
                            <li class="progressBarList">
                                <div class="progressNum">05</div>
                                <div class="progressName">等待</div>
                            </li>
                            <li class="progressBarList">
                                <div class="progressNum">06</div>
                                <div class="progressName">完成</div>
                            </li>
                            <li class="progressBarList">
                                <div class="progressNum">07</div>
                                <div class="progressName">关闭</div>
                            </li>
                        </ul>
                        <div class="processing-record">
                            <ul>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录事项：</div>
                                        <p class="record-content">工单登记</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">受理工单：</div>
                                        <p class="record-content">调度下发</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录事项：</div>
                                        <p class="record-content">组长分派</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录事项：</div>
                                        <p class="record-content">开始执行</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录事项：</div>
                                        <p class="record-content">等待资源</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录事项：</div>
                                        <p class="record-content">执行结束</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                                <li class="record-list">
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录时间：</div>
                                        <p class="record-content"></p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">记录事项：</div>
                                        <p class="record-content">关闭工单</p>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div class="record-title">相关人员：</div>
                                        <p class="record-content"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框确认撤销吗？-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 440px;">
            <div class="modal-content" style="height: 440px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">您确定要进行回退操作吗？</h4>
                </div>
                <div class="modal-body">
                    <ul class="gongdanList">
                        <li class="list-block">
                            <div class="labels">工单号：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdCode1" disabled class="disabled-block">
                            </div>
                        </li>
                        <li class="list-block">
                            <div class="labels">工单状态：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdStatus1" disabled class="disabled-block">
                            </div>
                        </li>
                        <li class="list-block">
                            <div class="labels">维修事项：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdWxItem1" disabled class="disabled-block">
                            </div>
                        </li>
                        <li class="list-block">
                            <div class="labels">维修班组：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdWxClass1" disabled class="disabled-block">
                            </div>
                        </li>
                    </ul>
                    <p>回退原因:</p>
                    <div class="input-blockeds" style="width: 100%;height: 90px;">
                        <textarea  id="returnDes" style="height: 88px;width: 100%;overflow-y: auto;outline: none"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框确认作废-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 440px;">
            <div class="modal-content" style="height: 440px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">您确定要进行取消操作吗？</h4>
                </div>
                <div class="modal-body">
                    <ul class="gongdanList">
                        <li class="list-block">
                            <div class="labels">工单号：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdCode2" disabled class="disabled-block">
                            </div>
                        </li>
                        <li class="list-block">
                            <div class="labels">工单状态：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdStatus2" disabled class="disabled-block">
                            </div>
                        </li>
                        <li class="list-block">
                            <div class="labels">维修事项：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdWxItem2" disabled class="disabled-block">
                            </div>
                        </li>
                        <li class="list-block">
                            <div class="labels">维修班组：</div>
                            <div class="input-blockeds">
                                <input type="text" id="gdWxClass2" disabled class="disabled-block">
                            </div>
                        </li>
                    </ul>
                    <p>取消原因:</p>
                    <div class="input-blockeds" style="width: 100%;height: 90px;">
                        <textarea  id="cancelDes" style="height: 88px;width: 100%;overflow-y: auto;outline: none"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--所有提示框-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel3">提示</h4>
                </div>
                <div class="modal-body">未完成状态工单无法进行撤销操作</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--图片详情显示-->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="height: auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">图片</h4>
                </div>
                <div class="modal-body">
                    <img src="" style="max-width: 667px;">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<!--公共js-->
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->
<script src="../resource/js/publicQX.js"></script>

<script src="../resource/js/publicGD.js"></script>
<!--本页面js-->
<script src="../resource/js/productionOrder-4.js"></script>

<script src="../resource/js/equipmentSelect.js"></script>

<script src="../resource/station/chooseStation.js"></script>


<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>