.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.typee-1{
	margin-left: 80px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.content-main-right{
	margin-left: 300px;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.rheader-content{
	height:auto;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.ElectricityLineChart{
	width:65% !important;
	height:100%;
	float:left;
	padding: 0 !important;
	margin-right: 0 !important;
}
.rheader-content-right-header{
	width:100%;
	float:left;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}
#rheader-content-30{
	width: 100%;
	height: 290px;
	background: red;
}
.right-content .container{
	padding: 0!important;
}
.componentComposition{
	width:35%;
	float:left;
	height: 100% !important;
	padding: 0 !important;
}
#rheader-content-31{
	width: 100%;
	height: 290px;
	background: cyan;
}
.powerConsumptionIndicators{
	width:100%;
	float:left;
	position:relative;
	margin-top: 30px;
}
.water-p-1{
	margin-left:100px;
	font-size:1rem;
	height:30px;
	display:inline-block;
	cursor: pointer;
}
.water-p-2{
	margin-left:20px;
	font-size:1rem;
	height:30px;
	display:inline-block;
	cursor: pointer;
}
.rheader-content-left{
	width:100%;
}
#right-lefts1{
	width:610px;
	padding: 0 !important;
	float: left;
	height: 170px !important;
}
.ruler_arrow{
	width: 50px;
	height: 65px;
	background: url(../img/ruler.png)no-repeat;
	position: absolute;
	left:62px;
}
.numerical{
	width: 50px;
	height: 25px;
	background: #e1826e;
	border-radius: 3px;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	line-height: 25px;
}
.right-lefts1-lists{
	float: left;
	background: lightblue;
	color: #fff;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.right-lefts1-lists-1{
	margin-left:-23px !important;
}
.right-lefts1-lists-2{
	width:80px;
	background:#a3bedb;
}
.right-lefts1-lists-3{
	width:130px;
	background:#9698bf;
}
.right-lefts1-lists-4{
	width:150px;
	background:#ffbd64;
}
.right-lefts1-lists-5{
	width:150px;
	background:#f6762f;
}
.right-lefts1-list{
	margin-top: 68px;
}
#right-lefts1{
	background: url(../img/biaochi.jpg)no-repeat;
	height: 300px;
	position: relative;
	margin-right: 50px;
}
.prompt{
	width: 170px;
	height: 100px;
	border-radius: 13px;
	background: #deebf7;
	background:url(../img/prompt-arrow.png)no-repeat #deebf7;
}
.prompt-word{
	display: inline-block;
	margin-top: 30px;
	line-height: 20px;
	margin-left: 20px;
}
.prompt-change{
	display: inline-block;
	color: #f48037;
	font-size: 1.5rem;
	margin-left: 45px;
}
.rheader-content-lefts{
	padding-top: 80px;
	width: 830px;
	margin: 0 auto;
}
.right-lefts{
	display: inline-block !important;
}
.right-rights{
	display: inline-block !important;
	margin-top: 20px;
}
.rheader-content-right-header-1{
	line-height: 30px;
}
.drp-popup{
	top: 0 !important;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.types{
	margin-top: 20px;
	height: 30px;
	margin-left: 35px;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
	border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
	content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
	content: "结束时间：" !important;
}
.drp-popup{
	border-radius: 12px !important;
}
.energy-types div{
	border: 2px solid #ffffff;
}
