.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.electricity_aa_4{
    margin-left: 45px;
}
.header-one{
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
}
.header-two{
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
}
.header-three{
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
}
.energy-parts-left{
    height: 500px;
    padding: 0 !important;
}
#energy-parts-one{
    width: 100%;
    height: 400px;
}
#energy-parts-three{
    width: 100%;
    height: 400px;
}
#energy-parts-two{
     width: 100%;
     height: 400px;
 }
#energy-parts-four{
    width: 100%;
    height: 400px;
}
#energy-parts-total{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
}
.choice{
    display: inline-block;
    padding: 3px 8px !important;
    border: 1px solid #999 !important;
    height: 28px !important;
}
.tree{
    width: 100%;
    height: 230px;
    overflow: scroll;
}
.tree-2{
    display: none;
}
.tree-3{
    display: block;
}
.active{
    color: #ffc000;
}
.energy-parts-left-2{
    height: 800px;
}
.energy-types div{
    border: 2px solid #ffffff;
}
.content-main-left{
    display: block;
}
.energy-parts-left{
    height: auto;
}
.energy-parts{
    position: relative;
}
.energy-parts-left:nth-child(2){
    height: 600px;
}
.left-middle-select{
    margin: 0 auto;
}
.types{
    height: 30px;
}
.datetimepickereType{
    width: 150px;
    line-height: 30px;
    border: 1px solid #cccccc;
    text-align: center;
    min-height: 30px;
    float: left;
    font-size: 10px;
}
#datetimepicker{
    width: 30px;
    height: 30px;
    background: url(../img/clendar.png)no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
    font-size: 0;
    float: right;
}
.energy-types div:nth-child(2),.energy-types div:nth-child(3),.energy-types div:nth-child(4),.energy-types div:nth-child(5){
    display: none;
}