.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.electricity_aa_4{
    margin-left: 45px;
}
.electricity{
    background: url(../img/electricity_hover.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.typee p{
    margin-top:50px;
    text-align:center;
}
.water{
    background: url(../img/water.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.gas_aa_4{
    background: url(../img/gas.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
    border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
    content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
    content: "结束时间：" !important;
}
.drp-popup{
    border-radius: 12px !important;
}
.right-header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #808080;
    line-height: 30px;
}
.right-header-right{
    width: 80px;
    height: 100%;
    float: right;
}
.header-right-lists{
    float: left;
    margin-right: 10px;
}
.pic-one{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-1.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-two{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-2.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-three{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-3.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.L-rheader-content-left{
    height: 250px;
    position: relative;
}
.L-rheader-content-right{
    position: absolute;
    width: auto;
    height:auto;
    right: 0;
    top: 0;
    height: 250px;
}
#rheader-content-62{
    height: 250px;
    margin-right: -200px;
    width: 100% !important;
}
#rheader-content-63{
    height: 250px;
    background: #1392e9;
    margin-right: -200px;
    width:100% !important;
}
.rheader-content-leff{
    position: relative;
    width: 200px;
    height: 250px;
    float: right;
}
.rheader-content-leff span{
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 1.5rem;
}
.rheader-content-leff span:nth-child(2){
    width: 80px;
    height: 2px;
    background: #5b9bd5;
    left: 42px;
    top: 125px;
}
.rheader-content-leff span:nth-child(3){
    top: 136px;
}
.rheader-content-leff span:nth-child(4){
    left: 130px;
    top: 115px;
}
.rheader-content-leff span:nth-child(5){
    left: 150px;
    top: 115px;
}
.right-header-ul{
    float: right;
    margin-top: -2px;
}
.right-header-li{
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px !important;
    border: 1px solid #333;
}
.rheader-content-after52{
    float: left;
    padding: 5px 10px;
    height:270px;
    margin-top:10px;
}
.right-header-li_after_52-1{
    cursor: pointer;
    color:#fff;
    background:#808080;
}
#rheader-content-73,#rheader-content-80,#rheader-content-70,#rheader-content-71,#rheader-content-72,#rheader-content-81,#rheader-content-82,#rheader-content-83{
    height: 250px;
    position: absolute;
    width:100% !important;
    top:0;
    left: 0;
}
.rheader-content-after5{
    width: 100%;
}
.rheader-content{
    width:100%;
    position: relative;
}
.left-middle-tabs{
    width: 180px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    background: #ffffff;
    color: #333333;
    text-align: center;
    margin-top: 10px;
    border: 2px solid #808080;
    cursor: pointer;
}
.types{
    margin-top: 20px;
    height: 30px;
}
#wrapper input {
    height: 30px;
}
#datetimepicker {
    width: 220px;
    background: url(../img/clendar.png) no-repeat;
    background-size: 25px;
    background-position: 98% center;
}
.datetimepickereType {
    cursor: pointer;
}
.left-middle-tab-active{
    background:#7f7f7f;
    color:#fff
}
.right-header-li{
    cursor: pointer;
}
.hiddens{
    opacity: 0;
    z-index: 0;
}
.shows{
    opacity: 1;
    z-index: 10;
}
.rheader-content-leff{
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.energy-types div{
    border: 2px solid #ffffff;
}
#datetimepicker{
    width:30px;
    height: 32px !important;
    float: right;
    background: url(../img/clendar.png)no-repeat;
    background-size: 25px;
    background-position:center;
    cursor: pointer;
    font-size: 0;
}
.datetimepickereType{
    width: 150px;
    float: left;
    line-height: 30px;
    border:1px solid #cccccc;
    text-align: center;
    min-height: 30px;
    font-size: 10px;
}
.left-middle-select{
    margin: 0 auto;
}
