.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.electricity_aa_4{
    margin-left: 45px;
}
.electricity{
    background: url(../img/electricity_hover.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.typee p{
    margin-top:50px;
    text-align:center;
}
.water{
    background: url(../img/water.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.gas_aa_4{
    background: url(../img/gas.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
    border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
    content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
    content: "结束时间：" !important;
}
.drp-popup{
    border-radius: 12px !important;
}
.right-header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #808080;
    line-height: 30px;
}
.right-header-right{
    width: 230px;
    height: 100%;
    float: right;
}
.header-right-lists{
    float: left;
    margin-right: 10px;
}
.pic-one{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-1.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-two{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-2.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-three{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-3.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
#rheader-content-62{
    height: 250px;
    background: #1392e9;
}
.rheader-content-leff{
    position: relative;
}
.rheader-content-leff span{
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 1.5rem;
}
.rheader-content-leff span:nth-child(2){
    width: 80px;
    height: 2px;
    background: #5b9bd5;
    left: 42px;
    top: 125px;
}
.rheader-content-leff span:nth-child(3){
    top: 136px;
}
.rheader-content-leff span:nth-child(4){
    left: 130px;
    top: 115px;
}
.rheader-content-leff span:nth-child(5){
    left: 150px;
    top: 115px;
}
.right-header-ul{
    float: right;
    margin-right: 200px;
    margin-top: -2px;
}
.right-header-li{
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px !important;
    border: 1px solid #333;
    margin-top: 10px;
}
.rheader-content-after52{
    float: left;
    padding: 5px 10px;
    height:270px;
    margin-top:10px;
}
.right-header-li_after_52-1{
    cursor: pointer;
    color:#fff;
    background:#808080;
}
#rheader-content-63{
    height: 250px;
}
.rheader-content-after5{
    width: 100%;
}