.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.electricity_aa_4{
    margin-left: 45px;
}
.electricity{
    background: url(../img/electricity_hover.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.typee p{
    margin-top:50px;
    text-align:center;
}
.water{
    background: url(../img/water.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.gas_aa_4{
    background: url(../img/gas.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
    border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
    content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
    content: "结束时间：" !important;
}
.drp-popup{
    border-radius: 12px !important;
}
.right-header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #808080;
    line-height: 30px;
}
.right-header-right{
    height: 100%;
    float: right;
}
.header-right-lists{
    float: left;
    margin-right: 10px;
}
.pic-one{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-1.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-two{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-2.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-three{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-3.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.header-right-lists-2{
    color:#333;
    margin-top:-1px;
}
.header-right-lists-3{
    background:#fff;
}
.header-right-lists1{
    height: 28px;
    line-height: 29px;
}
.header-right-lists-3{
    background:#fff;
}
#rheader-content-66{
     height: 290px;
     background: red;
 }
#rheader-content-67{
    height: 290px;
    background: red;
}
#rheader-content-68{
     height: 290px;
     background: red;
 }
#rheader-content-69{
    height: 290px;
    background: red;
}
.left-middle-input{
    margin-top: 20px;
}
