.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water {
	background: url(../img/water.png) no-repeat;
	background-size: 50px;
	background-position: top center;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
	border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
	content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
	content: "结束时间：" !important;
}
.drp-popup{
	border-radius: 12px !important;
}
.drp-button{
	border-radius: 50% !important;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.right-header{
	border-bottom: 1px solid #ccc;
}
.right-header-right{
	width: 230px !important;
	height: 30px;
	float: right;
	margin-bottom: 0px;
}
.right-header ul:nth-child(1){
	margin-left: 0;
	padding-left:0;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
}
.header-right-lists-1{
	width:130px;
}
.top-header-lists{
	float: left;
	width: 100px;
	height: 30px;
	border-radius: 8px !important;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	background: #808080;
	border: 1px solid #808080;
	color: #fff;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
.top-header-lists_aa_9{
	width: 128px;
}
.pic-one{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-1.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-two{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-2.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-three{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-3.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
#rheader-content-45{
	width: 100%;
	height: 290px;
}
.foot-img{
	width: 50px;
	height: 50px;
	margin-left: 8%;
	margin-top: 60px;
}
.foot span{
	position: absolute;
	left: 220px;
	text-align: center;
	top: 120px;
}
.foot span:nth-child(3){
	position: absolute;
	left: 320px;
	text-align: center;
	top: 120px;
}
.foot span:nth-child(4){
	position: absolute;
	left: 430px;
	text-align: center;
	top: 120px;
}
.foot{
	padding-left: 80px !important;
	width: 100%;
	height: 200px;
	background: url(../img/zuobiao.png)no-repeat 20% -10px;
	position: relative;
}
.right-content{
	min-width: 676px;
}
.tree{
	width:100%;
	height:203px;
	overflow: scroll;
}
.tree-3{
	display: none;
}
.tree-2{
	display: block;
}
.active{
	color: #ffc000;
}
.timeactive{
	margin-left: 25px;
}
#tree-2{
	display: block;
}
#tree-3{
	display: none;
}