.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.electricity_aa_4{
    margin-left: 45px;
}
.electricity{
    background: url(../img/electricity_hover.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.typee p{
    margin-top:50px;
    text-align:center;
}
.water {
    background: url(../img/water.png) no-repeat;
    background-size: 50px;
    background-position: top center;
}
.gas_aa_4{
    background: url(../img/gas.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
    border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
    content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
    content: "结束时间：" !important;
}
.drp-popup{
    border-radius: 12px !important;
}
.drp-button{
    border-radius: 50% !important;
}
.header-one{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.header-two{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.header-three{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.right-header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #808080;
    line-height: 30px;
}
.right-header-right{
    width: 230px;
    height: 100%;
    float: right;
    margin-left: 0;
    margin-bottom: 0;
}
.header-right-lists{
    float: left;
    margin-right: 10px;
    width:70px;
    height: 100%;
}
.pic-one{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-1.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-two{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-2.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
.pic-three{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/li-3.png)no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-position: center;
}
#rheader-content-74,#rheader-content-75{
    height: 290px;
    background: cyan;
}
.rheader-content-rights-span-1{
    color:#ffffff;
    position:absolute;
    top:32px;
    font-size:1.2rem;
}
.rheader-content-rights-span-2{
    color:#019cdf;
    position:absolute;
    top:72px;
    left: 35px;
    font-size:1.3rem;
    font-weight:bold;
}
.rheader-content-rights-span-3{
    font-size:1rem;
}
.rheader-content-rights-span-4{
    position:absolute;
    top:122px;
}
.rights-up{
    background:url(../img/prompt-arrow2.png)no-repeat 0px 3px;
    background-size:20px;
    width:20px;
    height:25px;
    position:absolute;
    top:120px;
    left:67px;
}
.rights-up-value{
    color:#019cdf;
    font-weight:bold;
    font-size:1.3rem;
    position:absolute;
    top:125px;
    left:87px;
}
.yearQuota{
    width:140px;
    height:90px;
    float:left;
    background:#ffe9af;
    border-radius:20px !important;
    position:absolute;
    top:170px;
    text-align:center;
    padding-top:5px;
    left: 50px;
}
.rheader-content-rights{
    height: 250px;
    border: 2px solid #333;
    border-radius: 20px !important;
    padding-left: 80px;
    margin-top: 20px;
    background: #DEEBF7;
}
.rheader-content-rights-span-1{
    color:#019CDF;
    position:absolute;
    top:32px;
    font-size: 15px;
    left: 30px;
}