.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water {
	background: url(../img/water.png) no-repeat;
	background-size: 50px;
	background-position: top center;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
	border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
	content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
	content: "结束时间：" !important;
}
.drp-popup{
	border-radius: 12px !important;
}
.drp-button{
	border-radius: 50% !important;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
.right-header-right{
	width: 310px;
	height: 100%;
	float: right;
	margin-left: 0;
	margin-bottom: 0;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
	width:70px;
	height: 100%;
}
.pic-one{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-1.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-two{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-2.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-three{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-3.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.rheader-content-left{
	padding-top: 50px;
	font-size:0;
	margin:0px;
	width:100%;
	min-width: 948px;
}
.content-left-lists{
	display:inline-block;
	width:30%;
	margin:0px;
	vertical-align:text-top;
}
.voltageValue{
	font-size:25px;
	text-align:center;
}
.transformer{
	width:70%;
	height:250px;
	margin:0 auto;
}
.import{
	width:30%;
	height:150px;
	padding-top:100px;
	float:left;
	text-align:center;
	font-family: 微软雅黑;
	font-size: 12px;
}
.transformerImg{
	width:40%;
	height:250px;
	background:#9dc3e6;
	float:left;
	color:#fff;
	padding-top:20px;
}
.transformerWord{
	width:100%;
	text-align:center;
	font-size:30px;
	color:#fff;
	height:15%;
}
.output{
	width:30%;
	height:150px;
	padding-top:100px;
	float:left;
	text-align:center;
	font-family: 微软雅黑;
	font-size: 12px;
}
.attritionRate{
	margin-top:50px;
	text-align:center;
	font-family: 微软雅黑;
	font-size: 12px;
}
.prompt{
	font-size:15px;
	font-weight:bold;
	color: #fff;
	background:url(../img/bg-img.png)no-repeat;
	background-position:40% 60%;
	text-indent:32%;
	height:80px;
	line-height:100px;
}