.content-main-contents{
    padding-top: 10px;
    width: 100%;
    height: 700px;
    border: 1px solid #333;
    border-right: none;
}
.content-main-contents-header{
    width: 95%;
    height: 30px;
    border-bottom: 1px solid #808080;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
}
.main-contents-header-lists{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.main-contents-table{
    width: 100%;
    height: 660px;
    margin: 0 auto;
}
.wrap{
    height: 100%;
    width: 100%;
}
.main-contents-header-lists-1{
    background:#808080;
    color:#fff;
}
.main-contents-table{
    position:absolute;
    height:100%;
}
.main-contents-table-1{
    width:100%;
    border:1px solid #ddd;
    overflow:hidden;
    margin:0px;
    border-bottom:none;
}
.main-contents-table-1 li:nth-child(1){
    float:left;
    height:51px;
    padding:8px;
    width:24px;
}
.main-contents-table-1 li:nth-child(2){
    float:left;
    height:51px;
    padding:8px;
    width:34px;
}
.main-contents-table-1-li{
    float:left;
    height:51px;
    padding:8px;
    width:93px;
    text-align:center;
    line-height:35px;
}
.success td{
    line-height:49px !important;
}
.warning td{
    line-height:49px !important;
}
.danger td{
    line-height:49px !important;
}
.allBtn{
    margin-left:10px;
}
.btn-default{
    margin-right:10px !important;
}
.form-control{
    width:150px !important;
    height:34px !important;
    display:block;
    margin-bottom: 0 !important;
}
.btn-default-1{
    margin-right:10px;
    margin-left:700px;
    margin-top:-35px;
}
.btn-default-2{
    margin-right:10px;
    margin-top:-35px;
}
.pagination{
    display: block !important;
    margin: 0 auto !important;
    height:26px;
    width: 200px;
    margin-top: 50px !important;
}
.pagination-a{
    width:20%;
    line-height:26px !important;
}
.input-group-btn{
    width:100px !important;
    display:block !important;
    margin-left:350px;
    margin-top:-50px;
    height:34px;
}
.total-warp{
    overflow: scroll;
}