*{
	font-family: 微软雅黑;
}
.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.content-main-right{
	margin-left: 300px;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top;
	text-indent: 0px;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
.right-header-right{
	width: auto;
	height: 100%;
	float: right;
	margin-left: 0 !important;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
	line-height: 29px;
}
#rheader-content-14{
	width:100%;
	height:300px;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.types{
	margin-top: 20px;
	height: 30px;
	margin-left: 35px;
}
.header-three-1{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align:top
}
.tree{
	background: #fff !important;
}
#wrapper input{
	height: 30px;
	margin-left:20px;
}
#datetimepicker{
	background: url(../img/clendar.png)no-repeat;
	background-size: 25px;
	background-position: 98% center;
}
.active{
	color: #ffc000;
}
#tree-2{
	display: block;
}
#pointer li{
	line-height: 30px !important;
}
#pointer li .checkbox_false_full_focus{
	background: #ccc;
	border: 1px solid #333;
}
#pointer li .checkbox_true_full_focus{
	background: #ccc;
	border: 1px solid #333;
}
#allOffices li{
	line-height: 30px !important;
}
.ico_docu{
	display: none !important;
}
.selectTime{
	cursor: pointer;
}
.selectTime:hover{
	color: #77aa8b;
}
#selectPointer{
	height: 30px;
	margin-left: 35px;
	margin-top: 30px;
}
#energyConsumption{
	overflow-y: scroll;
	height:150px;
	padding-top: 20px;
}
#energyConsumption li{
	line-height: 30px !important;
}
#energyConsumption a{
	display: inline-block;
	height:30px !important;
}
#key{
	display: inline-block;
	width: 200px;
	height:30px;
	margin-left: 35px !important;
	margin-top: 10px;
}
#energyConsumption{
	padding-top: 0px;
	height: 120px;
	margin-left: 35px;
}
.tipes{
	margin-left: 35px;
}
.selectTime{
	margin-left: 25px;
}
.right-header{
	padding-left: 10px;
}
.energy-types div{
	border: 2px solid #ffffff;
}