.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
#pointer li{
	line-height: 30px !important;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top;
	text-indent: 0px;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
	padding-left: 10px;
}
.right-header-right{
	width: auto;
	height: 100%;
	float: right;
	margin-left: 0 !important;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
	line-height: 30px;
}
#rheader-content-14{
	width:100%;
	height:350px;
}
#tree-3{
	display: none;
	background: #fff;
}
#tree-2{
	display: block;
	background: #fff;
}
.ico_docu{
	display: none !important;
}
.custom-date{
	margin-left: 25px !important;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.header-three-1{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align:top
}
#key{
	height: 30px;
	margin-top: 10px;
}
#datetimepicker{
	width:30px;
	height: 32px;
	background: url(../img/clendar.png)no-repeat;
	background-size: 25px;
	background-position:center;
	cursor: pointer;
	font-size: 0;
	float: right;
}
.datetimepickereType{
	width: 150px;
	height:30px;
	line-height: 30px;
	border:1px solid #cccccc;
	text-align: center;
	min-height: 30px;
	margin: 0 auto;
	font-size: 10px;
	float: left;
}
#allPointer{
	margin-top: 20px;
}
.energy-types div{
	border: 2px solid #ffffff;
}
.left-middle-select{
	width: 190px;
	margin: 0 auto;
}
#wrapper{
	width:190px;
	padding: 0!important;
	margin: 0 auto;
	margin-top: 20px;
}