.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-top: 3%;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
.right-header-right{
	width: 465px;
	height: 100%;
	float: right;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
	width:70px;
	height: 100%;
}
.pic-one{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-1.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-two{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-2.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-three{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-3.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.type option{
	height: 30px;
	width :60px;
	color: #333;
}
.type{
	width: 100px;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.rheader-content-rightss{
	width: 460px;
	height:300px;
	float: left;
	margin-top: -5px;
}
.content-rightss-one{
	width: 200px;
	height: 300px;
	float: left;
	position: relative;
	padding-top: 40px;
	background: url(../img/bg-img.png)no-repeat 0px -40px;

}
.right-top{
	width: 98%;
	height: 50%;
	background: #ffffff;
	margin-left: 8px;
}
.warp{
	width: 100% !important;
	height: 100%;
}
.content-main-1{
	height: 25% !important;
}
.content-main-2{
	height: 40% !important;
}
.electricity_aa_2{
	cursor:pointer;
	margin-left:30%;
}
.electricityWord{
	margin-top:50px;
	text-align:center;
}
.typee{
	cursor: pointer;
}
.main-left-middle{
	height:100%;
}
.left-middle-tab_aa_7-1{
	background:#7f7f7f;
	color:#ffffff;
	margin-left:12% !important;
}
.left-middle-tab_aa_7-2{
	margin-left:11px !important;
}
.tree-7-1{
	height:80%;
	margin-top:50px;
}
.tree-7-2{
	height:80%;
	display:none;
	margin-top:50px;
}
.right-content{
	height: 100% !important;
}
.rheader-content-1{
	height: 90% !important;
}
.right-header-right{
	width:320px;
}
#rheader-content-41{
	width:60%;
	height:90%;
	margin-left:20%;
}
.rheader-content-2{
	width:100% !important;
	height:90% !important;
}
#rheader-content-42{
	width:50%;
	height:80%;
	margin-top:2px;
	float:left;
}
.rheader-content-rightss-1{
	width:50% !important;
	float:right;
}
.content-rightss-one-1 p:nth-child(1){
	text-indent:15px;
	line-height:30px;
	margin:0;
}
.content-rightss-one-1 p:nth-child(2){
	width:130px;
	height:1px;
	background:#afc8de;
	margin:0;
}
.content-rightss-one-1 p:nth-child(3){
	text-indent:15px;
	line-height:30px;
	margin:0;
}
.content-rightss-one-1 span:nth-child(4){
	position:absolute;
	left:150px;
	top:65px;
}
.content-rightss-one-1 span:nth-child(5){
	font-size:15px;
	position:absolute;
	left:60px;
	line-height:80px;
	weight:bold;color:#fff;
}
.content-rightss-one-2 p:nth-child(1){
	text-indent:15px;
	line-height:30px;
	margin:0;
}
.content-rightss-one-2 p:nth-child(2){
	width:130px;
	height:1px;
	background:#afc8de;
	margin:0;
}
.content-rightss-one-2 p:nth-child(3){
	text-indent:15px;
	line-height:30px;
	margin:0;
}
.content-rightss-one-2 span:nth-child(4){
	position:absolute;
	left:150px;
	top:65px;
}
.content-rightss-one-2 span:nth-child(5){
	font-size:15px;
	position:absolute;
	left:60px;
	line-height:80px;
	weight:bold;
	color:#fff;
}
