.typee{
    width: 40px;
    height: 70px;
    margin-left: 10%;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.electricity_aa_4{
    margin-left: 45px;
}
.electricity{
    background: url(../img/electricity_hover.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.typee p{
    margin-top:50px;
    text-align:center;
}
.water {
    background: url(../img/water.png) no-repeat;
    background-size: 50px;
    background-position: top center;
}
.gas_aa_4{
    background: url(../img/gas.png)no-repeat;
    background-size: 50px;
    background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
    border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
    content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
    content: "结束时间：" !important;
}
.drp-popup{
    border-radius: 12px !important;
}
.drp-button{
    border-radius: 50% !important;
}
.header-one{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.header-two{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.header-three{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}
.energy-parts-left{
    height: 500px;
    padding: 0 !important;
}
#energy-parts-one{
    width: 100%;
    height: 400px;
    background: green;
}
#energy-parts-three{
    width: 100%;
    height: 400px;
    background: green;
}
#energy-parts-two{
     width: 100%;
     height: 400px;
     background: green;
 }
#energy-parts-four{
    width: 100%;
    height: 400px;
    background: green;
}
#energy-parts-total{
    width: 100%;
    height: 600px;
    background: yellow;
    position: absolute;
    top: 50%;
    margin-top: -125px;
    margin-bottom: -125px;
}
.choice{
    display: inline-block;
    padding: 3px 8px !important;
    border: 1px solid #999 !important;
    height: 28px !important;
}
.tree{
    width: 100%;
    height: 230px;
    overflow: scroll;
}
.tree-2{
    display: none;
}
.tree-3{
    display: block;
}
.active{
    color: #ffc000;
}
.energy-parts-left-2{
    height: 800px;
}