*{
	font-family: 微软雅黑;
}
.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
	vertical-align:top
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
.right-header-right{
	width: auto;
	height: 100%;
	float: right;
	margin-left: 0 !important;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
	line-height: 30px;
}
.pic-one{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-1.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-two{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-2.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-three{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-3.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
#rheader-content-14{
	width:100%;
	height:300px;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.types{
	height: 30px;
	width: 190px;
}
.header-three-1{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align:top
}
.tree{
	background: #fff !important;
}
#datetimepicker{
	background: url(../img/clendar.png)no-repeat;
	background-size: 25px;
	background-position: 98% center;
}
.active{
	color: #ffc000;
}
#tree-2{
	display: block;
}
#pointer li{
	line-height: 30px !important;
}
#allOffices li{
	line-height: 30px !important;
}
.selectTime{
	cursor: pointer;
}
.selectTime:hover{
	color: #77aa8b;
}
#selectPointer{
	height: 30px;
	width:190px;
}
#energyConsumption{
	height:150px;
	padding-top: 20px;
}
#energyConsumption li{
	line-height: 30px !important;
}
#energyConsumption a{
	display: inline-block;
	height:30px !important;
}
#key{
	display: inline-block;
	height:30px;
}
#energyConsumption{
	padding-top: 0px;
	height:110px;
	margin: 0 auto;
}
.selectTime{
	height:30px;
	line-height: 30px;
	margin-bottom: 0px;
}
.header-one{
	text-indent: 0px;
}
.right-header{
	padding-left: 10px;
}
.energy-types div{
	border: 2px solid #ffffff;
}
#datetimepicker{
	width:30px;
	height: 32px !important;
	background: url(../img/clendar.png)no-repeat;
	background-size: 25px;
	background-position:center;
	cursor: pointer;
	font-size: 0;
	margin-bottom: 10px;
}
.datetimepickereType{
	width: 150px;
	float: left;
	line-height: 30px;
	border:1px solid #cccccc;
	text-align: center;
	min-height: 30px;
	font-size: 10px;
}
.left-middle-content{
	width: 70px;
}
.left-middle-select{
	width:190px;
	margin: 0 auto;
}
.left-middle-input{
	width: 190px;
	height:30px;
	margin: 0 auto;
	margin-top: 10px;
}
.tree-1{
	background: #ffffff;
	height:120px !important;
}
.energyConsumption{
	width: 200px;
	margin: 0 auto;
}
#wrapper{
	width:190px;
	margin: 0 auto;
	padding: 0px !important;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}