.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
	cursor:pointer;
	margin-left: 45px;
}
.electricity_aa_2 p{
	margin-top:50px;
	text-align:center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
	cursor:pointer;
}
.water_aa_2 p{
	margin-top:50px;
	text-align:center;
}
.right-top{
	width: 98%;
	height: 50%;
	background: #ffffff;
	margin-left: 8px;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.right-top{
	width: 98%;
	height: 40%;
	background: #ffffff;
	margin-left: 8px;
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
.right-header-right{
	width: auto;
	height: 100%;
	float: right;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
	line-height: 30px;
}
.pic-one{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-1.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-two{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-2.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-three{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-3.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}

.type option{
	height: 30px;
	width :60px;
	color: #333;
}
.type{
	width: 100px;
}
.rheader-content{
	width: 100%;
	height:50%;
	background: #ffffff;
}
.rheader-content-left{
	width: 40%;
	height: 500px !important;
	background: #ffffff;
	float: left;
}
.rheader-content-right{
	float: left;
	width: 20%;
	height: 100%;
	margin-top: 100px;
}
.rheader-content-rights{
	width: 250px;
	height: 280px;
	border-radius: 30px;
	margin:0 auto;
	margin-top: 40px;
	background: url(../img/message.png)no-repeat #deebf7;
	background-size: 140px;
	background-position: 50px 20px;

}
.rights-up{
	display: inline-block;
	width: 20px;
	height: 40px;
	position: absolute;
	top: 140px;
	left: 117px;
	background: url(../img/up.png)no-repeat;
	background-size: 23px;
	margin-left: 5px;
}
.rights-up1{
	display: inline-block;
	width: 20px;
	height: 40px;
	position: absolute;
	top: 120px;
	left: 67px;
	background: url(../img/up1.png)no-repeat;
	background-size: 23px;
}
.rheader-content-rights1{
	width: 130px;
	height: 190px;
	border-radius: 30px;
	margin:0 auto;
	margin-top: 40px;
	background: url(../img/message1.png)no-repeat #ededed;
	background-size: 100px;
	background-position: 10px 20px;
}
.content-main1{
	height:15% !important;
}
.content-main2{
	width:100%;
	height:60% !important;
}
.rheader-content-rights{
	position:relative;
	margin-top:40%;
}
.rheader-content{
	width: 100%;
	height: 100%;
}
.left-middle-tab1{
	margin-left:11px;
}
.tree{
	overflow: scroll;
}
.main-left-middle{
	height: 100%;
}
.tree-2-1{
	height:80%;
	margin-top:50px;
	display:block;
}
.tree-2-2{
	height:80%;
	display:none;
	margin-top:50px;
}
.right-top{
	height: 48%;
	width: 100%;
}
.rheader-content{
	height:90%;
}
.left-middle-tab11{
	margin-left: 10% !important;
}
.rheader-content-right{
	height:95%;
}
.rheader-content-rights{
	position:relative;
	margin-top:20%;
	border-radius: 20px !important;
}
.total-power-consumption{
	color:#ffffff;
	position:absolute;
	top:36px;
	left:75px;
	font-size:2rem
}
.total-power-consumption-value{
	color:#019cdf;
	position:absolute;
	top:100px;
	left:60px;
	font-size:1.3rem;
	font-weight:bold;
}
.the-cumulative-power-unit{
	font-size: 1rem;
}
.compared-with-last-time{
	position:absolute;
	top:140px;
	left:42px;
	font-size: 1.5rem;
}
.rights-up-value{
	color:#019cdf;
	font-weight:bold;
	font-size:1.5rem;
	position:absolute;
	top:150px;
	left:157px;
	display: inline-block;
	margin-left: 5px;
}
#consumption-value-number{
	font-size: 1.8rem !important;
}
.gas{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.electricityWord{
	margin-top: 50px;
	text-align: center;
}
.types{
	margin-top: 20px;
	height: 30px;
	margin-left: 35px;
	width: 206px;
}
#datetimepicker{
	background: url(../img/clendar.png)no-repeat;
	background-size: 25px;
	background-position: 98% center;
	height: 30px;
	margin-left: 25px;
}
#rheader-content{
	height:300px;
}
#selectPointer{
	height: 30px;
	margin-left: 35px;
	margin-top: 10px;
}
/*#energyConsumption li{
	height:auto !important;
}*/
#energyConsumption{
	height: 150px;
	overflow: scroll;
}
#key{
	width: 220px;
	height:30px;
	margin-left:35px !important;
	margin-top: 10px;
}
#energyConsumption{
	margin-left: 35px;
}
.tipes{
	margin-left: 35px;
}
#energyConsumption li a{
	display: inline-block;
	vertical-align:middle !important;
}
.ztree li span.button.chk.checkbox_true_full {
	background-position: -26px -5px !important;
}
.ztree li span.button.chk.checkbox_false_full {
	background-position: -5px -5px !important;
}