.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water {
	background: url(../img/water.png) no-repeat;
	background-size: 50px;
	background-position: top center;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
	border-radius: 50% !important;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
	content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
	content: "结束时间：" !important;
}
.drp-popup{
	border-radius: 12px !important;
}
.drp-button{
	border-radius: 50% !important;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.content-left-lists{
	width: 33.33333%;
	height: 100%;
	padding-top: 80px;
	text-align: center;
	background: url(../img/bg-img.png)no-repeat;
	background-position:0px 300px;
	float: left;
}
.content-left-lists td{
	display: block;
	margin: 9px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	font-size:13px;
	width: 104px;
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
.right-header-right{
	width: 230px;
	height: 100%;
	float: right;
	margin-left: 0px;
}
.header-right-lists{
	float: left;
	margin-right: 10px;
}
.transformerBlock{
	width:320px;
	height:250px;
}
.transformerImg{
	width:80px;
	height:250px;
	background:#9dc3e6;
	float:left;
	color:#fff;
	font-size:30px;
	letter-spacing:30px;
	text-align: center;
	padding-left:25px;
	padding-top:20px;
	line-height:40px;
}
.transformerWord{
	width:128px;
	height:250px;
	float:left;
	padding-top:20px;
	margin-top:-50px;
}
.header-right-lists-1{
	width:130px;
}
.content-left-lists td{
	display: block;
	margin: 9px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	font-size:13px;
	width: 104px;
}
.pic-one{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-1.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-two{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-2.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.pic-three{
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/li-3.png)no-repeat;
	background-size: 20px;
	cursor: pointer;
	background-position: center;
}
.transformerValue{
	width:100px;
	height:250px;
	float:left;
	padding-top:20px;
}
.btn-default{
	width: 60px !important;
}
.standardValues{
	width:250px;
	height:100px;
	margin-left:680px;
	padding-top:400px;
}
.standardBtn{
	width:200px;
	height:20px;
	margin-bottom:10px;
}
.standardBtn .btn{
	width: 26px !important;
	height: 14px;
}
.transformerValue table{
	display:block;
	margin-top:-50px;
}
.standardBtn1{
	width:200px;
	height:20px;
	margin-bottom:10px;
}
.rheader-content-left{
	width:100%;
	margin-left:0px;
}
.btn-danger{
	width: 60px !important;
}
.btn-warning{
	width: 60px !important;
}