.typee{
	width: 40px;
	height: 70px;
	margin-left: 10%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.electricity_aa_4{
	margin-left: 45px;
}
.electricity{
	background: url(../img/electricity_hover.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.typee p{
	margin-top:50px;
	text-align:center;
}
.water{
	background: url(../img/water.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.gas_aa_4{
	background: url(../img/gas.png)no-repeat;
	background-size: 50px;
	background-position: top center;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button{
	 border-radius: 50% !important;
 }
.drp-popup .drp-calendar-start .drp-calendar-date:before {
	content: "开始时间：" !important;
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
	content: "结束时间：" !important;
}
.drp-popup{
	border-radius: 12px !important;
}
.header-one{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-two{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.header-three{
	display: inline-block;
	font-size: 1.2rem;
	margin-right: 10px;
	color: #fff;
}
.right-header{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #808080;
	line-height: 30px;
}
#rheader-content-16{
	height: 290px;
}
.comparisonOfHistograms {
	height: 290px;
}
.rheader-content-left-top{
	width: 100%;
	height: 60px;
}
.content-left-top-1{
	width: 200px;
	height: 100%;
	margin: 0 auto !important;
}
.content-left-top-tips{
	width: 133px;
	height: 25px;
	background: #a6a6a6;
	border-radius: 5px !important;
	color: #fff;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}
.span-1{
	color:#ffc000;
	font-size:1.3rem;
	display:inline-block !important;
	margin-top: 10px;
}
.span-2{
	color:#ffc000;
	font-size:1.3rem;
	display:inline-block !important;
	margin-top: 10px;
}
.content-left-top-arrow{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/prompt-arrow1.png)no-repeat -3px -5px;
	background-size: 90%;
	margin-right: -30px;
}
#rheader-content-17{
	height: 220px;
}
#rheader-content-18{
	height: 290px;
}
#rheader-content-19{
	height: 220px;
}
.timeactive{
	margin-left: 25px !important;
}
.huanbizhi{
	margin-left: 5px !important;
}
.right-header-right{
	float: right;
}
.time-date{
	display: inline-block !important;
	float: left !important;
}
.L-unit{
	margin-left: 4px;
}
.energy-types div{
	border:2px solid #ffffff;
}
.content-main-left{
	display: block;
}