.content-main img{
	width: 100%;
}
.left-top{
	width: 100%;
	height: 80px;
	margin-bottom: 0;
	overflow: hidden;
	cursor: pointer;
}
.main-one-1{
	margin-top: 40px;
	height: 200px;
	background: #fee8af;
	padding-top: 20px;
	position: relative;
	border: 3px solid #fff;
	margin-bottom: 50px;
	background-size:50px;
	background-position: center;
	flex: 1;
}
.main-one-1:nth-child(1){
	background:url(../img/totalEneragery.png)no-repeat #fee8af;
	background-size:50px;
	background-position: center;
}
.main-one-1:nth-child(2){
	background:url(../img/totalEner.png)no-repeat #bce3de;
	background-size:50px;
	background-position: center;
}
.main-one-1:nth-child(3){
	background:url(../img/totalWater.png)no-repeat #fcbf92;
	background-size:50px;
	background-position: center;
}
.main-one-1:nth-child(4){
	background:url(../img/totalQi.png)no-repeat  #b1cade;
	background-size:50px;
	margin-right:0 !important;
	background-position: center;
}
.main-one-title{
	margin-left: 10px;
	font-size: 1.3rem;
	display: block;
}
.main-one-total{
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
}
.main-mark{
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,0.1);
	position: absolute;
	bottom: 0;
}

.tongbi1{
	text-indent:10px;
	margin-top:5px;
	margin-bottom:5px;
	font-size: 10px;
}
.huanbi{

	width: 100%;
	text-indent:10px;
	font-size: 10px;
}
.huanbizhi{
	margin-left:20px;
}
.tongbi2{
	text-indent:10%;
	margin-top:5px;
	margin-bottom:5px;
}
.huanbi2{
	text-indent:10%;
}
.tongbi3{
	text-indent:10%;
	margin-top:5px;
	margin-bottom:5px;
}
.tongbi4{
	text-indent:10%;
	margin-top:5px;
	margin-bottom:5px;
}
.fenleinenghao{
	margin:0 auto !important;
	background: #fff !important;
}
.portlet-title{
	background: #fff   !important;
	color: #333 !important;
	margin-right: 200px;
}
.fullscreen:before{
	font-size: 14px;
	content: '\f065';
}
.fullscreen{
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #ccc !important;
}
.actions .btn-icon-only.btn-default.fullscreen{
	font-family: FontAwesome;
	color: #a0a0a0;
	padding-top: 3px;
}
.portlet-title{
	background: #fff   !important;
	color: #333 !important;
	margin-right: 200px;
}
.tools{
	padding: 0 !important;
	padding: 0 !important;
}
.main-right-ones-1 .right-one-header{
	width: 100%;
	background: #4B77BE !important;
	color: #fff !important;
	line-height: 40px !important;
}
.main-right-ones{
	overflow: hidden;
	background: #fff !important;
}
#main-right-two{
	height: 290px;
	width: 100%;
	background: #fff;
}
.right-one-header{
	width: 100% !important;
	line-height: 40px;
}
.main-right-ones-2 .right-one-header{
	background: #44b6ae !important;
	color: #fff !important;
}
.main-right-ones-2{
	border: 1px solid #44b6ae !important;
}
#main-right-four{
	height: 290px;
	width: 100%;
	background: #fff;
}
.main-right-ones-4 .right-one-header{
	background: #8775a7 !important;
	color: #fff !important;
}
.main-right-ones-4{
	border: 1px solid #8775a7 !important;
}
.main-right-ones-3 .right-one-header{
	background: #e35b5a !important;
	color: #fff !important;
}
.main-right-ones-3{
	border: 1px solid #e35b5a !important;
}
#main-right-three{
	height: 290px;
	width: 100%;
	background: #fff;
}
.active{
	color: #ffc000;
}
.timeactive{
	margin-left: 35px;
}
.top-menu{
	margin-top: 0px !important;
}
.tree{
	background: #fff;
}
.row-1{
	height: auto;
}

.fullheight{
	height:100% !important;
}
#loading3 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
#loading img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
#loading1 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
#loading2 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
.right-one-headers{
	display: inline-block;
}

.energy-types{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.right-one-headers{
	display: inline-block;
}
#allPointer,#allOffices{
	text-align: center;
	width: 200px;
	margin: 0 auto;
}
.content-main-right{
	position: relative;
}
.tree-2{
	display: none;
}
.row{
	width: auto;
}