*{
	font-family: 微软雅黑;
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.wrap{
	width: 100%;
	float: right;
	margin-left: -280px !important;
	padding: 0 !important;
}
.container{
	width: 100% !important;
}
.content-main-left{
	width: 280px;
	border: 1px solid #ccc;
	float: left;
}
.content-main img{
	width: 100%;
}
.left-top{
	width: 100%;
	height: 80px;
	margin-bottom: 0;
	overflow: hidden;
}
.main-left-middle{
	width: 100%;
	height: 290px;
}
.left-middle-header{
	height: 30px;
	width: 100%;
	background: #808080;
	color: #ffffff;
	font-size: 1.2rem;
	line-height: 30px;
	text-indent: 10px;
}
.left-middle-tab{
	width: 70px;
	height: 25px;
	border: 2px solid #7f7f7f;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 20px;
	line-height: 25px;
	text-align: center;
	float: left;
	cursor: pointer;
}
.left-middle-header+.left-middle-tab{
	background: #7f7f7f;
	color: #fff;
	margin-left: 25%;
}
.tree-1{
	display:block;
	height:70%;
	width:100%;
	border:none;
	background:#f1f3fa;
	overflow-y:scroll;
}
.tree-2{
	display: none;
}
.select-times:nth-child(1){
	margin-bottom:30px;width:100%;
}
.time-options{
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
	background: #019cdf;
	display: inline-block;
	margin-top: 25px;
	text-align: center;
	vertical-align: top;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
}
.time-options-1{
	background: #ffc000;
	vertical-align: top;
	color: #333;
	cursor: pointer;
}
.content-main button{
	border: none;
	background: #77aa8b;
	color: white;
	height: 25px;
	margin-top: 1%;
	font-size: 10px;
	width: 100% !important;
}
.buttons{
	width: 30%;
	margin: 0 auto;
	margin-top: 20px;
}
.content-main-right{
	margin-left: 300px;
}
.main-one-1{
	margin-top: 40px;
	width: 25%;
	height: 200px;
	background: #fee8af;
	padding-top: 20px;
	position: relative;
	/*float: left;*/
	border: 3px solid #fff;
	margin-bottom: 50px;
	background-size:50px;
	background-position: center;
}

.main-one-1-1{
	background:url(../img/totalEneragery.png)no-repeat #fee8af;
	background-size:50px;
	background-position: center;
}
.main-one-1-2{
	background:url(../img/totalEner.png)no-repeat #bce3de;
	background-size:50px;
	background-position: center;
}
.main-one-1-3{
	background:url(../img/totalWater.png)no-repeat #fcbf92;
	background-size:50px;
	background-position: center;
}
.main-one-1-4{
	background:url(../img/totalQi.png)no-repeat  #b1cade;
	background-size:50px;
	margin-right:0 !important;
	background-position: center;
}
.main-one-title{
	margin-left: 10px;
	font-size: 1.3rem;
	display: block;
}
.main-one-total{
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
}
.main-mark{
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,0.1);
	position: absolute;
	bottom: 0;
}

.tongbi1{
	text-indent:10px;
	margin-top:5px;
	margin-bottom:5px;
}
.huanbi{

	width: 100%;
	text-indent:10px;
	background-size:16px;
}
.huanbizhi{
	margin-left:20px;
}
.tongbi2{
	text-indent:10%;
	margin-top:5px;
	margin-bottom:5px;
}
.huanbi2{
	text-indent:10%;
}
.tongbi3{
	text-indent:10%;
	margin-top:5px;
	margin-bottom:5px;
}
.tongbi4{
	text-indent:10%;
	margin-top:5px;
	margin-bottom:5px;
}
.fenleinenghao{
	width:100.1% !important;
	margin:0 auto !important;
	background: #fff !important;
	min-width: 350px !important;
}
.portlet-title{
	background: #fff   !important;
	color: #333 !important;
	margin-right: 200px;
}
.fullscreen:before{
	font-size: 14px;
	content: '\f065';
}
.fullscreen{
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #ccc !important;
}
.actions .btn-icon-only.btn-default.fullscreen{
	font-family: FontAwesome;
	color: #a0a0a0;
	padding-top: 3px;
}
.portlet-title{
	background: #fff   !important;
	color: #333 !important;
	margin-right: 200px;
}
.tools{
	padding: 0 !important;
	padding: 0 !important;
}
.main-right-ones-1 .right-one-header{
	width: 100%;
	background: #4B77BE !important;
	color: #fff !important;
	line-height: 40px !important;
}
.main-right-ones{
	overflow: hidden;
	background: #fff !important;
}
#main-right-two{
	height: 290px;
	width: 100%;
	background: #fff;
}
.right-one-header{
	width: 100% !important;
	line-height: 40px;
}
.main-right-ones-2 .right-one-header{
	background: #44b6ae !important;
	color: #fff !important;
}
.main-right-ones-2{
	border: 1px solid #44b6ae !important;
}
#main-right-four{
	height: 290px;
	width: 100%;
	background: #fff;
}
.main-right-oness{
	padding: 0 5px !important;
}
.main-right-ones-4 .right-one-header{
	background: #8775a7 !important;
	color: #fff !important;
}
.main-right-ones-4{
	border: 1px solid #8775a7 !important;
}
.main-right-ones-3 .right-one-header{
	background: #e35b5a !important;
	color: #fff !important;
}
.main-right-ones-3{
	border: 1px solid #e35b5a !important;
}
#main-right-three{
	height: 290px;
	width: 100%;
	background: #fff;
}
.active{
	color: #ffc000;
}
.timeactive{
	margin-left: 35px;
}
.main-left-middle span{
	padding:5px;
}
.totalTitle{
	font-size: 23px;
	color: #fff;
	line-height: 46px;
	position: absolute;
	left: 150px;
}
.top-menu{
	margin-top: 0px !important;
}
.tree{
	background: #fff;
}
.row-1{
	height: auto;
}

.fullheight{
	height:100% !important;
}
#loading3 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
#loading img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
#loading1 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
#loading2 img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
}
.right-one-headers{
	display: inline-block;
}

.energy-types{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.right-one-headers{
	display: inline-block;
}
/*#allOffices li .switch {
	display: inline-block;
	height: 34px !important;
	width: 18px !important;
	background: url(../zTree_v3-master/css/zTreeStyle/img/linkxian.png)no-repeat;
	background-position: left;
	vertical-align: middle;
}*/
/*#allOffices .radio_false_full {
	display: inline-block !important;
	width: 13px !important;
	height: 13px;
	background: url(../zTree_v3-master/css/zTreeStyle/img/radioSelected.png)no-repeat !important;
	background-size: 13px !important;
	background-position: left center;
	vertical-align: middle;
}*/
/*#allOffices .radio_true_full {
	display: inline-block;
	width: 13px !important;
	height: 13px !important;
	background: url(../zTree_v3-master/css/zTreeStyle/img/radio.png)no-repeat !important;
	background-size: 13px !important;
	vertical-align: middle;
}*/
#allOffices li .ico_docu{
	display: none;
}
/*#allOffices li{
	border: none;
}*/
.node_name{
	line-height: 30px !important;
}
.curSelectedNode{
	height: 26px !important;
}
.tree-2 input{
	display: inline-block;
	width: 150px;
	height: 30px !important;
	margin-left: 60px;
	margin-top: 20px;
}
.tipes{
	width: 206px;
	color: red;
}
/*.selectedRadio{
	display: inline-block;
	width:13px;
	height:13px;
	background: url(../zTree_v3-master/css/zTreeStyle/img/radioSelected.png)no-repeat !important;
	background-size: 13px !important;
	cursor: pointer;
}*/
/*.selectedRadioHover{
	display: inline-block;
	width:13px;
	height:13px;
	background: url(../zTree_v3-master/css/zTreeStyle/img/radio.png)no-repeat !important;
	background-size: 13px !important;
	cursor: pointer;
}*/
/*#allPointer li .switch {
	display: inline-block;
	height: 34px !important;
	width: 18px !important;
	background: url(../zTree_v3-master/css/zTreeStyle/img/linkxian.png)no-repeat;
	background-position: left;
	vertical-align: middle;
}*/
/*#allPointer .radio_false_full {
	display: inline-block !important;
	width: 13px !important;
	height: 13px;
	background: url(../zTree_v3-master/css/zTreeStyle/img/radioSelected.png)no-repeat !important;
	background-size: 13px !important;
	background-position: left center;
	vertical-align: middle;
}*/
/*#allPointer .radio_true_full {
	display: inline-block;
	width: 13px !important;
	height: 13px !important;
	background: url(../zTree_v3-master/css/zTreeStyle/img/radio.png)no-repeat !important;
	background-size: 13px !important;
	vertical-align: middle;
}*/
#allPointer li .ico_docu{
	display: none;
}
#allPointer li .node_name{
	line-height: 20px !important;
}
#allPointer li a{
	height:auto !important;
}
.tree-1{
	padding-left: 50px;
}
#key{
	margin-left: 0px;
}
.allPointerOne{
	display: inline-block;
	margin-top: 20px;
}
.tree-2{
	background: #fff;
	display: none;
}
.tree-3{
	background: #fff;
	display: block;
}
#allOffices li .node_name{
	line-height: 20px !important;
}
#allOffices li a{
	height:auto !important;
}
