.caption {
    width: 100% !important;
}

.borders {
    background: url(../img/border.png) no-repeat 100% 0px !important;
}

.textAlign {
    text-align: center;
}

.borderNull {
    border: none !important;
}

.borderRight {
    border-right: 1px solid #cccccc !important;
}

.goodIndicator {
    background: url(../img/bcyw.png) no-repeat !important;
    background-position: center;
}

.markindicator {
    background: url(../img/bcbk.png) no-repeat !important;
    background-position: center;
}

.color {
    font-size: 0;
}

.portlet.calendar .fc-event {
    background-color: transparent !important;
}

.portlet.calendar .fc-event .fc-title {
    color: #000000 !important;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: right !important;
    font-weight: bold !important;
    font-size: 15px !important;
}
