.content-main-contents-header{
    margin-bottom: 0px;
    text-align: center;
    height: 30px;
}
.main-contents-header-lists{
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    width: 100px;
    background:#808080;
    color:#fff;
}
.wrap{
    height: 100%;
    width: 100%;
}
.content-main-contents-header li{
    display: inline-block;
}
#datatables th{
    text-align: center;
}
.dataTables_length{
    float: right !important;
}
.alaLogID{
    font-size: 0;
    padding: 0!important;
}
