#create-Modal label{

    width: 115px;

}

#DC-type label{

    width: auto;

}

#commentForm .modal-block input~.error{

    color: red;

    width: auto;

    line-height: 30px;

    margin: 0;

    margin-top: 10px;

    display: block;

    text-indent: 124px;

}

#commentForm .modal-block select~.error {
    color: red;
    width: auto;
    line-height: 30px;
    margin: 0;
    margin-top: 10px;
    display: block;
    text-indent: 124px;
}

#commentForm .modal-block textarea~.error {
    color: red;
    width: auto;
    line-height: 30px;
    margin: 0;
    margin-top: 10px;
    display: block;
    text-indent: 124px;
}

#commentForm .modal-block .time-tool-block input~.error {
    color: red;
    line-height: 30px;
    text-indent: 0px;
    position: absolute;
    top: 33px;
    width: 100%;
}

.thumbnail{

    border: none;

}

#picker{

    display: inline-block;

    vertical-align: middle;

    height: 34px;

}

#picker label{

    margin: 0;

}

#picker div:nth-child(2){

    width: 82px !important;

    height: 34px !important;

}

.mealLeft{

    width: 750px;

    display: inline-block;


    vertical-align: top

}

.mealRight{

    width: 380px;

    display: inline-block;

    padding:10px;

    vertical-align: top;

    min-height: 200px;

    margin-top: 66px;

    border: 1px solid #ddd;

}

.order-already li{

    margin-bottom: 5px;

}

.order-already .order-meal-name{

    width: 50%;float: left

}

.order-already .order-meal-num{

    width: 50%;float: right;text-indent: 10px;

}

.order-already .order-meal-prince{

    margin-right: 5px;

}

.order-meal-number{

    width: 50px;

    display: inline-block;

    vertical-align: middle;

    border: 1px solid #DCDCDC;

    outline: none;

    text-indent: 5px;

    margin: 0 10px;

    text-align: center;

}

.order-meal-prince{

    width: 30px;

    text-align: center;

    display: inline-block;

    vertical-align: middle;

}

.order-dinner-num{

    cursor: pointer;

}

#emptyAllMeal{

    padding: 3px 5px;

    border: 1px solid #DCDCDC;

    font-size: 12px;

    float: right;

    cursor: pointer;

}