#MW-bucket{

    width: 250px;

    display: inline-block;

    vertical-align: middle;

}

#newBucket{

    background: #dfba49;

    padding: 5px 8px;

    font-size: 14px;

    cursor: pointer;

    border: none;

    color: #ffffff;

    margin-bottom: 10px;

}

#selectedBucket{

    color: #00a2d4;

    font-weight: 400;

    margin-left: 10px;

}