*{
    font-size: 14px;
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
}
.frame-left{
    width:300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
}
.frame-center{
    margin-left: 300px;
    margin-right: 0;
}
.frame-title{
    line-height: 30px;
    text-indent: 10px;
    background: #808080;
    color: #fff;
}
/*屏幕适配*/
@media (max-width:997px){
    .frame-left{
        width: 100%;
        position: static;
        min-height: 500px;
        margin-bottom: 15px;
    }
    .frame-center{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
    }
}