<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./bootstrap-datepicker-master/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="./bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css">
	<link rel="stylesheet" href="./css/MHisData.css">
	<script src="./js/jquery-3.0.0.min.js"></script>
	<script src="./js/moment.js"></script>
	<script src="./bootstrap-datepicker-master/js/bootstrap-datepicker.js"></script>
	<script src="./js/MHisData.js"></script>
</head>
<body>
	<div class="L-wrap">
		<div class="L-header">
			历史曲线展示
			<div class="L-close"></div>
		</div>
		<div class="L-select">
			<span>请选择日期：</span>
			<input type="text" id="datepicker">
			<button type="button" class="btn btn-success">载入数据</button>
			<button type="button" class="btn btn-success">导出数据</button>
		</div>
		<div class="L-content">
			<div class="L-content-header">空调机组&nbsp;风机频率控制（2016-11-01到2016-11-02）</div>
			<div class="L-content-contents">
				<div class="L-content-tip">曲线展示</div>
				<div class="L-content-tip">数据展示</div>
				<div class="L-replace"></div>
				<div class="L-content-block">
					<div class="L-content-block-main">
						<div class="L-loadding"></div>
					</div>
					<div class="L-content-block-main">
						<div class="L-loadding"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>