
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*最外层包裹容器*/
.outer-container{
    width:2560px;
    height:1024px;
    overflow: hidden;
    /*一屏展示时打开*/
    /*transform-origin: left top 0px;*/
    /*transform: scale(0.65, 0.65);*/
}

/*大屏页面切换普通页面按钮*/
.right-info-header-logo {
    width: 38px;
    height: 30px;
    border-radius: 5px;
    background: url(../../passengerStation/img/qiehuan.png)no-repeat rgba(32,103,222,1);
    background-size: 100%;
    margin-right: 26px;
    position: absolute;
    right:380px;
    top:12px;
    cursor: pointer;
}

.right-tab-container{
    position: relative;
}

.right-tab-container a{
    color:white;
    padding:5px;
    text-decoration: none !important;

}
.right-tab-container a:hover{
    text-decoration: none;
}

.right-tab-container a:active{
    text-decoration: none;
}

.right-tab-container a:active{
    text-decoration: none;
}

.right-tab-container a:visited{
    text-decoration: none;
}


.right-tab-container a:focus{
    text-decoration: none;
}


/*---------------------左侧平台总览------------------*/
.inner-left-container{
    width:741px;
    height:100%;
    background: #1F2833;
    float: left;
}
/*上方标题以及地图*/
.inner-left-top{
    width:100%;
    height:683px;
    background: url('../img/01ditu1.png') no-repeat top center;
    position: relative;

}

/*右侧南京南站图片及数据*/
.inner-left-top .right-picture-data{
    width:292px;
    height:411px;
    background:url("../img/njnPic.png") no-repeat;
    opacity:0.79;
    position: absolute;
    right:15px;
    top:100px;
    padding-top:195px;
    box-sizing: border-box;
    color:white;
    padding-left:15px;

}

.inner-left-top .right-picture-data .right-picture-title{
    font-size:30px;
    line-height: 24px;
    margin-bottom:20px;
}
.inner-left-top .right-picture-data .right-picture-title span{
    font-size:14px;
    color:#2170F4;

}

.inner-left-top .right-picture-data .right-picture-statistics{
    font-size:18px;
    margin-bottom:6px !important;
}

/*上方左侧整体数据*/
.left-data-container{

    margin-left:35px;
}
.left-specific-data-title{
    color:#F6F6F6;
    font-size:18px;
    margin-right:10px;
    display: inline-block;
    height:54px;
    line-height:54px;
    vertical-align: top;
}
.left-specific-data{
    font-size:38px;
    display: inline-block;
    width:80px;
    text-align: center;
}

.left-specific-data1{
   color:#2170F4;
}

.left-specific-data2{
    color:#F8276C;
}

.left-specific-data3{
    color:#EAD01E;
}

.left-specific-data4{
    color:#14E398;
}

.left-data-container .left-specific-data-container{
    padding-left:260px;
    box-sizing: border-box;
    line-height: 0px;
}

/*下方柱状图*/
.inner-left-bottom{
    width:741px;
    height:342px;
    padding-left:32px;
    box-sizing: border-box;
    padding-right:25px;
}

.inner-left-bottom .right-bottom-centent{
    width: 100%;
    position: relative;
}
.inner-left-bottom .left-tab-container {
    width: 80%;
    height: 60px;
    position: absolute;
    left: 140px;
    top: -5px;
}


/*选项卡*/
.left-tab-container{
    width:100%;
    height:36px;
    position: relative;

}
.left-tab-container .left-tab-data-container{
    color:white;
    position: absolute;
    top:-10px;
    left:15px;
}

.right-bottom-centent .right-bottom-centent-title {
    margin: 0;
    height: 25px;
    font-size: 26px;
    color: white;
    /* margin-bottom: 20px; */
}
.right-bottom-centent-title a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

.left-tab-container .left-tab-data-container .left-tab-data{
    font-size:24px;
    margin-right:15px;
    position: relative;
}
.left-tab-container .left-tab-data-container .left-tab-data2 {
    display: none;
}
.left-tab-container .left-tab-data-container .left-tab-data3{
    display: none;
}


.left-tab-container .left-tab-data-container .left-tab-data font{
    font-size:28px;
}

.left-tab-container .left-tab-data-container .left-tab-data1 font{
    color:#2170F4;
    display: none;
}

.left-tab-container .left-tab-data-container .left-tab-data2 font{
    color:#14E398
}

.left-tab-container .left-tab-data-container .left-tab-data3 font{
    color:#EAD01E
}

.left-tab-container .left-tab-data-container .left-tab-data b{
    position: absolute;
    display: inline-block;
    width:28px;
    height:6px;
    background:rgba(33,112,244,1);
    left:0;
    top:-13px;
}

.left-tab-container .left-tab-data-container .left-tab-data2 b{
    background:#14E398
}

.left-tab-container .left-tab-data-container .left-tab-data3 b{
    background:#EAD01E
}


.left-tab-container .left-tab{
    display: inline-block;
    height:36px;
    text-align: left;
    line-height: 36px;
    font-size:18px;
    color:white;
    cursor: pointer;
}
.left-tab-container .left-tab1{
    width:124px;
    background: url('../img/weidianji1.png') no-repeat center center;
    padding-left:16px;
    box-sizing: border-box;
}
.left-tab-container .left-tab2{
    width:132px;
    background: url('../img/weidianji2.png') no-repeat center center;
    padding-left:28px;
    box-sizing: border-box;
    margin-left:-34px;
}
.left-tab-container .left-tab3{
    width:119px;
    background: url('../img/weidianji3.png') no-repeat center center;
    padding-left:28px;
    box-sizing: border-box;
    margin-left:-34px;
}

.left-tab-container .left-tab-choose0{

    background: url('../img/dianji1.png') no-repeat center center;
    padding-left:16px;
    box-sizing: border-box;
}
.left-tab-container .left-tab-choose1{

    background: url('../img/dianji2.png') no-repeat center center;
    padding-left:28px;
    box-sizing: border-box;
    margin-left:-34px;
}
.left-tab-container .left-tab-choose2{

    background: url('../img/dianji3.png') no-repeat center center;
    padding-left:28px;
    box-sizing: border-box;
    margin-left:-34px;
}

/*右侧年月日*/
.left-tab-container .small-times{
    font-size:18px;
    color:white;
}
.left-tab-container .right-tab{
    font-size:20px;
    margin-right:10px;
    color:white;
    cursor: pointer;
}
.left-tab-container .right-tab-choose{
    color:#F8276C;
}

.left-tab-container .right-tab-choose-name{
    color:#F8276C;
}

/*下方柱状图*/
.left-bottom-content{
    width:100%;
    height:310px;
}

/*-----------------------右侧主体内容-----------------------*/
.inner-right-container{
    width:1819px;
    height:100%;
    background: #1c222a;
    float: right;
    padding-left:22px;
    padding-top:38px;
    padding-right:24px;
    box-sizing: border-box;
    position: relative;
}
.inner-right-container p{
    margin:0;
    padding:0
}

/*头部标题*/
.inner-right-container .right-top-title{
    color:white;
    font-size: 36px;
    margin-top:0 !important;
    margin-bottom:40px;
}

/*<!--右侧上方时间温度等信息-->*/
.inner-right-container .right-top-message{
    width:361px;
    height:69px;
    background: url("../img/rightTop.png") no-repeat center center;
    position: absolute;
    top:19px;
    right:24px;
    padding-left:29px;
    padding-top:7px;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;

}
.inner-right-container .right-top-message .right-top-message-container{
   float: left;
    flex:1;
}

.inner-right-container .right-top-message p{
    color:#AFBED1;
}

.inner-right-container .right-top-message .top-message{
    font-size:20px;
}
.inner-right-container .right-top-message .bottom-message{
    font-size:16px;
}

/*右侧上方选项卡*/
.right-tab-container .right-tab{
    display: inline-block;
    height:38px;
    text-align: center;
    line-height: 36px;
    font-size:18px;
    color:white;
    cursor: pointer;
}

.right-tab-container .right-tab1{
    width:138px;
    background: url('../img/weijidian01.png') no-repeat center center;
    padding-right:12px;
    box-sizing: border-box;
}
.right-tab-container .right-tab2{
    width:140px;
    background: url('../img/weijidian02.png') no-repeat center center;
    /*padding-left:38px;*/
    box-sizing: border-box;
    margin-left:-36px;
}
.right-tab-container .right-tab3{
    width:127px;
    background: url('../img/weijidian03.png') no-repeat center center;
    padding-left:18px;
    box-sizing: border-box;
    margin-left:-34px;
}

/*选中时的样式*/

.right-tab-container .right-tab-choose0{
    width:138px;
    background: url('../img/dianji01.png') no-repeat center center;
    padding-right:12px;
    box-sizing: border-box;
}
.right-tab-container .right-tab-choose1{
    width:140px;
    background: url('../img/dianji02.png') no-repeat center center;
    /*padding-left:38px;*/
    box-sizing: border-box;
    margin-left:-36px;
}
.right-tab-container .right-tab-choose2{
    width:127px;
    background: url('../img/dianji03.png') no-repeat center center;
    padding-left:18px;
    box-sizing: border-box;
    margin-left:-34px;
}

/*------------------------------右侧下方主体内容---------------------*/
.right-bottom-container{

    background: white;
    width:100%;
    height:839px;
    margin-left:3px;
    padding-top:28px;
    box-sizing: border-box;
}

/*主体部分上方选项卡*/
.right-bottom-tab-container{
    margin-left:34px;
    height: 40px;
    overflow: hidden;
}
.right-bottom-tab-container .right-bottom-tab{
    width:125px;
    height:38px;
    display: inline-block;
    background: url('../img/weixuanzhong.png') no-repeat center center;
    text-align: center;
    vertical-align: center;
    line-height: 38px;
    color:#B4B8BC;
    margin-right:6px;
    font-size:18px;
    cursor: pointer;
    overflow: hidden;
}

.right-bottom-tab-container .right-bottom-tab-choose{
    background: url('../img/xuanzhong.png') no-repeat center center !important;
    color:white;
}

/*下方流程图容器*/
.right-bottom-left-container{
    margin-left:30px;
    float: left;
}

.right-bottom-left-container img{
    width:1228px;
    height:698px;
    display: none;
}

#right-container{
    width:1228px;
    height:698px;
    float: left !important;
    position: static !important;
}

/*下方右侧设备数据*/
.right-bottom-right-container{
    width:509px;
    min-height:614px;
    background: #E7E9EF;
    float: right;
    padding:20px 10px;
    box-sizing: border-box;
}

.right-bottom-table{
    width:100%;
}

.right-bottom-table thead th{
    font-size:12px;
    text-align: center;
    color:#303030;
}

.right-bottom-table tbody td{
    text-align: center;
    height: 61px;
}
.right-bottom-table tbody tr{
    margin-bottom:8px;
}

.right-bottom-table tbody tr td .carousel-container{
    height: 51px;
    overflow: hidden;
    margin-bottom:10px;
}

.right-bottom-table .green-patch{
    width:88px;
    height:20px;
    background: #989898;
    color:white;
    display: inline-block;
}

.right-bottom-table .right-bottom-echart{
    width:40px;
    height:40px;
    display: inline-block;
}

.right-bottom-table .right-bottom-echart1{
    width:60px;
    height:40px;
    display: inline-block;
}

.right-bottom-table .right-bottom-alarm{
    margin:0 !important;
    font-size:12px;
    white-space:nowrap;
    width:100px;
    text-align: left;
    text-overflow:ellipsis;
    overflow:hidden;
}

/*table中的颜色小块*/
.right-bottom-table .table-small-patch{

    width:47px;
    height:18px;
    display: inline-block;
    color:#F3F3F3;
}

/*红色小块*/
.right-bottom-table .table-small-patch-red{
    background:#F8276C;
}

/*绿色小块*/
.right-bottom-table .table-small-patch-green{
     background: #09D188;

 }

/*黄色小块*/
.right-bottom-table .table-small-patch-yellow{
    background: #EAD01E;

}

/*流程图弹窗*/
.content-child-show{
    position: absolute;
    left:160px;
    top:150px;
    opacity: 0.95;
}



.right-bottom-container{
    position: relative;
}

.content-child-show .close1{
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-size: 20px;
    width:30px;
    height:30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    opacity: 0.8;
}

.content-child-show .close1:hover{
    background: orangered;
}

.content-child-show-container {
    position: relative;
}

/*页面右上角切换按钮*/
.inner-right-container .right-bottom-top-tab{
    margin-right:20px;
    position: absolute;
    right:40px;
    top:180px;
    z-index: 999;
}

.inner-right-container  .right-bottom-top-tab span{
    display: inline-block;
    width:126px;
    height:38px;
    background-color:rgba(180,184,188,1);
    border-radius: 6px ;
    text-align: center;
    line-height: 38px;
    font-size:20px;
    color:white;
    cursor: pointer;
    border-radius: 6px !important;
    padding-left:20px;
    box-sizing: border-box;
}

.inner-right-container  .right-bottom-top-tab span:nth-child(1){

    background: url('../img/pingmian.png') no-repeat 5px center;
    background-color:rgba(180,184,188,1);
}
.inner-right-container  .right-bottom-top-tab span:nth-child(2){

    background: url('../img/zonglan.png') no-repeat 5px center;
    background-color:rgba(180,184,188,1);
}
.inner-right-container  .right-bottom-top-tab span:nth-child(3){

    background: url('../img/shebei.png') no-repeat 5px center;
    background-color:rgba(180,184,188,1);
}
.inner-right-container  .right-bottom-top-tab .onChoose{
    background-color: #2ED0B3 !important;
}


/*设备列表*/
.right-bottom-show-type-table{
    padding:10px 30px;
    max-height:760px;
    overflow: auto;
}

#equipment-datatables th,#equipment-datatables td{
    text-align: center !important;
}

#equipment-datatables tbody th, #equipment-datatables tbody td {
    padding: 4px 4px;
    min-height:40px !important;
}

.equipment-table th,.equipment-table td{
    text-align: center !important;
}

.equipment-table tbody th, .equipment-table tbody td {
    padding: 4px 4px !important;
    min-height:40px !important;
}

/*#equipment-datatables{*/
    /*height:690px;*/
/*}*/

#equipment-datatables tbody td{
    height:46px !important;
}

.equipment-table tbody td{
    height:46px !important;
}

/*隐藏datatables中每页展示条数的选择框*/
.dataTables_length{
    display: none !important;
}

/*选择系统的悬浮窗*/
.jump-container{
    background: url('../img/tanchu.png') no-repeat;
    background-position: 100%;
    width:283px;
    height:38px;
    position: absolute;
    left:72px;
    top:37px;
    min-width: 150px;
    min-height: 40px;
    z-index: 100;
    display: none;
    padding-left:35px;
    padding-top:5px;
    box-sizing: border-box;

}
.jump-container span{
    margin-right:8px;
}
.jump-container a{
    color: white;
    padding: 2px;
    font-size:18px;
}

.jump-container1{

    position: absolute;
    left:384px;
    top:36px;
}

.jump-container1-new{

    position: absolute;
    left:280px !important;
    top:36px;
}

.jump-container1 span{
    margin-right:28px;
}

.jump-container2{

    position: absolute;
    left:592px;
    top:36px;
}

.jump-container2 span{
    margin-right:28px;
}

/*能耗页面中 能耗分类与kpi指标中的日月年*/
.choose-time-container{
    position:absolute;
    left:380px;
    top:5px;
}

.choose-time-container .right-tab {
    font-size: 18px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
}

.choose-time-container .small-times {
    font-size: 16px;
}

.choose-time-container .right-tab-choose {
    color: #F8276C;
}

.content-main-middle-left{
    position: relative;
}

/*报警点外层包裹div*/
.alarm-data-container{
    cursor: pointer;
}


/*报警弹窗样式*/
.big-screen-message .modal-content{
   width:777px;
   height:383px;
   background: url('../img/alarm-background.png') no-repeat;
    background-size:100% 100%;
}

.big-screen-message .modal-header {
    border-bottom: none;
    /*border-radius: 3px 0px 0px 0px !important;*/
}

.big-screen-message h4{
    font-size: 21px;
    color:white;
    margin-top:0 !important;
}

.big-screen-message .close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat !important;
    text-indent: 0px;
    outline: none;
    background:none !important;
    color:white;
    font-size:20px;
    opacity: 0.4;
}

.big-screen-message .close:hover{
    opacity: 1;
}

/*弹窗中选择条件的样式*/
.big-screen-message .modal-header{
    padding-bottom:3px;
}
.big-screen-message .modal-body {
    position: relative;
    padding: 1px;
}

.demand-condition-container{
    padding-left:10px;
    padding-top:15px;
    padding-bottom:15px;
    background: #2E3D53;
}

.demand-condition-container li{
    float: left;
    color:white;
    margin-right:30px;
    font-size: 16px !important;
}
.demand-condition-container li label{
    margin-right:5px;
    font-size: 16px !important;
}

.demand-condition-container li input{
    width:108px;
    height:24px;
    background: none;
    outline: none;
    border: 1px solid #DCDCDC;
    text-indent: 2px;
}
.demand-condition-container li select{
    width:92px;
    height:24px;
    background: none;
    outline: none;
    border: 1px solid #DCDCDC;
}
.demand-condition-container li option{
    background-color: #273241;
}

/*查询按钮*/
.demand-button{
    background: url('../img/chaxun.png') no-repeat;
    border: none;
    outline: none;
    width:63px;
    height:24px;
}

/*table中数据居中*/
.table-alarm{
    border: none !important;
}
.table-alarm th,.table td{
    text-align: center !important;
}

.table-alarm th{
    white-space: nowrap;
}

.table-alarm th,.table-alarm td{
    color:white !important;
}
.table-alarm thead tr th,.table-alarm tbody tr td{
    background: none !important;
    border: none !important;
}
.table-alarm>tbody>tr:nth-of-type(odd) {
    background-color: #2E3D53;
}

.table-alarm tbody tr td{
    padding:2px;
    height: 40px;
    box-sizing: border-box;
}

.table-alarm tbody {
    display:block;
    height:200px;
    overflow-y:auto;
}


.table-alarm thead,.table-alarm tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.table-alarm thead {
    width: calc( 100% - 1em )
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar1::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
    border-radius: 0 0 15px 0px;
    border: none !important;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar1::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 0 0 13px 0px;
    background-color: #314866;

}
/*定义滑块，内阴影及圆角*/
.scrollbar1::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 0 0 15px 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1A65E3;
}

/*运行中外层包裹div*/
.bottom-equipment-chart-show{
    cursor: pointer;
}

/*室内温湿度外层包裹div*/
.bottom-equipment-chart-humiture{
    cursor: pointer;
}

#humiture-message .modal-content{
    width:800px;
}

/*电功率外层包裹div*/
.bottom-equipment-chart-electric{

    cursor: pointer;
}

#electric-message .modal-content{
    width:500px;
}

/*故障率外层包裹div*/
.bottom-equipment-chart-fault{

    cursor: pointer;
}

#failure-message .modal-content{
    width:600px;
}


/*总能耗外层包裹div*/
.bottom-equipment-chart-energy{

    cursor: pointer;
}

#energy-message .modal-content{
    width:800px;
}

/*时间选择框*/
.datatimeblock{
    cursor: pointer;
}


/*总费用外层包裹div*/
.bottom-equipment-chart-cost{

    cursor: pointer;
}

#cost-message .modal-content{
    width:800px;
}

/*节能减排外层包裹div*/
.right-bottom-centent-conservation{

    cursor: pointer;
}

#conservation-message .modal-content{
    width:700px;
    height: auto;
}
#conservation-message .table tbody{
    height: 200px !important;
}

/*节能减排外层包裹div*/
.right-bottom-content-trouble{

    cursor: pointer;
}

#trouble-message .modal-content{
    width:700px;
    height: auto;
}

/*loading图*/
.loading-indicator-overlay,.loading-indicator {
    z-index: 100000 !important;
}

/*屏蔽室外温湿度*/
/*.right-top-message p:nth-child(3){*/
 /*display: none;*/
/*}*/

/*.right-top-message p:nth-child(4){*/
    /*display: none;*/
/*}*/

/*.right-top-message .right-top-message-container:nth-child(2){*/
    /*display: none;*/
/*}*/

/*.right-top-message .right-top-message-container:nth-child(3){*/
    /*display: none;*/
/*}*/

.right-top-message-container{
    text-align: center;
}

.inner-right-container .right-top-message {
    /*width: 261px;*/
    width: 364px;
    height: 69px;
    background: url(../img/rightTop.png) no-repeat center center;
    background-size:100% 100%;
    position: absolute;
    top: 19px;
    right: 24px;
    padding-left: 29px;
    padding-top: 7px;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
}





