<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../bank-resource/css/common.css"/>
    <link rel="stylesheet" href="../bank-resource/css/huanjingjiance/EnvironmentallyMonitorBranch.css"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row" style="background-color:#ffd966;padding:3px;margin-right: 0px;
    margin-left: 0px;">
                        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div style="float:left;line-height:35px;margin-left:0px;">对象:</div>
                            <div style="float:left;width:180px;margin-left:5px;">
                                <select id="eprSelect" class="table-group-action-input form-control"></select>
                            </div>
                            <div style="float:left;line-height:35px;margin-left:20px;">位置:</div>
                            <div style="float:left;width:100px;margin-left:5px;">
                                <select id="serviceInfoSelect" class="table-group-action-input form-control" style="width:120px;"></select>
                            </div>
                            <div style="float:left;line-height:35px;margin-left:35px;">因子:</div>
                            <div style="float:left;width:150px;margin-left:5px;">
                                <select id="cdataIdSelect" style="width:150px;" class="table-group-action-input form-control"></select>
                            </div>
                            <div style="float:left;line-height:35px;margin-left:15px;">时间:</div>
                            <div style="float:left;margin-left:5px;">
                                <select  id="datetimeInfoSelect" class="datatimeblock table-group-action-input form-control">
                                    <option value="1" selected>今天</option>
                                    <option value="2">昨天</option>
                                    <option value="3">最近7天</option>
                                    <option  class="custom-time" value="4">自定义</option>
                                    <!--<option value="4">最近30天</option>
                                    <option value="5">本月</option>
                                    <option value="6">上月</option>
                                    <option value="7">自定义</option>-->
                                </select>

                                <input  class="show-date" style=""/>

                            </div>
                            <a id="emqBtn" class="btn btn-default top-btn pull-left" style="margin-left:20px;">查询数据</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-sharp hide"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">安装位置</span>
                                        <span class="caption-helper">设备安装位置图片</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div style="width:335px;height:225px;margin:0 auto;">
                                        <img src="../../../assets/local/img/bank_sichuan_meishan_addr.png" alt="安装位置" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-sharp hide"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">实时数据</span>
                                        <span class="caption-helper">全部监测因子的实时数</span>
                                        <span class="caption-helper" id="instdatadt"></span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <label class="btn btn-transparent">

                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="instrow" class="row" style="height:225px;overflow-y:auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-sharp hide"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">历史数据</span>
                                        <span class="caption-helper">监测因子历史数据</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="hsytMain" style="width:100%;height:330px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!--自定义时间-->
<div class='modal fade' id='choose-date' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop="static">
    <div class='modal-dialog'style='width:30%;min-width:400px;margin:15% auto'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <div class="add-title" style="font-size:24px;line-height:40px;padding:10px;margin-bottom:20px">自定义时间</div>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-input">
                        <label for="" class="input-label" style="width:95px;">开始日期：</label>

                        <div class="add-input-block">
                            <input type="text" class="add-input chooseDate chooseDates" value="" placeholder="选择时间">
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-input">
                        <label for="" class="input-label" style="width:95px;">结束日期：</label>

                        <div class="add-input-block">
                            <input type="text" class="add-input chooseDate chooseDates" value="" placeholder="选择时间">
                        </div>

                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-primary top-btn'>确定</button>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--自定义弹窗-->
<div class='modal fade' id='my-alert' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'style='width:600px;margin:15% auto'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h3 style="margin-bottom:18px">提示</h3>
                <p style="font-size:20px"> <b style="color:red"></b> </p>

                <div class='modal-footer' style="border:none">

                    <button type='button' class='btn btn-primary top-btn' data-dismiss='modal'>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--非框架中Js-->
<script rel="stylesheet" src="../bank-resource/js/lib/echarts.common.min.js"></script>
<script src="../bank-resource/js/common.js"></script>
<script type="text/javascript">

    //历史数据ChartView
    var mycv;

    //总支路数据(对象列表)
    var sers;

    //监测因子数组(查询所有监测因子的实时数据)
    var cdataIds;

    //选中的楼宇
    var pointerId;

    //选中的监测因子
    var selectCNT;

    window.onresize = function () {
        if (mycv) {
            mycv.resize();
        }
    };

    $(document).ready(function () {
        var eprs = JSON.parse(sessionStorage.getItem('enterPriseList'));
        if (eprs != undefined && eprs.length > 0) {         
            $('#eprSelect').html();
            $('#eprSelect').find('option').remove();
            $('#eprSelect').empty();
            for (var i = 0; i < eprs.length; i++) {
                zh_eprIds.push(eprs[i].enterpriseID.toString());
                $('#eprSelect').append($("<option value=\"" + eprs[i].enterpriseID + "\">" + eprs[i].eprName + "</option>"));
            }
            var idxEpr = 1;//默认选择第一项(包括总行)
            $('#eprSelect option:eq(0)').attr('selected', 'selected');
            getServiceDs();
        }
        else {
            //如果不存在支行数据则从新获取
            getEprs();
        }

        //改变位置(SELECTION)
        $('select#serviceInfoSelect').change(function () {
            if (sers != undefined) {
                getCDataIds();
            }
        });

        //改变支行(SELECTION)
        $('select#eprSelect').change(function () {
            getServiceDs();
        });

        //查询实时和历史数据
        $('#emqBtn').on('click', function () {
            getEMos();
        });

    });

    //获取实时、历史数据
    function getEMos() {
        var serviceId = $('#cdataIdSelect').val();//单个监测因子(支路ID)
        var dType = $('#datetimeInfoSelect').val();//时间类型
        var cdataIdArys = cdataIds;//监测因子数组;
        var pId = pointerId;
        if(serviceId==undefined || dType==undefined || cdataIdArys ==undefined || pId==undefined)
        {
           myAlter('请选择正确的参数查询数据');
            return false;
        }
        if(cdataIdArys.length==0){
            myAlter('请选择正确的参数查询数据');
            return false;
        }
        var startDT='-1';
        var endDT='-1';

        if(dType == 4){
            var dateString = $('.show-date').val();
            startDT = dateString.split('——')[0];
            endDT= dateString.split('——')[1];
            //console.log(startDT,endDT);
        }
        var parms = {
            PointerID: pId,
            CDataIDs: cdataIdArys,
            ServiceID: serviceId,
            DType: dType,
            StartDT: startDT,
            CloseDT: endDT
        };
        //console.log(parms);
        var url = IP + "/EnvironmentallyMonitor/GetEnvironMonitorDs";
        $.ajax({
            type: 'POST',
            url: url,
            data: parms,
            async: false,
            success: function (res) {
                var insts = res.environMonitorInsDs;
                if(insts.length>0){
                    $('#instdatadt').html(insts[0].dataDate);
                }
                drawcdatarc(insts);
                var hsyts = res.environMonitorHistoryDs;
                selectCNT = $('#cdataIdSelect').find('option:selected').text();
                drawhsycw(hsyts, selectCNT);
            }
        });
    }

    //获取支行数据
    function getEprs() {
        var prms = {
            userID: 'mrf',
            isShowTotalItem: 0
        };
        var url = IP + "/EnergyQuery/GetEnterpriseItem";
        $.ajax({
            type: 'GET',
            url: url,
            data: prms,
            async: false,
            success: function (res) {
                $('#eprSelect').html();
                $('#eprSelect').find('option').remove();
                $('#eprSelect').empty();
                for (var i = 0; i < res.length; i++) {
                    $('#eprSelect').append($("<option value=\"" + res[i].enterpriseID + "\">" + res[i].eprName + "</option>"));
                }
                var idxEpr = 0;//默认选择第一项
                $('#eprSelect option:eq(0)').attr('selected', 'selected');
                getServiceDs();//获取支路位置数据
            }
        });
    }

    //获取支路位置数据
    function getServiceDs() {
        var eprId = $('#eprSelect').val();//根据支行
        var prms = {
            eprId: eprId
        };
        var url = IP + "/EnvironmentallyMonitor/GetEnvironMonitorServiceObjectDs";
        $.ajax({
            type: 'GET',
            url: url,
            data: prms,
            async: false,
            success: function (res) {
                if (res.length > 0) {
                    $('#serviceInfoSelect').html();
                    $('#serviceInfoSelect').find('option').remove();
                    $('#serviceInfoSelect').empty();
                    for (var i = 0; i < res.length; i++) {
                        var loc=res[i].location;
                        if(loc.length==0){
                            loc="暂无地址";
                        }
                        $('#serviceInfoSelect').append($("<option value=\"" + res[i].serviceInfoID + "\">" + loc + "</option>"));
                    }
                    var idxEpr = 0;//默认选择第一项
                    $('#serviceInfoSelect option:eq(0)').attr('selected', 'selected');
                    sers = res;
                    getCDataIds();
                }
                else {
                    $('#serviceInfoSelect').html();
                    $('#serviceInfoSelect').find('option').remove();
                    $('#serviceInfoSelect').empty();
                    $('#cdataIdSelect').html();
                    $('#cdataIdSelect').find('option').remove();
                    $('#cdataIdSelect').empty();
                }
            }
        });
    }

    //获取监测因子数据
    function getCDataIds() {
        var infoID = $('#serviceInfoSelect').val();
        //根据支路位置获取监测因子数据
        var whereprs = _.where(sers, { serviceInfoID: infoID });
        if (whereprs.length > 0) {
            cdataIds = [];
            var cds = whereprs[0].environMonitorInsDataObjectDs;
            $('#cdataIdSelect').html();
            $('#cdataIdSelect').find('option').remove();
            $('#cdataIdSelect').empty();
            for (var i = 0; i < cds.length; i++) {
                if (i === 0) {
                    pointerId = cds[0].pointerID;
                }
                cdataIds.push(cds[i].cDataID.toString());
                $('#cdataIdSelect').append($("<option value=\"" + cds[i].serviceID + "\">" + cds[i].cNameT + "</option>"));
            }
            $('#cdataIdSelect option:eq(0)').attr('selected', 'selected');
            //自动获取数据
            getEMos();
        }
        else {
            $('#cdataIdSelect').html();
            $('#cdataIdSelect').find('option').remove();
            $('#cdataIdSelect').empty();
        }
    }

    //绘制历史数据曲线
    function drawhsycw(hsyts, lgnt) {
        var xAs = [];
        for (var i = 0; i < hsyts.length; i++) {
            xAs.push(hsyts[i].dataDateStr);
        }
        var yds = [];
        for (var i = 0; i < hsyts.length; i++) {
            yds.push(hsyts[i].data);
        }
        mycv = echarts.init(document.getElementById('hsytMain'));
        option = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '5%',
                right: '5%'
            },
            legend: {
                data: [lgnt]
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                axisLabel: {
                    rotate: 30,
                    margin: 20
                },
                data: xAs
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} °C'
                }
            },
            series: [
                {
                    name: lgnt,
                    type: 'line',
                    data: yds
                }
            ]
        };
        mycv.setOption(option);
    }

    //绘制实时数据
    function drawcdatarc(insts) {
        $('#instrow').empty();
        for (var i = 0; i < insts.length; i++) {
            var instmodel = insts[i];
            var inst_data = instmodel.data;
            var inst_misc = instmodel.misc;
            var inst_cnamet = instmodel.cNameT;
            var table = ' <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> '
                + '<div style="text-align:center;">'
                + '<h3>' + inst_data + '<span style="font-size:13px;margin-left:5px;">' + inst_misc + '</span></h3>'
                + '<p><h5>' + inst_cnamet + '</h5></p>'
                + '</div>'
                + '</div>';
            $('#instrow').append(table);
        }
    }


    //关闭时间弹窗时
    $('#choose-date .btn-default').on('click',function(){

       $('.datatimeblock').val('1');

        $('.show-date').css({
            display:'none'
        })

    });
    $('#choose-date .close').on('click',function(){

       $('.datatimeblock').val('1');

        $('.show-date').css({
            display:'none'
        })

    });
    //选定时间后
    $('#choose-date .btn-primary').on('click',function(){

        if(!checkedNull('#choose-date')){
            return false;
        }
        var txt1 = $('#choose-date .add-input').eq(0).val();
        var txt2 = $('#choose-date .add-input').eq(1).val();

        var nowDate = getNewDate();

        //if(CompareDate(txt2,nowDate) == true){
        //    myAlter('结束日期不能大于当前日期');
        //    getFocus1( $(this).parents('.modal-header').find('.add-input').eq(1));
        //
        //    return false;
        //};


        if(CompareDate(txt2,txt1) == false){
            myAlter('结束日期必须大于开始日期');
            getFocus1( $(this).parents('.modal-header').find('.add-input').eq(1));

            return false;
        };

        var date = txt1 + '——' + txt2;

        //console.log(date);

        $('.show-date').css({
            display:'inline-block'
        });

        $('.show-date').val(date);

        $('#choose-date').modal('hide');

    });

    $('.show-date').on('focus',function(){

        $('#choose-date').modal('show');
        $('#choose-date input').val('');
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
