<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>驾驶舱</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/iconfont/iconfont.css">
    <link rel="stylesheet" href="../resource/css/userMonitor-1.css">
    <link rel="stylesheet" href="../resource/css/ALLDevice.css">
    <link rel="stylesheet" href="../resource/css/productionOrder.css">
    <link rel="stylesheet" href="css/seal-monitor.css">
    <link rel="stylesheet" href="css/diagnostic.css">
    <!--<link rel="stylesheet" href="../news/css/news.css">-->
    <style>

        .clearfix{
            clear: both;
        }

        .loading-indicator-overlay{
            opacity: 0.3 !important;
        }



    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">

        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container diagnostic-container">

                            <!--一键诊断上方选择-->
                            <div class="top-choose-type-container">

                                <span class="choose-type ">日常诊断(最近30天)</span>

                                <span class="choose-type ">季度诊断(最近90天)</span>

                                <span class="choose-type ">年度诊断(最近300天)</span>

                            </div>

                            <!--下方诊断模块显示-->
                            <div class="bottom-result-container">


                                <div class="specific-result-container">

                                    <h3 class="result-title">供配电系统</h3>

                                    <!--下方诊断结果-->
                                    <div class="bottom-specific-result">



                                    </div>

                                </div>


                                <div class="specific-result-container">

                                    <h3 class="result-title">制冷空调系统</h3>

                                    <!--下方诊断结果-->
                                    <div class="bottom-specific-result">

                                    </div>

                                </div>

                                <div class="specific-result-container">

                                    <h3 class="result-title">动环系统</h3>

                                    <!--下方诊断结果-->
                                    <div class="bottom-specific-result">

                                    </div>

                                </div>

                                <div class="specific-result-container">

                                    <h3 class="result-title">能耗及能效</h3>

                                    <!--下方诊断结果-->
                                    <div class="bottom-specific-result">

                                    </div>

                                </div>

                                <div class="specific-result-container">

                                    <h3 class="result-title">运维管理</h3>

                                    <!--下方诊断结果-->
                                    <div class="bottom-specific-result">

                                    </div>

                                </div>

                                <div class="specific-result-container">

                                    <h3 class="result-title">其他</h3>

                                    <!--下方诊断结果-->
                                    <div class="bottom-specific-result">

                                    </div>

                                </div>

                                <div class="cleaxfix"></div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<!--编辑弹窗-->
<div class="modal fade" id="coldStation-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" style="">
        <div class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">新增</h4>

            </div>
            <div class="modal-body">
                <ul class="condition-query noprint">

                    <li>
                        <label for="">创建日期：</label>
                        <div class="input-blocked">
                            <input type="text" class="datatimeblock min" name="min">
                        </div>

                    </li>

                    <li><label for="">操作人：</label>
                        <div class="input-blocked" id="">
                            <input type="text" class="filterInput operation-people">
                        </div>
                    </li>

                    <li><label for="">关联设备：</label>
                        <div class="input-blocked">
                            <input type="text" class="filterInput equipment">
                        </div>
                    </li>

                    <li><label for="">状态：</label>
                        <div class="input-blocked" id="">
                            <input type="text" class="filterInput state">
                        </div>
                    </li>

                    <li><label for="">事件：</label>
                        <div class="input-blocked" id="">
                            <input type="text" class="filterInput things" style="width:400px">
                        </div>
                    </li>

                    <div class="clearfix"></div>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirm">添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

</div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();

    });

</script>

<script src="../resource/js/commonJsResource.js"></script>
<script src="js/diagnostic.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>