<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>动环监测</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/iconfont/iconfont.css">
    <link rel="stylesheet" href="../resource/css/userMonitor-1.css">
    <link rel="stylesheet" href="css/seal-monitor.css">
    <link href="../resource/css/ALLDevice.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/diagnostic-new.css">
    <style>

    </style>
    <!--<link rel="stylesheet" href="../news/css/news.css">-->
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container"  style="padding-top: 0px !important;">

                            <!--左侧区域-->
                            <div class="content-mian-left " style="padding-right: 0px;">

                                <!--上方信息-->
                                <div class="left-diagram">

                                    <h3 class="top-title left-title1">一键诊断</h3>

                                    <!--上方评分及按钮-->
                                    <div class="top-grade">

                                        <!--左侧评分-->
                                        <div class="left-grade">

                                            <div class="inner-grade">95</div>

                                        </div>

                                        <!--右侧按钮-->
                                        <div class="right-btn">

                                            <h3>上次诊断时间<span class="times">2018年10月11号</span>，建议立即诊断</h3>

                                            <p><span class="diagram-btn">立即诊断</span></p>
                                        </div>

                                        <div class="clearfix"></div>

                                    </div>

                                    <!--下方诊断统计信息-->
                                    <div class="bottom-diagram-message" style="position: relative">

                                        <div>
                                            <select name="" id="" class="top-select">
                                                <option value="0">近10次诊断</option>
                                                <option value="0">近5次诊断</option>
                                                <option value="0">近3次诊断</option>
                                            </select>
                                        </div>

                                        <!--下方echart-->
                                        <div class="legend" style="position: absolute;left:50px;top:55px;">

                                            <span class="patch green" style="background: #31BEA4"></span>
                                            <span>环境问题数量</span>

                                            <span class="patch yellow" style="background: #2A9FD0"></span>
                                            <span>能效问题数量</span>

                                            <span class="patch blue" style="background: #4D7AE1"></span>
                                            <span>供配电问题数量</span>

                                            <span class="patch red" style="background: #8A52E7"></span>
                                            <span>空调问题数量</span>


                                        </div>

                                        <div class="bottom-echart" id="diagram-echart">



                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->


<div id="foot-html"></div>

<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();

    });

</script>
<script src="../resource/js/commonJsResource.js"></script>
<script src="../resource/js/userMonitor.js"></script>
<script src="js/diagnostic-new.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>