<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>能流图</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/iconfont/iconfont.css">
    <link rel="stylesheet" href="../resource/css/userMonitor-1.css">
    <style>
        .left-diagram {
            margin-bottom: 0px;
        }

        #right-container {
            position: absolute;
            left: 0px;
            top: 0;
            width: 800px;
            height: 800px;
            overflow: hidden;
            max-height: 1097px;
        }

        /*.showOrHidden{*/
            /*display: none;*/
        /*}*/

    </style>
    <!--<link rel="stylesheet" href="../news/css/news.css">-->
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">



<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container" style="padding: 0 !important;min-height: 0px !important;">

                            <!--左侧区域-->
                            <div class="content-mian-left col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;padding-left: 0px;">

                                <!--上方流程图-->
                                <div class="left-diagram">

                                    <!-- 右边主体数据部分 -->
                                    <div id="right-container">
                                        <div class="content-main-right" id="content-main-right">
                                            <!--浮动显示的控制按钮-->
                                            <div class="content-ctrls-show" id="content-ctrls">
                                            </div>
                                            <div class="content-menu-hide" id="content-menu">
                                                <button class="btn btn-default" id="monitor-hisdata">历史数据</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->

<div id="foot-html"></div>

<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
        //获取对应流程图
        userMonitor.init();

    });

//    setTimeout(function(){
//        changeTransform('none');
//    },5000);

</script>

<script src="../resource/js/commonJsResource.js"></script>
<script src="../resource/js/userMonitor.js"></script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>