#dateTables tbody tr td {
    height: 48px !important;
    vertical-align: middle;
    text-align: center;
}

#dateTables_info{
    display: none;
}
.month-data{
    width:80px;
    border:none;
    background:none !important;
    text-align: center;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 2px !important;
}
.onClick{
    /*background:#4b78fb !important;*/
}
.prompt{
    color:red;
    font-size:14px;
}

/*新增弹窗样式*/
.gongdanList li {
    width: 300px;
}
.floatLeft {
    float: left;
}
.labels {
    line-height: 30px;
}
.input-blockeds {
    height: 30px;
    border: 1px solid #ccc;
    background: #ffffff;
}
.input-blockeds input {
    line-height: 28px;
    margin-left: 5px;
    margin-right:5px;
    border: none;
    outline: none;
    display: block;
    width: 288px;
    background: #ffffff;
    height: 28px;
}
.floatRight {
    float: right;
}
.colorTip {
    color: #db3d32;
}