<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--DATEPICKER START-->
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css"/>
    <link rel="stylesheet" href="../resource/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <!--DATEPICKER END-->
    <link rel="stylesheet" href="../resource/css/leftBat.css">
    <script src="../resource/js/jquery-1.11.2.js"></script>
    <script src="../resource/js/moment.js"></script>
    <script src="../resource/js/showOrHidden.js"></script>
    <script src="../../../assets/local/scripts/underscore-min.js"></script>
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/themes/darkblue.css" id="style_color" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!--SHOWLOADING START-->
    <link href="../resource/jQuery-showLoading/css/showLoading.css" rel="stylesheet" type="text/css">
    <!--SHOWLOADING END-->
    <link href="css/report.css" rel="stylesheet" type="text/css">
    <link href="../favicon.ico" rel="shortcut icon" />
</head>
<body class="page-header-fixed page-quick-sidebar-over-content">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="./EnergyQueryTotalData.html">
                    <img src="../../../assets/local/img/hq3-small.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="totalTitle"></div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-danger">
                                0
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold">0 </span> 当日报警</h3>
                                <a href="../baojingyujing/warningAlarm-3.html">查看详细</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile">
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a class="logout-page" href="../login.html">
                                    <i class="icon-key"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="theme-panel hidden-xs hidden-sm">
                    <div class="toggler">
                    </div>
                    <div class="toggler-close">
                    </div>
                    <div class="theme-options">
                        <div class="theme-option theme-colors clearfix">
                            <span>
                                配色
                            </span>
                            <ul>
                                <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="默认">
                                </li>
                                <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="蓝黑">
                                </li>
                                <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="蓝色">
                                </li>
                                <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="灰色">
                                </li>
                            </ul>
                        </div>
                        <div class="theme-option">
                            <span>
                                布局
                            </span>
                            <select class="layout-option form-control input-sm">
                                <option value="fluid" selected="selected">平铺</option>
                                <option value="boxed">盒式</option>
                            </select>
                        </div>

                        <div class="theme-option">
                            <span>
                                侧边菜单
                            </span>
                            <select class="sidebar-menu-option form-control input-sm">
                                <option value="accordion" selected="selected">手风琴式</option>
                                <option value="hover">鼠标悬停</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>
                                侧边位置
                            </span>
                            <select class="sidebar-pos-option form-control input-sm">
                                <option value="left" selected="selected">左</option>
                                <option value="right">右</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>
                                底部
                            </span>
                            <select class="page-footer-option form-control input-sm">
                                <option value="fixed">位置固定</option>
                                <option value="default" selected="selected">默认</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3 class="page-title"></h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>

                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                    <div class="showOrHidden"></div>
                    <div class="page-toolbar">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="total-warp">
                            <div id="reportBusy">
                                <div class="row margin-top-20">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-file-excel-o"></i>
                                                时间选择
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10 col-xs-9">
                                                    <div style="float:left;width:60px;margin-left:5px;">
                                                        <select id="eType" class="table-group-action-input form-control">
                                                            <option value="3" selected>日</option>
                                                            <option value="5">月</option>
                                                            <option value="6">年</option>
                                                        </select>
                                                    </div>
                                                    <div style="float:left;width:146px;margin-left:5px;">
                                                        <div class="input-group date form_date reportDT">
                                                            <input id="spDT" class="form-control" size="16" type="text" value="" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-3">
                                                    <a id="exportBtn" class="btn yellow exportBtn" href="javascript:;" style="margin-left:-30px;">
                                                        <i class="glyphicon glyphicon-export"></i>  导出报表
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-file-excel-o"></i>
                                                报表介绍
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <div class="tiles">
                                                        <div id="ztnx" class="tile bg-blue selected">
                                                            <div class="corner">
                                                            </div>
                                                            <div class="check">
                                                            </div>
                                                            <div class="tile-body">
                                                                <i class="fa fa-cloud-download"></i>
                                                            </div>
                                                            <div class="tile-object">
                                                                <div class="name">
                                                                    整体能效
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <div class="tiles">
                                                        <div id="zteb" class="tile bg-blue">
                                                            <div class="corner">
                                                            </div>
                                                            <div class="check">
                                                            </div>
                                                            <div class="tile-body">
                                                                <i class="fa fa-bar-chart-o"></i>
                                                            </div>
                                                            <div class="tile-object">
                                                                <div class="name">
                                                                    电耗报表
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <div class="tiles">
                                                        <div id="ztbr" class="tile bg-blue">
                                                            <div class="corner">
                                                            </div>
                                                            <div class="check">
                                                            </div>
                                                            <div class="tile-body">
                                                                <i class="fa fa-adjust"></i>
                                                            </div>
                                                            <div class="tile-object">
                                                                <div class="name">
                                                                    负荷报表
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <div class="tiles">
                                                        <div id="ztic" class="tile bg-blue">
                                                            <div class="corner">
                                                            </div>
                                                            <div class="check">
                                                            </div>
                                                            <div class="tile-body">
                                                                <i class="fa fa-building-o"></i>
                                                            </div>
                                                            <div class="tile-object">
                                                                <div class="name">
                                                                    能效报表
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <div class="tiles">
                                                        <div id="nxba" class="tile bg-blue">
                                                            <div class="corner">
                                                            </div>
                                                            <div class="check">
                                                            </div>
                                                            <div class="tile-body">
                                                                <i class="fa fa-align-right"></i>
                                                            </div>
                                                            <div class="tile-object">
                                                                <div class="name">
                                                                    能效对标报表
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <div class="tiles">
                                                        <div class="tile bg-grey">
                                                            <div class="corner">
                                                            </div>
                                                            <div class="check">
                                                            </div>
                                                            <div class="tile-body">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                            </div>
                                                            <div class="tile-object">
                                                                <div class="name">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="portlet  light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-file-excel-o"></i>
                                                报表介绍
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row" id="ztnxText" style="display:block;">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="height:290px;">
                                                    <h3 class="left text-left">具体报表反应系统整体能耗能效情况，具体包括以下内容:</h3>
                                                    <br />
                                                    <h4>1、冷站能效数据</h4>
                                                    <h5 style="margin-left:15px;">1.1、整体情况</h5>
                                                    <h5 style="margin-left:15px;">1.2、分享情况</h5>
                                                    <h4>2、冷站能耗数据</h4>
                                                    <h4>3、冷站数据质量</h4>
                                                </div>
                                            </div>
                                            <div class="row" id="ztebText" style="display:none;">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="height:290px;">
                                                    <h3 class="left text-left">电耗报表为电耗抄表应用，具体包括以下内容:</h3>
                                                    <br />
                                                    <h4>1、冷站用电的电费计算</h4>
                                                    <h4>2、冷站设备分项电耗统计</h4>
                                                    <h4>3、冷站单台设备的电耗统计</h4>
                                                </div>
                                            </div>
                                            <div class="row" id="ztbrText" style="display:none;">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="height:290px;">
                                                    <h3 class="left text-left">负荷报表展示冷站冷负荷的分布并进行需求分析，具体包括以下内容:</h3>
                                                    <br />
                                                    <h4>1、冷站整体负荷计算</h4>
                                                    <h4>2、冷站负荷统计,展示负荷权重与对应能效关系</h4>
                                                    <h4>3、冷站负荷分布,展示时间段内的冷量曲线</h4>
                                                </div>
                                            </div>
                                            <div class="row" id="zticText" style="display:none;">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="height:290px;">
                                                    <h3 class="left text-left">能效报表展示冷站能效计算值，具体包括以下内容:</h3>
                                                    <br />
                                                    <h4>1、能效日期,宏观展示能效分布</h4>
                                                    <h4>2、总和分项能效分析,展示系统整体与设备分项的能效计算数据</h4>
                                                </div>
                                            </div>
                                            <div class="row" id="nxbaText" style="display:none;">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="height:290px;">
                                                    <h3 class="left text-left">能效对标分析报表内容:</h3>
                                                    <br />
                                                    <h4>在对冷站能效数据进行统计的同时给出对标标准进行对比,查看冷站水平。</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; Huaqin.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!--SHOWLOADING START-->
    <script src="../resource/jQuery-showLoading/js/jquery/jquery.showLoading.min.js" type="text/javascript"></script>
    <!--SHOWLOADING END-->
    <script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!--DATEPICKER START-->
    <script src="../resource/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
    <!--DATEPICKER END-->
    <script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="../../../assets/local/scripts/BEE.js" type="text/javascript"></script>
    <script src="js/report.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init();
            BEE.init();
            Layout.init();
            Demo.init();
            Report.init();
        });
    </script>
</body>
</html>