<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--DATEPICKER START-->
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="../resource/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.standalone.css" />
    <link rel="stylesheet" href="../resource/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <!--DATEPICKER END-->
    <link rel="stylesheet" href="../resource/css/leftBat.css">
    <script src="../resource/js/jquery-1.11.2.js"></script>
    <script src="../resource/js/moment.js"></script>
    <script src="../resource/js/showOrHidden.js"></script>
    <script src="../../../assets/local/scripts/underscore-min.js"></script>
    <link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/themes/darkblue.css" id="style_color" rel="stylesheet" type="text/css" />
    <link href="../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!--SHOWLOADING START-->
    <link href="../resource/jQuery-showLoading/css/showLoading.css" rel="stylesheet" type="text/css">
    <!--SHOWLOADING END-->
    <link href="css/epgr.css" rel="stylesheet" type="text/css">
    <link href="../favicon.ico" rel="shortcut icon" />
</head>
<body class="page-header-fixed page-quick-sidebar-over-content">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="./EnergyQueryTotalData.html">
                    <img src="../../../assets/local/img/hq3-small.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="totalTitle"></div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" style="background-color:rgba(0,0,0,0);" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                            <div class="username username-hide-on-mobile" style="display:inline-block !important;">
                                <span id="sysuserNT" style="color:#ccc;">马超红</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" style="max-width:150px;">
                            <li>
                                <a id="lgot" class="logout-page" href="javascript:;">
                                    <i class="icon-key"></i> 退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="theme-panel hidden-xs hidden-sm">
                    <div class="toggler">
                    </div>
                    <div class="toggler-close">
                    </div>
                    <div class="theme-options">
                        <div class="theme-option theme-colors clearfix">
                            <span>
                                配色
                            </span>
                            <ul>
                                <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="默认">
                                </li>
                                <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="蓝黑">
                                </li>
                                <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="蓝色">
                                </li>
                                <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="灰色">
                                </li>
                            </ul>
                        </div>
                        <div class="theme-option">
                            <span>
                                布局
                            </span>
                            <select class="layout-option form-control input-sm">
                                <option value="fluid" selected="selected">平铺</option>
                                <option value="boxed">盒式</option>
                            </select>
                        </div>

                        <div class="theme-option">
                            <span>
                                侧边菜单
                            </span>
                            <select class="sidebar-menu-option form-control input-sm">
                                <option value="accordion" selected="selected">手风琴式</option>
                                <option value="hover">鼠标悬停</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>
                                侧边位置
                            </span>
                            <select class="sidebar-pos-option form-control input-sm">
                                <option value="left" selected="selected">左</option>
                                <option value="right">右</option>
                            </select>
                        </div>
                        <div class="theme-option">
                            <span>
                                底部
                            </span>
                            <select class="page-footer-option form-control input-sm">
                                <option value="fixed">位置固定</option>
                                <option value="default" selected="selected">默认</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3 class="page-title"></h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>

                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="total-warp">
                            <div id="epgrBusy">
                                <div class="row margin-top-20">
                                    <div class="col-lg-7 col-md-8 col-sm-9 col-xs-12">
                                        <div class="portlet box yellow">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-area-chart"></i>
                                                    <span id="spanTitle">能源价格设置</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>方案名称</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <input id="priceGroupID" class="form-control" size="16" type="hidden" value="" />
                                                        <input id="priceGroupNT" placeholder="计费方案名称，例如:项目名称_方案名称" class="form-control" size="16" type="text" />
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>开始时段</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <div class="input-group date price_form_date">
                                                            <input id="priceStartDate" placeholder="开始时间段" class="form-control prcgrpDT" size="16" type="text" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>结束时段</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <div class="input-group date price_form_date">
                                                            <input id="priceEndDate" placeholder="结束时间段"
                                                                   class="form-control prcgrpDT"
                                                                   size="16" type="text" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>尖值时段</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <div class="input-group form_date_block">
                                                            <input id="pricestip_id" type="hidden" />
                                                            <input id="pricestip"
                                                                   placeholder="尖值时段，例如:00:00 01:00 02:00 ; 22:00 23:00 ; "
                                                                   class="form-control timeArray"
                                                                   size="16"
                                                                   type="text"
                                                                   value=""
                                                                   readonly="readonly" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default prcDT_tip prcDT" type="button">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>尖值电价</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <input type="text" class="form-control" id="tippriceEV" name="tippriceEV" value="0" placeholder="尖值电价" style="margin-left:0px;width:100px;float:left;" />
                                                        <label class="control-label" style="margin-left:10px;line-height:34px;">元/<span class="Luntil">KWH</span></label>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>峰值时段</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <div class="input-group form_date_block">
                                                            <input id="pricespeak_id" type="hidden" />
                                                            <input id="pricespeak"
                                                                   placeholder="峰值时段，例如:00:00 01:00 02:00 ; 22:00 23:00 ; "
                                                                   class="form-control timeArray"
                                                                   size="16"
                                                                   type="text"
                                                                   value=""
                                                                   readonly="readonly" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default prcDT_peak prcDT" type="button">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>峰值电价</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <input type="text" class="form-control" id="peakpriceEV" name="peakpriceEV" value="0" placeholder="峰值电价" style="margin-left:0px;width:100px;float:left;" />
                                                        <label class="control-label" style="margin-left:10px;line-height:34px;">元/<span class="Luntil">KWH</span></label>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>平值时段</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <div class="input-group form_date_block">
                                                            <input id="pricesflat_id" type="hidden" />
                                                            <input id="pricesflat"
                                                                   placeholder="平值时段，例如:00:00 01:00 02:00 ; 22:00 23:00 ; "
                                                                   class="form-control timeArray"
                                                                   size="16"
                                                                   type="text"
                                                                   value=""
                                                                   readonly="readonly" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default prcDT_flat prcDT" type="button">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>平值电价</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <input type="text" class="form-control" id="equalpriceEV" name="equalpriceEV" value="0" placeholder="平值电价" style="margin-left:0px;width:100px;float:left;" />
                                                        <label class="control-label" style="margin-left:10px;line-height:34px;">元/<span class="Luntil">KWH</span></label>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>谷值时段</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <div class="input-group form_date_block">
                                                            <input id="pricesvalley_id" type="hidden" />
                                                            <input id="pricesvalley"
                                                                   placeholder="谷值时段，例如:00:00 01:00 02:00 ; 22:00 23:00 ; "
                                                                   class="form-control timeArray"
                                                                   size="16"
                                                                   type="text"
                                                                   value=""
                                                                   readonly="readonly" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default prcDT_valley prcDT" type="button">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3">
                                                        <h5>谷值电价</h5>
                                                    </div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <input type="text" class="form-control" id="valleypriceEV" name="valleypriceEV" value="0" placeholder="谷值电价" style="margin-left:0px;width:100px;float:left;" />
                                                        <label class="control-label" style="margin-left:10px;line-height:34px;">元/<span class="Luntil">KWH</span></label>
                                                    </div>
                                                </div>
                                                <div class="row margin-top-10">
                                                    <div class="col-md-3 col-xs-3"></div>
                                                    <div class="col-md-9 col-xs-9">
                                                        <button id="savepriceBtn" type="button" class="btn btn-primary">
                                                            <span id="spanepricecontent">新增电价内容</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="portlet box yellow">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-area-chart"></i>
                                                            <span id="spanTitle">能源价格列表</span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row margin-top-10">
                                                            <div class="col-md-5 col-xs-5">
                                                                <label class="control-label">尖值电价</label>
                                                            </div>
                                                            <div class="col-md-7 col-xs-7">
                                                                <label class="control-label"><span id="spantipE_price">0</span>元/<span class="Luntil">KWH</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <div class="col-md-5 col-xs-5">
                                                                <label class="control-label">峰值电价</label>
                                                            </div>
                                                            <div class="col-md-7 col-xs-7">
                                                                <label class="control-label"><span id="spanpeakE_price">0</span>元/<span class="Luntil">KWH</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <div class="col-md-5 col-xs-5">
                                                                <label class="control-label">平值电价</label>
                                                            </div>
                                                            <div class="col-md-7 col-xs-7">
                                                                <label class="control-label"><span id="spanequalE_price">0</span>元/<span class="Luntil">KWH</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-10">
                                                            <div class="col-md-5 col-xs-5">
                                                                <label class="control-label">谷值电价</label>
                                                            </div>
                                                            <div class="col-md-7 col-xs-7">
                                                                <label class="control-label"><span id="spanvalleyE_price">0</span>元/<span class="Luntil">KWH</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; Huaqin.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <div id="eprBox" class="" style="padding-bottom: 10px;
            background: url('../../../assets/admin/layout/img/beijingkuang.png')no-repeat;
            background-size:300px; z-index: 10000; top: 36px; width: 300px;
            height: auto; position: fixed; right: 107px; display: none;">
        <div style="padding:15px 15px;color:#FFFFFF;margin-top:0px;">
            <div class="row">
                <label class="col-md-4 col-sm-4 col-xs-4 control-label" style="margin-bottom:10px;line-height:34px;color:#333333">单位选择</label>
                <div class="col-md-8 col-sm-8 col-xs-8" style="margin-bottom:10px;">
                    <select name="epr_type" id="epr_type" class="form-control input-small input-inline" style="border:1px solid #4A93BE;border-radius: 5px !important;"></select>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 col-sm-4 col-xs-4 control-label" style="padding:0;text-indent:35px;margin-bottom:10px;line-height:34px;color:#333333">楼宇选择</label>
                <div class="col-md-8 col-sm-8 col-xs-8" style="margin-bottom:10px;">
                    <select name="p_type" id="p_type" class="form-control input-small input-inline" style="border:1px solid #4A93BE;border-radius: 5px !important;"></select>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 col-sm-4 col-xs-4 control-label" style="padding:0;text-indent:35px;margin-bottom:10px;line-height:34px;"></label>
                <div class="col-md-8 col-xs-8 col-xs-8">
                    <button id="goEprBtn" type="submit" class="btn blue pull-left">
                        切换
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!--SHOWLOADING START-->
    <script src="../resource/jQuery-showLoading/js/jquery/jquery.showLoading.min.js" type="text/javascript"></script>
    <!--SHOWLOADING END-->
    <script src="../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!--DATEPICKER START-->
    <script src="../resource/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../resource/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
    <!--DATEPICKER END-->
    <script src="../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="../../../assets/local/scripts/BEE.js" type="text/javascript"></script>
    <script src="js/ESCS.js" type="text/javascript"></script>
    <script src="js/epgr.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init();
            BEE.init();
            Layout.init();
            Demo.init();
            ESCS.init();
            EPGR.init();
        });
    </script>
</body>
</html>