<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>能效分析</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--my css-->
    <link rel="stylesheet" href="../ESCS/css/public.css">

    <style>

        #equipnew-form input~.error{

            color: red;

            width: 100% !important;

            line-height: 30px;

            margin: 0;

            margin-top: 10px;

        }

    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <a href="equip.html" class="btn btn-default yellow"><i class="fa fa-backward" style="color:#ffffff;"></i> 返回设备信息列表</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <i class="fa fa-cogs font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">设备信息管理</span>
                                    </div>
                                    <div class="portlet-body">
                                        <form id="equipnew-form" method="post" class="form-horizontal">

                                            <div id="tip" style="display: none;margin: 6px 0;" class="Metronic-alerts alert alert-danger fade in"><button type="button" class="close"></button><i class="fa-lg fa fa-warning"></i>  </div>

                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">设备标识</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" disabled id="id" name="EquipId" placeholder="设备标识">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">设备编号</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="equipNumber" name="equipNumber" placeholder="设备编号是必填字段">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">设备名称</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="equipName" name="equipName" placeholder="设备名称是必填字段">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">安装位置</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="installPosition" name="InstallPosition" placeholder="安装位置">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">所属系统</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="bySystem" name="BySystem" placeholder="所属系统">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">型号</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="byVersion" name="ByVersion" placeholder="型号">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">性能参数</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="parameter" name="Parameter" placeholder="性能参数">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">品牌</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="brand" name="Brand" placeholder="品牌">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">厂家</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="factory" name="Factory" placeholder="厂家">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">出厂编号</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="serialNumber" name="SerialNumber" placeholder="出厂编号">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">使用状态</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="useState" name="UseState" placeholder="使用状态">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">出厂日期</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <div class="input-group date form_date">
                                                        <input name="ExFactoryDate" id="exFactoryDate" class="form-control equipNewDT" size="16" type="text" value="" aria-invalid="false">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">购入日期</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <div class="input-group date form_date equipNewDT">
                                                        <input id="purchaseDate" name="PurchaseDate" class="form-control" size="16" type="text" value="" aria-invalid="false">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">启用日期</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <div class="input-group date form_date equipNewDT">
                                                        <input id="enableDate" name="EnableDate" class="form-control" size="16" type="text" value="" aria-invalid="false">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">使用年限</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" name="Usefulyears" id="usefulyears" placeholder="使用年限">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">免质保截止日期</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <div class="input-group date form_date equipNewDT">
                                                        <input id="freeQAEndDate" name="FreeQAEndDate" class="form-control" size="16" type="text" value="" aria-invalid="false">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">免质保单位</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="freeQAEnterprise" name="FreeQAEnterprise" placeholder="免质保单位">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">免质保电话</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="freeQAPhoneNumber" name="FreeQAPhoneNumber" placeholder="免质保电话">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">付费截止日期</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <div class="input-group date form_date equipNewDT">
                                                        <input id="payQAEndDate" name="PayQAEndDate" class="form-control" size="16" type="text" value="" aria-invalid="false">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">付费单位</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="payQAEnterprise" name="payQAEnterprise" placeholder="付费单位">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">付费电话</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="payQAPhoneNumber" name="PayQAPhoneNumber" placeholder="付费电话">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">归属部门</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="byDepart" name="ByDepart" placeholder="归属部门">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">归属负责人</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="byLeader" name="ByLeader" placeholder="归属负责人">
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">负责人电话</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="leaderPhoneNumber" name="LeaderPhoneNumber" placeholder="负责人电话">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">绑定设备类型</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <select name="equiptype" id="equiptype" class="form-control">
                                                        <option value="CH">冷机</option>
                                                        <option value="CHW">冷冻泵</option>
                                                        <option value="CW">冷却泵</option>
                                                        <option value="CT">冷却塔</option>
                                                    </select>
                                                </div>
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">绑定设备</label>
                                                <div class="col-md-2 col-sm-2" style="margin-bottom:10px;">
                                                    <select name="bindequipid" id="bindequipid" class="form-control" aria-invalid="false"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">备注</label>
                                                <div class="col-md-10 col-sm-10" style="margin-bottom:10px;">
                                                    <input type="text" class="form-control" id="memo" name="Memo" placeholder="备注">
                                                </div>
                                            </div>
                                            <div class="form-group" style="display:none;">
                                                <label class="col-md-2 col-sm-2 control-label" style="margin-bottom:10px;">楼宇</label>
                                                <div class="col-md-10 col-sm-10" style="margin-bottom:10px;">
                                                    <input type="hidden" class="form-control" name="pId" id="pId" placeholder="楼宇" value="3702803101">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-10 col-sm-10"></div>
                                                <div class="col-md-2 col-sm-2 clear pull-right">

                                                    <a id="saveBtn" class="btn yellow pull-left">
                                                        <i class="fa fa-save"></i> 保存设备数据
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>
<!--所有提示-->
<div class="modal fade" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 168px;">
        <div class="modal-content" style="height: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">请填写红色必填项</div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init(true);
        ESCS.init();
    });

</script>
<!--公共js-->
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->

<script src="../resource/validation/jquery.validate.min.js"></script>

<script src="../resource/validation/messages_zh.min.js"></script>

<script src="../ESCS/js/ESCS.js" type="text/javascript"></script>

<script src="js/equipNew.js" type="text/javascript"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>