<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>负荷比重</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/><meta name="format-detection" content="telephone=no">
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--my css-->
    <link rel="stylesheet" href="../ESCS/css/public.css">

    <link href="css/rate.css" rel="stylesheet" type="text/css">

    <style>

        .page-content{

            background: #ffffff !important;

        }

    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div id="rateBusy">
                            <div class="total-warp L-container">

                                <ul class="L-condition">

                                    <li>
                                        <label>时间</label>
                                        <div class="time-tool-block">
                                            <div class="input-group date form_date rateDT">
                                                <input id="spDT" class="form-control" size="16" type="text" value="" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <!--<li>-->
                                        <!--<label>开始时间</label>-->
                                        <!--<div class="time-tool-block">-->
                                            <!--<div class="input-group date form_date rateDT">-->
                                                <!--<input id="spDT" class="form-control" size="16" type="text" value="" />-->
                                                    <!--<span class="input-group-addon">-->
                                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                                    <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<label>结束时间</label>-->
                                        <!--<div class="time-tool-block">-->
                                            <!--<div class="input-group date form_date rateDT">-->
                                                <!--<input id="epDT" class="form-control" size="16" type="text" value="" />-->
                                                <!--<span class="input-group-addon">-->
                                                    <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->

                                    <li>
                                        <div class="L-condition-button" id="rateBtn">查询数据</div>
                                    </li>


                                    <li>
                                        <div class="L-condition-button" id="exportBtn">导出数据</div>
                                    </li>

                                    <div id="devOption" title="额定负荷量设定" style="cursor: pointer;float: right;margin-top:10px;display:inline-block;color:#3c3c3c;">
                                        <img src="img/shezhi.png" alt="">
                                    </div>

                                </ul>

                                <div class="row margin-top-20">

                                    <div id="rateMain" class="full-height-content-body" style="margin-top:5px;height:700px;"></div>

                                    <span style="margin-left:10%;margin-top:10px;">注:上行为比例区间,下行为冷量区间，冷量单位为KWH</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!--额定负荷量设定-->
<div class="modal fade" id="option-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 500px;">
        <div class="modal-content" style="height: 500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">提示</h4>
            </div>
            <div class="modal-body" style="height: 378px;overflow-y: auto">
                <table id="tableED" class="table table-striped table-advance table-hover">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--操作框-->
<div class="modal fade" id="edit-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 250px;">
        <div class="modal-content" style="height: 250px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">提示</h4>
            </div>
            <div class="modal-body" style="height: 127px;display: flex;">
                <div style="margin: auto;width: 250px;">
                    <label style="margin-right: 10px; ">定额</label>
                    <input type="text"  class="form-control editValue" style="width: 200px;display: inline-block">
                    <div id="tipError" style="text-align: center;color: orangered;line-height: 30px;">请输入大于0的数字</div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--提示框-->
<div class="modal fade" id="tip-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 168px;">
        <div class="modal-content" style="height: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">提示</h4>
            </div>
            <div class="modal-body">请填写红色必填项</div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
        ESCS.init();
        Rate.init();
    });

</script>
<!--公共js-->
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->
<script src="../ESCS/js/ESCS.js" type="text/javascript"></script>

<script src="js/rate.js" type="text/javascript"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>