<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
<!-- END QUICK SIDEBAR -->

<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">

    <div class="page-footer-inner">
        2016 &copy; Huaqin.
    </div>

    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>

</div>


<!--所有提示框-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 168px;">
        <div class="modal-content" style="height: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel2">提示</h4>
            </div>
            <div class="modal-body">请填写红色必填项</div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
