<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->

    <link rel="stylesheet" href="../YHQ-resource/css/public.css">

    <link rel="stylesheet" href="../resource/css/conditionPublic.css">

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div id="compareBusy">
                        <div class="total-warp L-container">

                            <ul class="L-condition">
                                <!--<li>-->
                                    <!--<label>医废名称</label>-->
                                    <!--<input type="text" class="form-control" id="MWName">-->
                                <!--</li>-->

                                <li>
                                    <div class="cont-col1" id="createBtn">
                                        <div class="label label-sm label-warning" style="line-height: 34px;padding: 7px 14px;font-family: 微软雅黑;font-size: 14px;cursor: pointer">
                                            <i class="fa fa-plus" style="margin-right: 2px;"></i>新增
                                        </div>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<div class="L-condition-button" id="selectBtn">查询数据</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div id="resetBtn" class="L-condition-button">重置条件</div>-->
                                <!--</li>-->
                            </ul>

                            <div class="row content-top">
                                <div class="col-md-12 col-sm-12">
                                    <table id="table" class="table table-striped table-advance table-hover">
                                        <thead>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!--创建-->
    <div class="modal fade" id="create-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 379px;width: 830px!important;">
            <div class="modal-content" style="height: 379px;width: 830px!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="overflow-y: auto;height: 257px;">

                    <form class="cmxform" id="commentForm" method="post" action="">

                        <ul class="modal-block">
                            <li>
                                <label>名称：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-balance-name" placeholder="名字是必填字段">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>位置：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-location">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>规格型号：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-size">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>所属班组：</label>
                                <select class="table-group-action-input form-control" id="MW-dep"></select>
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>描述：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-remark" style="width: 650px;">
                                <div class="modal-select"></div>
                            </li>
                        </ul>

                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm" type="submit" value="Submit">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--提示框-->
    <div class="modal fade" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">提示</h4>
                </div>
                <div class="modal-body">请填写红色必填项</div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->

<script src="../resource/validation/jquery.validate.min.js"></script>

<script src="../resource/validation/messages_zh.min.js"></script>

<script src="../YHQ-resource/js/public.js"></script>

<script src="../YHQ-resource/js/YHQ-YF/MWbalance.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>