<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->

    <link rel="stylesheet" href="../resource/css/conditionPublic.css">

    <link rel="stylesheet" href="../YHQ-resource/css/public.css">

    <link rel="stylesheet" href="../YHQ-resource/css/YHQ-YF/MWinstore.css">

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div id="compareBusy">
                        <div class="total-warp L-container">

                            <ul class="L-condition">
                                <li>
                                    <label>医废编号</label>
                                    <input type="text" class="form-control" id="MWNum">
                                </li>
                                <li>
                                    <label>开始时间</label>
                                    <div class="time-tool-block">
                                        <div class="input-group date form_date abbrDT">
                                            <input id="spDT" class="form-control" size="16" type="text" value="" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label>结束时间</label>
                                    <div class="time-tool-block">
                                        <div class="input-group date form_date abbrDT">
                                            <input id="epDT" class="form-control" size="16" type="text" value="" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </li>
                                <li style="position: relative">
                                    <label>科室</label>
                                    <input type="text" class="form-control" id="MWDep" readonly style="background: #ffffff">
                                    <div id="removeDep" class="close"></div>
                                    <div class="modal-select modal-select-show select-dep"></div>
                                </li>
                                <li>
                                    <div class="cont-col1" id="createBtn">
                                        <div class="label label-sm label-warning" style="line-height: 34px;padding: 7px 14px;font-family: 微软雅黑;font-size: 14px;cursor: pointer">
                                            <i class="fa fa-plus" style="margin-right: 2px;"></i>新增
                                        </div>
                                    </div>
                                    <!--<a id="createBtn" class="L-condition-button">新增</a>-->
                                </li>
                                <li>
                                    <div class="L-condition-button" id="selectBtn">查询数据</div>
                                </li>
                                <li>
                                    <div id="resetBtn" class="L-condition-button">重置条件</div>
                                </li>
                            </ul>

                            <div class="row content-top">
                                <div class="col-md-12 col-sm-12">
                                    <table id="table" class="table table-striped table-advance table-hover">
                                        <thead>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!--创建-->
    <div class="modal fade" id="create-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 577px;width: 830px!important;">
            <div class="modal-content" style="height: 577px;width: 830px!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="overflow-y: auto;height: 440px;">

                    <form class="cmxform" id="commentForm" method="post" action="">

                        <ul class="modal-block">
                            <li>
                                <label>医废分类：</label>
                                <select type="text" class="table-group-action-input form-control" id="MW-classify"></select>
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>医废来源：</label>
                                <select type="text" class="table-group-action-input form-control" id="MW-source"></select>
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>科室：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-dep" name="MW-dep" placeholder="科室是必选字段" readonly>
                                <div class="modal-select modal-select-show modal-select-dep"></div>
                            </li>
                            <li>
                                <label>医废处理人：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-person" name="MW-person" placeholder="医废处理人是必填字段" readonly="">
                                <div class="modal-select"></div>
                            </li>
                            <li>
                                <label>运送人：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-carrier" name="MW-carrier" placeholder="运送人是必选字段" readonly>
                                <div class="modal-select modal-select-show modal-select-carrier"></div>
                            </li>
                            <li>
                                <label>称：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-weigh" name="MW-weigh" placeholder="称是必选字段" readonly>
                                <div class="modal-select modal-select-show modal-select-weigh"></div>
                            </li>
                            <li>
                                <label>重量：</label>
                                <input type="text" class="table-group-action-input form-control" id="MW-weighNum" name="MW-weighNum" placeholder="重量是必填字段">
                                <div class="modal-select"></div>
                            </li>
                        </ul>

                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary confirm" type="submit" value="Submit">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--科室-->
    <div class="modal fade" id="dep-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 778px;width: 800px;">
            <div class="modal-content" style="height: 778px;width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 656px;overflow-y: auto">
                    <!--条件-->
                    <ul class="L-condition">
                        <li>
                            <label>编号</label>
                            <input type="text" class="form-control" id="modal-dep-num" >
                        </li>
                        <li>
                            <label>名称</label>
                            <input type="text" class="form-control" id="modal-dep-name" >
                        </li>
                        <li>
                            <div class="L-condition-button" id="modal-select-dep">查询数据</div>
                        </li>
                    </ul>
                    <!--表格-->
                    <table id="dep-table" class="table table-striped table-advance table-hover" cellspacing="0" width="100%">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--条件查询科室-->
    <div class="modal fade" id="dep-Modal-con" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 778px;width: 800px;">
            <div class="modal-content" style="height: 778px;width: 800px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 656px;overflow-y: auto">
                    <!--条件-->
                    <ul class="L-condition">
                        <li>
                            <label>编号</label>
                            <input type="text" class="form-control" id="modal-dep-num-con" >
                        </li>
                        <li>
                            <label>名称</label>
                            <input type="text" class="form-control" id="modal-dep-name-con" >
                        </li>
                        <li>
                            <div class="L-condition-button" id="modal-select-dep-con">查询数据</div>
                        </li>
                    </ul>
                    <!--表格-->
                    <table id="dep-table-con" class="table table-striped table-advance table-hover" cellspacing="0" width="100%">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--运送人-->
    <div class="modal fade" id="carrier-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 778px;width: 800px !important;">
            <div class="modal-content" style="height: 778px;width: 800px !important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 656px;">
                    <!--条件-->
                    <ul class="L-condition">
                        <li>
                            <label>工号</label>
                            <input type="text" class="form-control" id="modal-carrier-num" >
                        </li>
                        <li>
                            <label>姓名</label>
                            <input type="text" class="form-control" id="modal-carrier-name" >
                        </li>
                        <li>
                            <label>部门</label>

                        </li>
                        <li>
                            <div class="L-condition-button" id="modal-select-carrier">查询数据</div>
                        </li>
                    </ul>
                    <table id="carrier-table" class="table table-striped table-advance table-hover" cellspacing="0" width="100%">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--电子秤-->
    <div class="modal fade" id="weigh-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 656px;">
            <div class="modal-content" style="height: 656px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 534px;">

                    <table id="weigh-table" class="table table-striped table-advance table-hover" cellspacing="0" width="100%">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--提示框-->
    <div class="modal fade" id="tip-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">提示</h4>
                </div>
                <div class="modal-body">请填写红色必填项</div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary confirm">确定</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->

<script src="../resource/validation/jquery.validate.min.js"></script>

<script src="../resource/validation/messages_zh.min.js"></script>

<script src="../YHQ-resource/js/public.js"></script>

<script src="../YHQ-resource/js/YHQ-YF/MWcreate.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>