
/*右侧表格中数据的样式*/
.right-navigation .bottom-data-container {
    height: 350px;
}

.bottom-data-container .voltage-table{
    width:100%;
}

.bottom-data-container .voltage-table td{
    color:#757575;
    font-size: 16px;
    padding: 3px;
}

.bottom-data-container .voltage-table td span{

    width:75px;
    height:22px;
    line-height: 22px;
    display: inline-block;
    border:1px dashed #DCDCDC;
    text-align: center;

}

/*左侧下方echart图*/
.bottom-echart-container{

    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 1px;
    z-index: 9999;

}

.left-bottom-content{

    height: 160px;
    width: 25%;
    float: left;

}

.transformer-table td span{

    margin-bottom:10px;
}