/*页面初始样式*/
html {font-size: 62.5%}

p{
    margin-bottom: 0 !important;
}
.toggler{
    display: none;
}

/*日月年*/
.page-bar{
    position: relative;
}

.left-middle-header {
    background: none !important;

    font-size: 18px;

    color: #2B2B2B;

    font-family: MicrosoftYaHei;

    font-weight: normal;

    padding: 10px 0;

    height: auto;
}

.top-system-message ul .date{
    margin-right:10px;
}

.top-system-message ul li{
    float: left;
    height: 40px;
    line-height: 32px;
}

/*头部时间信息 温度湿度信息*/
.top-system-message{
    position: fixed;
    right:15%;
    top:10px;
    overflow: hidden;
    color:#91aece;
}

@media (max-width: 768px){
    .top-system-message {
        position: absolute;
        left:10%;
        top:50px;
        color:white;
        overflow: hidden;
    }

    .top-system-message .temperature {

    }
    .top-system-message .humidity {

       display: none !important;
    }
}

/*医院统计*/
.inside-data .data{

    font-size: 16px !important;

}
/*温度*/
.top-system-message .temperature{
    width:87px;
    height:40px;
    display: inline-block;
    background: url(../../img/wendu.png) no-repeat 42% 5px;
    background-size: 18% 58%;
    text-align: right;
    line-height: 31px
}
/*湿度*/
.top-system-message .humidity{
    width:87px;
    height:40px;
    display: inline-block;
    background: url(../../img/shidu.png) no-repeat 43% 5px;
    background-size: 17% 58%;
    text-align: right;
    line-height: 31px;
}

.carousel-inner .img {
    width: 100%;
    height: auto !important;
    max-height: 240px !important;
    min-height:180px;
}

.top-cut1{

    padding-bottom: 2px;
    margin-bottom: 1px;
    position: absolute;
    right: 45px;
    top: 6px;
}
.top-cut1 li {
    float: left;
    margin-left: 15px;
    font-size: 16px;

}

/*轮播图*/
/*.carousel-control{*/
    /*display: none !important;*/
/*}*/
.carousel-indicators{
    display: none !important;
}

/*全部背景色*/
.total-warp .container{
    /*background: #FBFBFB;*/
}


.wrap {
    border: none !important;
}

/*无边框*/
.content-main-left {
    border: none;
    position: relative;


}

.content-main-left .content-main {
    background: none;
}

/*总面积*/
.inside-data{
    width:30%;
    height:auto;
    color:white !important;
    float:left;
    background: url('../../img/fangzi.png') no-repeat 89% 89%;
    background-color: rgba(98,168,219,1);
    background-size: 30% 30% !important;
    overflow: hidden;
}
.inside-data1{
    margin-left:5%;
    margin-right:5%;
    background: url('../../img/men.png') no-repeat 89% 89%;
    background-color: #33E3B6;
    background-size: 30% 30% !important;
    overflow: hidden;

}
.inside-data2{

    background: url('../../img/chuang.png') no-repeat 89% 89%;
    background-color: rgba(243,130,115,1);
    background-size: 30% 30% !important;
    overflow: hidden;
}

.inside-data p{
    color:white !important;
    padding-left:10px !important;
    font-size:14px;
}

/*能耗统计*/
.left-energy-statistics .energy-data{
    width:100%;
    height:250px;
    color:#959595;
    padding:8px;
    box-sizing: border-box;
}

.left-energy-statistics .energy-data .title{
    font-size: 14px;
}

.left-energy-statistics .energy-data .specific-data{
    width:50%;
    text-align: center;
    float: left;
    overflow: hidden;
}
.left-energy-statistics .energy-data .specific-data .the-data{
    /*font-size:24px;*/
    font-weight: bold;
    font-size: 2.4rem;
}
.left-energy-statistics .energy-data .specific-data .unit{
    font-size:12px;
}

/*底部时间*/
.left-bottom-time .bottom-div{

    height:75px;
    background: #EEEEEE;
    color:#252525;
    text-align: center;
    float: left;
}
.left-bottom-time .left-time{
    width:40%;
    padding-top:15px;
    box-sizing: border-box;
    margin-right:6%;
}
.left-bottom-time .left-time .times{
    font-size:24px;
    font-weight: 500;

}

.left-bottom-time .right-data{
    width:54%;
    box-sizing: border-box;
    height:100%
}

.left-bottom-time .right-data div{
     height:75px;
     width:50%;
    float:left;
    padding-top:50px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}

.left-bottom-time .right-data .left1{
     background: url('../../img/wendu.png') no-repeat center 10px;
     background-size: 25% 52%;
}

.left-bottom-time .right-data .right1{
    background: url('../../img/shidu.png') no-repeat center 10px;
    background-size: 25% 52%;
}

/*-----------------------------------右侧数据--------------------------------*/

/*实时能耗*/
.quota-data-bottom h3 {
    height: 30px;
    line-height: 30px;
    border-bottom: none;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    position: relative;
    padding-left:15px;
    box-sizing: border-box;
}

#energy-demand {
    height: 255px;
    border: none;
    float: left;
    padding: 0;
    background: #FFFFFF;
}

h3 .left-patch{
    display: inline-block;
    width:6px;
    height:18px;
    background: #1d3b61;
    position: absolute;
    left:0;
    top:8px;
}

.onClicks {
    color: #F2285C !important;
}

/*工单统计*/
.real-time-order .top-data{
    width:100%;
    height:54px;
    text-align: center;

}
.real-time-order .top-data .top-data-child{
    width:33%;
    float:left;
}
.real-time-order .top-data .top-data-child .data{
    font-size:20px;
    font-weight: 600;
    margin-bottom:6px !important;
}


.quota-data-bottom{

}

#order-demand{
    height: 200px;
    padding: 0 !important;
}

/*报警数据*/
.content-main-top-right {
    height: 321px !important;
    padding: 15px;
    background: #ffffff;
    margin-top: 15px;
}
.content-main-top-right .new-alarm{
    padding: 14px 0;

    border-bottom: 1px solid #DCDCDC;
}

.new-alarm span{
    margin-left:20px;
}

/*分类能耗*/
.fenleinenghao{
    width:33%;
    padding:0 10px;
    margin-top: 10px!important;
    box-sizing: border-box;
    float: left;
    height: 120px;
    border: none;
    border-right: 1px solid #DCDCDC;
}

.fenleinenghao:nth-last-child(2){

    /*border: none;*/

}

.fenleinenghao .title{
    font-size:14px;
    margin-bottom:10px !important;
    color: #959595;
}

.fenleinenghao .data{
    font-size:26px;
    text-align: center;
    color: #2B2B2B;

}

.fenleinenghao .child{
    float:left;
    width:50%;
    padding-top:64px;
    font-size:14px;
    font-weight: 600;
    text-align: center !important;
}

.fenleinenghao .child1{

    background: url(../../img/zengzhang.png) no-repeat 38% 33%;
    background-size: 26% 36%;
}

.fenleinenghao .child2{

    background: url(../../img/zengzhang.png) no-repeat 38% 33%;
    background-size: 26% 36%;
}

.equal{
    background: url(../../img/tongbi0%25.png) no-repeat 38% 49% !important;
    background-size: 43% 6% !important;
}

.down{

    background: url(../../img/xiajiang.png) no-repeat 38% 33% !important;
    background-size: 26% 36% !important;
}

/*能耗费用*/
#main-right-two {
    height: 180px;
}
#main-right-three {
    height: 180px;
}

/*能耗排名*/
.header-right-btn{
    position: absolute;
    left: 22% !important;
    top: 20px !important;
}

.header-right-btn .cur-on-choose {
    background: none !important;
    color: #F2285C;
}

/*左padding没有*/
.noLeftPadding{

    padding-left: 0;

}
.noRightPadding{

    padding-right: 0;

}

.shadowEffect{

    box-shadow: 10px 10px 10px #eceff1;

    -moz-box-shadow:10px 10px 10px #eceff1;

    -webkit-box-shadow: 10px 10px 10px #eceff1;

    border-radius: 4px !important;

}
.carousel-caption{

    font-size: 16px;

    color: #2B2B2B;

    font-family: Microsoft YaHei;

    text-shadow:none;

    width: auto !important;

    position: relative;

    left: 0;

    padding: 20px;

    background: rgb(249,249,249);
}

#myCarousel{

    background: rgb(249,249,249);

    box-shadow:1px 3px 3px rgba(43,75,99,0.14);

}

.energyElectric{

    color: #69E3C3;
}
.energyWater{

    color: #62A8DB;
    
}

.the-data span{

    font-size: 12px !important;

    color: #959595 !important;

    margin-left: 5px;

    font-weight: normal;

}
.left-middle-main1{

    height: auto;

}
.top-cut li:nth-child(1),.top-cut1 li:nth-child(1){

    border-radius: 4px  0px   0px  4px !important;

    background: #ffffff;

}
.top-cut li:nth-last-child(2),.top-cut1 li:nth-last-child(1){

    border-radius: 0px  4px   4px  0px !important;

}

.top-cut li,.top-cut1 li{

    border: 1px solid #C0CAD6;

}
.top-cut1 li{
    float: left;
    font-size: 16px;
    width: 33px;
    height: 26px;
    background: #C0CAD6;
    text-align: center;
    margin-left: 0;
}
.top-cut li a{

    color: #ffffff;

}
.alarmChildren{

    width: 50%;

    float: left;

}
.alarmType{

    font-size: 14px;

    color: #959595;

}
.alarmIcon{

    width: 143px;

    height: 35px;

    background: green;

}
.alarmNum{

    font-size: 32px;

    height: 55px;

    color: #4C4C4C;

    line-height: 55px;

    text-align: right;

    margin-right: 50px;

}
.alarmTip{

    /*width: 50px;*/

    height: 55px;

    background: yellow;

    float: right;
}
.real-time-energy{

    padding: 15px;

    background: #ffffff;

    margin-top: 15px;

}
.content-main-middle-left{

    padding: 15px;

    background: #ffffff;

    margin-top: 15px;

}
.content-main-middle-center{

    margin-top: 15px;

    padding: 15px;

    background: #ffffff;

}
.content-main-bototm-left{

    background: #ffffff;

    margin-top: 15px;

    padding: 15px;

}

.content-main-bottom-center{

    background: #ffffff;

    margin-top: 15px;

    padding: 15px;

}
.child p{

    font-size: 12px;

    color: #000000;

    font-weight: normal;

}
.child p span{

    margin-left: 5px;

    font-size: 14px;

    font-weight: bold;

}
.page-bar{

    background: #E2E9F2;

}
.header-right-btn span{

    border: 1px solid #C0CAD6;

    margin-right: 0!important;

    display: block;

    float: left;

    border-radius: 0 !important;

    height: 26px;

    font-size: 16px;

    font-family: "Micorsoft Yahei";

    background: #C0CAD6;

    color: #ffffff;

}

.header-right-btn span:nth-child(1){

    border-radius: 4px  0px   0px  4px !important;

}
.header-right-btn span:nth-last-child(1){

    border-radius: 0px  4px   4px  0px !important;

}
.carousel-indicators li{

    width:16px;
    height:6px;
    background:none;
    border-radius: 2px !important;
    border: 1px solid #62A8DB;

}
.carousel-indicators .active{

    width:16px;
    height:6px;
    background:rgba(98,168,219,1);
    border-radius: 2px !important;
    border: 1px solid #62A8DB;
    margin: 1px;
}
.carousel-indicators{

    left: 48%;
    text-indent: 0px;

}
.new-alarm:nth-child(1) .alarmIcon{

    background: url("../../../resource/img/newAlarm.png") no-repeat 0 10px;

}
.new-alarm:nth-child(2) .alarmIcon{

    background: url("../../../resource/img/UntreatedAlarm.png") no-repeat 0 10px;

}
.new-alarm:nth-child(3) .alarmIcon{

    background: url("../../../resource/img/treatedAlarm.png") no-repeat 0 10px;


}
.new-alarm:nth-child(3){

    border-bottom: none;

}
.energy-data>div{

    line-height: 40px;

}

.inside-four{

    width: 25% !important;

    background: #ffffff !important;

    margin: 0 !important;

}

.inside-four p{

    font-size: 14px !important;

    font-family: MicrosoftYaHeiLight !important;

    color:rgba(117,117,117,1) !important;

    text-align: center;

    line-height: 30px;

    height: auto;

}

.inside-four .data{

    font-size:18px !important;

    font-family:MicrosoftYaHei !important;

    color:rgba(76,76,76,1) !important;

    text-align: center !important;

}

.inside-img{

    width: 40px;

    height: 40px;

    margin: 0 auto;

    background: red;

    margin-top: 10px;

}

