<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>

    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--my css-->
    <link rel="stylesheet" href="../resource/css/warningAlarm-2.css">

    <link rel="stylesheet" href="../resource/css/css/assetManagement-1.css">

    <link rel="stylesheet" href="../resource/css/productionOrder.css">

    <link rel="stylesheet" href="../new-resource/css/common.css">

    <style>
        .theHidden{
            display: none;
        }

        .main-contents-header-lists0{
            display: none;
        }

        .detailGD{

            line-height: 26px;

            width: 100%;

        }

        .gdListInfo li{

            margin-bottom: 20px;

        }

        #wrapper{

            padding-top: 20px;

        }

        .datatimeblock{

            width: 95% !important;

            font-size: inherit !important;

            float: none !important;


        }

    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">

                    <div class="total-warp">
                        <div class="wrap">
                            <!-- 标题 -->
                            <!-- 左边选择区域 -->
                            <div class="content-main-left col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <div class="content-main" style="display: none;">
                                    <div class="main-left-middle">
                                        <div class="left-middle-header">对象选择</div>
                                        <div class="left-middle-main">
                                            <div class="left-middle-input">
                                                <div class="left-middle-tab">区域位置</div>
                                            </div>
                                            <div class="tree-1 tree-3"id="tree-2">
                                                <ul class="allPointer ztree" id="allPointer"></ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="content-main">
                                    <div class="left-middle-header">条件选择</div>
                                    <div class="tree-11" style="overflow: hidden;">
                                        <div>报警类型</div>
                                        <ul class="typeSelection ztree" id="typeSelection">
                                        </ul>
                                    </div>
                                    <div class="tree-11" style="overflow: hidden;">
                                        <div>报警等级</div>
                                        <ul class="energyTypes ztree" id="energyTypes">
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="content-main">
                                    <div class="select-times">
                                        <div class="left-middle-header">查询时间</div>
                                        <div id='wrapper'>

                                            <div class="time-options time-options-1">日</div>
                                            <div class="time-options">周</div>
                                            <div class="time-options">月</div>
                                            <div class="time-options">年</div>
                                            <div class="time-options">自定义</div>

                                            <div style="height:100px;">
                                                <div class="start-time-choose choose-time position-center">
                                                    <label for="">选择时间：</label>
                                                    <div class="input-blocked">
                                                        <input type="text" class="datatimeblock min" name="min" id="datetimepicker">
                                                    </div>
                                                </div>
                                                <div class="end-time-choose choose-time">
                                                    <label for="">结束时间：</label>
                                                    <div class="input-blocked">
                                                        <input type="text" class="datatimeblock max" name="max" id="datetimepicker1">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="buttons">

                                                <button class="btn btn-success">查询</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="content-main-contents content-main-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <ul class="content-main-contents-header">
                                    <li class="main-contents-header-lists0">用能报警</li>
                                </ul>
                                <!-- 表格 -->
                                <div class="content-main-contents">
                                    <button title="针对未处理报警进行阅读标识" class="btn btn-success logoToRead" style="float: right">标识阅读</button>
                                    <div class="main-contents-table">
                                        <table id="datatables" class="table table-striped b-t b-light" cellspacing="0" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <img src="../resource/img/loading.gif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <div class="modal fade ui-draggable in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="position: absolute;left: 50%;top:50%;margin-top: -87px;margin-left: -300px">
            <div class="modal-content">
                <div class="modal-header ui-draggable-handle checked">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="margin-bottom: 10px;">报警处理备注</h4>
                    <input type="text" class="modal-body" style="width:100%;">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary submitNote">提交更改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--报警备注信息-->
    <div class="modal fade ui-draggable in" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="position: absolute;left: 50%;top:50%;margin-top: -87px;margin-left: -300px">

            <div class="modal-content">
                <div class="modal-header ui-draggable-handle checked">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    <h4 class="modal-title" id="myModalLabel0" style="margin-bottom: 10px;">报警备注信息</h4>

                    <div class="message">

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!--添加工单-->
    <div class="modal fade" id="Creat-myModa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 572px;width: 1000px !important;">
            <div class="modal-content" style="height: 572px;width: 1000px !important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">创建工单</h4>
                </div>
                <div class="modal-body" style="height: 450px;overflow-y: auto">
                    <!--主体部分-->
                    <ul class="gongdanList" style="width: 630px !important;float: left;">
                        <li class="floatLi" class="gdcodehide" style="display: none;">
                            <div class="labels">工单号：</div>
                            <div class="input-blockeds">
                                <input class="disabled-block auto-fill" id="gdCode" type="text" placeholder="自动生成" disabled="disabled">
                            </div>
                        </li>
                        <li class="floatLi">
                            <div class="labels">设备名称 ：</div>
                            <div class="input-blockeds">
                                <input type="text"id="devMC">
                            </div>
                        </li>
                        <li class="floatLi">
                            <div class="labels">设备编码 ：</div>
                            <div class="input-blockeds">
                                <input type="text" id="devBM">
                            </div>
                        </li>
                        <li class="floatLi">
                            <div class="labels">报修电话 ：</div>
                            <div class="input-blockeds">
                                <input type="text" id="bxTel" id="bxTel">
                            </div>
                        </li>
                        <li class="floatLi">
                            <div class="labels">报修人信息 ：</div>
                            <div class="input-blockeds">
                                <input type="text" id="bxRen">
                            </div>
                        </li>
                        <li class="floatLi">
                            <div class="labels">报修部门：</div>
                            <div class="input-blockeds disabled-block">
                                <input type="text" id="bxSec">
                            </div>
                        </li>
                        <li class="floatLi" style="display: none">
                            <div class="labels">设备系统 ：</div>
                            <div class="input-blockeds disabled-block">
                                <input type="text" id="devSys">
                            </div><!--v-model="matter"-->
                        </li>
                        <li class="floatLi" style="display: none">
                            <div class="labels">设备分类 ：</div>
                            <div class="input-blockeds disabled-block">
                                <input type="text" id="devMatter">
                            </div>
                        </li>
                        <li class="floatLi">
                            <div class="labels colorTip">维修地点 ：</div>
                            <div class="input-blockeds">
                                <input type="text" id="wxAdd">
                            </div>
                        </li>
                        <div class="clearfix"></div>
                        <div>
                            <div class="labels">报修备注：</div>
                            <div class="input-blockeds" style="height:185px;">
                                <textarea id="bxRem" style="width: 100%;height: 183px;outline: none"></textarea>
                            </div>
                        </div>
                    </ul>
                    <!--已创建工单部分-->
                    <div style="width: 300px;float: right;">

                        <div style="font-size: 16px;line-height: 40px;">当前设备未完成工单:<span id="GdNum" style="font-size: 20px;margin-left: 10px;">0</span></div>

                        <ul class="gdListInfo">
                            <li>
                                <label for="">工单号：</label>
                                <a href="">DE18062110590430</a>
                                <div></div>
                                <label for="">详情：</label>
                                <div class="detailGD">
                                    时间：2018-06-21 11:00:00↵支路：F19.1D.LWP49提升泵故障状态↵楼宇名称：南京南高铁站↵报警事件：提升泵故障报警↵报警类型：设备故障↵此时数据：1.00↵报警等级：2
                                </div>
                            </li>
                            <li>
                                <label for="">工单号：</label>
                                <a href="">DE18062110590430</a>
                                <div></div>
                                <label for="">详情：</label>
                                <div class="detailGD">
                                    时间：2018-06-21 11:00:00↵支路：F19.1D.LWP49提升泵故障状态↵楼宇名称：南京南高铁站↵报警事件：提升泵故障报警↵报警类型：设备故障↵此时数据：1.00↵报警等级：2
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary dengji">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--所有提示框-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: 168px;">
            <div class="modal-content" style="height: 168px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">警告</h4>
                </div>
                <div class="modal-body">请填写红色必填项</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm1">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--loading图-->
    <div class='modal fade' id='theLoading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
        <div class='modal-dialog' style='width:92px;height:124px;margin:25% auto;background:url("../bank-resource/img/timg3.gif") no-repeat center center;background-size:80px 80px;background-color:none'>

        </div>
    </div>

</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>


<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init();
    });

</script>
<!--公共js-->
<script src="../resource/js/commonJsResource.js"></script>

<!--my js-->

<script src="../new-resource/js/common.js"></script>

<script src="js/warningAlarm-2.js"></script>


<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>