*{
    box-sizing: border-box;

    font-weight: bold;

    font-size: 12px;

    font-family: "Micorsoft Yahei";
}
.print-block-cel{
    display: block;  border:2px solid #333333;   overflow: hidden;

    font-size: 0;

    /*margin-left: 40px !important;*/
    /*margin-right: 40px !important;*/
    margin-bottom: 0 !important;
    margin-top: 38px !important;

}
.three-block{
    overflow: hidden;font-size: 0;
}
.three-left{
    /*width: 295px !important;*/
    display: inline-block;  overflow: hidden;vertical-align: middle;
}
.row-list{
    width: 100%;  height: 35px;  border-bottom: 2px solid #333333;  overflow: hidden;font-size: 13px;line-height: 35px;
}
.row-three-left{
    display: inline-block;  width: 100px;  border-right: 2px solid #333333;  overflow: hidden;height: 100%;text-indent:10px;
}
.img-block{
    display: inline-block; height: 105px;  border-left: 2px solid #333333;vertical-align: middle;
}
.img-block img{
    width: 100px;  height: 100px;  display: block; margin: 3px
}
.row-three-right{
    display: inline-block;  width: 200px;  height: 100%;  overflow: hidden;text-indent: 10px;line-height: 35px;
}
.noBorder{
    border-bottom: none;
}
.print-block{
    width: 461px;margin: auto;
}
.PageNext{

    page-break-before:always;

}
.print-block-cel{

    zoom:0.6;
    -ms-zoom:0.6;
    -webkit-zoom:0.6;
    -o-zoom:0.6;
    -moz-zoom:0.6;
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 0 !important;
    /*margin-top: 30px !important;*/
}
.print-block-celS{

    margin-top: -20px !important;
}

.print-block-cel{

    padding:10px;

    padding-top: 0;
}

.three-block{

    border: 2px solid #333333;

}

.divide-block{

    font-size: 0 !important;

}

.row-three-right1{

    width: 300px !important;

}

.print-table{

    margin: 0 !important;

    padding: 0 !important;

    padding-top: 10px !important;

}