*{
    box-sizing: border-box;

    font-weight: bold;
}
.print-block-cel{
    display: inline-block;  border:2px solid #333333;  margin: 20px 30px;  overflow: hidden;margin-bottom: 30px;

    margin: 0;margin-left: 50px;font-size: 0;

}
.three-block{
    overflow: hidden;font-size: 0;
}
.three-left{
    width: 244px;  display: inline-block;  overflow: hidden;
}
.row-list{
    width: 100%;  height: 45px;  border-bottom: 2px solid #333333;  overflow: hidden;font-size: 13px;
}
.row-three-left{
    display: inline-block;  width: 80px;  border-right: 2px solid #333333;  overflow: hidden;height: 100%;line-height: 45px;text-indent:10px;
}
.img-block{
    display: inline-block;  width: 135px;  height: 135px;  border-left: 2px solid #333333;
}
.img-block img{
    width: 120px;  height: 120px;  display: block; margin: auto; margin-top: 6px;
}
.row-three-right{
    display: inline-block;  width: 164px;  height: 100%;  overflow: hidden;line-height: 45px;text-indent: 10px;
}
.noBorder{
    border-bottom: none;
}
.print-block{
    width: 461px;margin: auto;
}
.PageNext{

    page-break-before:always;

}