select{
    height: 25px;
}
#scrap-datatables thead th{
    text-align: center;
}
.choiceBlock{

    display: inline-block;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    color: #00a0e9;
    line-height: 20px;
}