<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="css/common.css">
    <style>
        .onOff {
            width: 210px;
            height: 40px;
            padding-right: 12px;
            line-height: 40px;
            cursor: pointer;
            background:url('img/onoff0.png') no-repeat 160px center;
            font-size: 18px;
            box-sizing: border-box;
            text-align: left;
            margin-left: 20px;
        }

        .onOff1 {
            background:url('img/onoff1.png') no-repeat 160px center;
        }

    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content">

<!-- BEGIN HEADER -->
<div id="head-html"></div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="menu-html"></div>

            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <div class="total-warp">
                        <div class="wrap container">

                            <!--上方启用按钮-->

                            <div style="height:15px;"></div>

                            <div id="onOff-people" class="onOff" data-type="0">
                                风水联动是否启用
                            </div>

                            <!--下划线-->
                            <div class="underline"></div>


                            <div class="top-select-container">

                                <!--下方表格-->
                                <div class="bottom-content-container">

                                    <div class="main-contents-table">

                                        <!--上方标题及按钮-->
                                        <p>
                                            <span class="title" style="font-size: 16px">风水联动策略</span>
                                            <button class="btn redact">编辑</button>
                                            <button class="btn sure">确认</button>
                                            <button class="btn cancel">取消</button>
                                        </p>

                                        <table id="scrap-datatables" class="table table-striped   table-hover table-fixation" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>负荷率</th>
                                                <th>冷机运行策略</th>
                                                <th>冷冻水供水温度设定</th>
                                            </tr>
                                            </thead>
                                            <tbody class="scrollbar">

                                            </tbody>

                                        </table>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<div id="foot-html"></div>

<!-- END FOOTER -->
<!-- END FOOTER -->
<script>

    $('#head-html').load('../resource/html/commonHead.html');

    $('#menu-html').load('../resource/html/commonMenu.html');

    $('#foot-html').load('../resource/html/commonFoot.html');

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init(true);
    });

</script>
<script src="../resource/js/commonJsResource.js"></script>

<!--页面js-->
<script src="js/windAndWater.js"></script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>