<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--MY STYLE-->
    <!--引用页面中的公共css-->
    <script src="../resource/js/commonCssResource.js"></script>
    <script src="../resource/plug-in-resource/jquery-1.11.2.js"></script>

    <!--自定义样式-->
    <link rel="stylesheet" href="../resource/css/energyAnalysis-3.css">
    <link rel="stylesheet" href="../new-resource/iconfont/iconfont.css">
    <link rel="stylesheet" href="../njn-resource/css/common.css">
    <link rel="stylesheet" href="../resource/css/userMonitor-1.css">
    <style>
        #right-container{
            opacity: 0.98;
            background: white;
        }

        #content-main-right{
            background: black;
            opacity: 0.9;
        }
        body{
            background: black;
        }

        .content-child-show{
            position: absolute;
            left:0px !important;
            top:0px !important;
            opacity: 0.95;
        }

    </style>
</head>
<body>
<!-- 下方左侧流程图 -->
<div id="right-container">

    <div class="content-main-right" id="content-main-right">

        <!--浮动显示的控制按钮-->
        <div class="content-ctrls-show" id="content-ctrls">

        </div>

        <div class="content-menu-hide" id="content-menu">

            <button class="btn btn-default" id="monitor-hisdata">历史数据</button>

        </div>

    </div>

</div>
<!-- END FOOTER -->
<script src="../resource/js/commonJsResource.js"></script>

<!--自定义js-->
<script src="../resource/js/userMonitor.js"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        BEE.init(true);

        //获取当前流程图宽高
        //获取宽度
        var  curWidth =  window.location.href.split("width=")[1].split("height=")[0];

        //获取屏幕高度
        var curHeight =  window.location.href.split("height=")[1].split("ckId=")[0];

        var postSize = curWidth + "," + curHeight;

        userMonitor.init(postSize,false,1);

//        userMonitor.init();
    });

</script>
</body>
</html>