<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D地图</title>
    <style href="./css/3DMap.css"></style>

</head>
<body>
    <div class="thd-content">
        <div class="ecAll">

        </div>
        <div class="ecOfficeTop5">
        </div>
        <div class="curEC"></div>
        <img id="imageSrc" src=""> <!--原图-->
        <canvas></canvas>   <!--绘制形状的层,绘制形状后控制显示或者隐藏-->
        <img src="">               <!--响应鼠标事件的图-->
        <map>           <!--具体的形状，从配置文件读取-->
            <area>
        </map>
    </div>
</body>
</html>