<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/energyEfficiency-3.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/energyEfficiency-3.js"></script>
    <title>能效分析-机房能效</title>
</head>
<body>
<div class="total-warp">
    <div class="container wrap">
        <!-- 左边选择部分 -->
        <div class="content-main-left">
            <!-- 对象选择 -->
            <div class="content-main content-main-1">
                <div class="main-left-middle">
                    <!-- 标题 -->
                    <div class="left-middle-header">对象选择</div>
                    <!-- 目录 -->
                    <div class="tree tree-2">
                        <ul>
                            <li>
                                <span><i class="icon-minus-sign"></i>机房</span>
                                <ul>
                                    <li>
                                        <span><i class="icon-minus-sign"></i>机房1</span>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i>机房2</span>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i>机房3</span>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i>机房4</span>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i>机房5</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
                            $('.tree li.parent_li > span').on('click', function (e) {
                                var children = $(this).parent('li.parent_li').find(' > ul > li');
                                if (children.is(":visible")) {
                                    children.hide('fast');
                                    $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                                } else {
                                    children.show('fast');
                                    $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                                }
                                e.stopPropagation();
                            });
                        });
                    </script>
                </div>
            </div>
            <!-- 时段选择 -->
            <div class="content-main">
                <!-- 时间插件 -->
                <div class="select-times">
                    <!-- 标题 -->
                    <div class="left-middle-header">时段选择</div>
                    <!-- 时间部分 -->
                    <div id='wrapper'>
                        <!-- 选择下拉框 -->
                        <select class='custom-date' name='select'>
                            <option value='7'>7 Days</option>
                            <option value='30'>30 Days</option>
                            <option selected='selected' value='90'>90 Days</option>
                            <option value='180'>180 Days</option>
                            <option value='365'>365 Days</option>
                            <option value='custom'>Custom</option>
                        </select>
                        <div class="buttons">
                            <button class="btns">APPLY</button>
                        </div>
                    </div>
                </div>
                <script src='select-time/js/jquery.js'></script>
                <script src="select-time/js/index.js"></script>
            </div>
        </div>
        <!-- 右边主体数据 -->
        <div class="content-main-right content-main-right_aa_8">
            <div class="right-content">
                <!-- 标题 -->
                <div class="left-middle-header">
                    <div class="header-one">机房信息1</div>
                    <div class="header-three">2014-01-01-2014-12-30</div>
                </div>
                <!-- 内容 -->
                <div  class="right-top row">
                    <!-- 标题 -->
                    <div class="right-header">机房信息能效比
                        <ul class="right-header-right">
                            <li class="header-right-lists header-right-lists-1">
                            </li>
                            <li class="header-right-lists">单位：kWs</li>
                            <li class="header-right-lists pic-one"></li>
                            <li class="header-right-lists pic-two"></li>
                            <li class="header-right-lists pic-three"></li>
                        </ul>
                    </div>
                    <!-- 机房能效比 -->
                    <div class="boiler-left col-lg-5 boiler-left-1">
                        <div class="computer-left-top">
                            <span>PUE</span>
                            <span>=</span>
                            <span>信息机房整体输入电力</span>
                            <span></span>
                            <span>IT负载所需电力</span>
                            <span>=</span>
                            <span>2.70</span>
                            <ul class="rangeOfCriteria">
                                <li class="range-li-1">
                                    <i class="btn btn-default"></i>
                                    在正常范围之内
                                </li>
                                <li class="range-li-2">
                                    <i class="btn btn-danger"></i>
                                    超出标准范围10%以内
                                </li>
                                <li class="range-li-3">
                                    <i class="btn btn-warning"></i>
                                    超出标准范围10%以上
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 折线图部分 -->
                    <div class="boiler-left col-lg-6 boiler-left-2">
                        <!-- 折线图 -->
                        <div id="rheader-content-52"></div>
                        <!-- 复选框 -->
                        <div class="rheader-content-lis">
                            <ul class="checkButton">
                                <label class="checkbox-inline checkbox-inline-1">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 锅炉效率
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 锅炉风机输送系数
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 锅炉房综合输送系数
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox4" value="option2"> 锅炉房水泵输送系数
                                </label>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>