<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/energyManage-3.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/energyManage-3.js"></script>
    <title>用能管理-定额设定</title>
</head>
<body>
<div class="total-warp">
    <div class="wrap">
        <div class="content-main-contents">
            <!-- 标题 -->
            <ul class="content-main-contents-header">
                <li class="main-contents-header-lists main-contents-header-lists-1">用电定额</li>
                <li class="main-contents-header-lists">用水定额</li>
            </ul>
            <!-- 表格 -->
            <div class="main-contents-table">
                <ul class="main-contents-table-1">
                    <li>编号</li>
                    <li>名称</li>
                    <li class="main-contents-table-1-li">1月</li>
                    <li class="main-contents-table-1-li">2月</li>
                    <li class="main-contents-table-1-li">3月</li>
                    <li class="main-contents-table-1-li">4月</li>
                    <li class="main-contents-table-1-li">5月</li>
                    <li class="main-contents-table-1-li">6月</li>
                    <li class="main-contents-table-1-li">7月</li>
                    <li class="main-contents-table-1-li">8月</li>
                    <li class="main-contents-table-1-li">9月</li>
                    <li class="main-contents-table-1-li">10月</li>
                    <li class="main-contents-table-1-li">11月</li>
                    <li class="main-contents-table-1-li">12月</li>
                </ul>
                <table class="table">
                    <tbody>
                    <tr class="active">
                        <td></td>
                        <td></td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                        <td>电量 kWh</td>
                        <td>电费 元</td>
                    </tr>
                    <tr class="success">
                        <td>1</td>
                        <td>外科楼</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                    </tr>
                    <tr  class="warning">
                        <td>1</td>
                        <td>外科楼</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                    </tr>
                    <tr  class="danger">
                        <td>1</td>
                        <td>外科楼</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                    </tr>
                    <tr class="success">
                        <td>1</td>
                        <td>外科楼</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                    </tr>
                    <tr  class="warning">
                        <td>1</td>
                        <td>外科楼</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                    </tr>
                    <tr  class="danger">
                        <td>1</td>
                        <td>外科楼</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                        <td>9800</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="allBtn">
                    <li class="btn btn-default">全部选择</li>
                    <li class="btn btn-default">全部取消</li>
                    <input type="text"class="form-control">
							<span class="input-group-btn">
			                  <button class="btn btn-default" type="button"style="height:34px;margin-top:16px;">
                                  Go!
                              </button>
			               </span>
                    <li class="btn btn-default btn-default-1">编辑</li>
                    <li class="btn btn-default btn-default-2">删除</li>
                    <li class="btn btn-default btn-default-2">增加</li>
                    <li class="btn btn-default btn-default-2">导入</li>
                    <li class="btn btn-default btn-default-2">导出</li>
                    <li class="btn btn-default btn-default-2">确认</li>
                    <li class="btn btn-default btn-default-2">取消</li>
                </ul>
                <ul class="pagination">
                    <li><a class="pagination-a"href="#">&laquo;</a></li>
                    <li class="active"><a class="pagination-a"href="#">1</a></li>
                    <li class="disabled"><a class="pagination-a"href="#">2</a></li>
                    <li><a class="pagination-a"href="#">3</a></li>
                    <li><a class="pagination-a"href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>