<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用能分析-能耗指标</title>
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./zTree/css/style.css">
	<link rel="stylesheet" href="./css/energyAnalysis-1.css">
	<link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
	<script src="./js/jquery-1.11.2.js"></script>
	<script src="./js/echarts.min.js"></script>
	<script src="./js/energyAnalysis-1.js"></script>
</head>
<body>
	<div class="total-warp">
		<div class="wrap">
			<!-- 左边选择区域 -->
			<div class="content-main-left">
				<!-- 能耗种类选择 -->
				<div class="content-main content-main-1">
					<div class="main-left-top1">
						<!-- 标题 -->
						<div class="left-middle-header">能耗种类</div>
						<!-- 电 -->
						<div class="electricity typee electricity_aa_33">
							<!-- 文字 -->
							<p style="margin-top:50px;text-align:center;">电</p>
						</div>
						<!-- 水 -->
						<div class="typee water water_aa_33">
							<!-- 文字 -->
							<p style="margin-top:50px;text-align:center;">水</p>
						</div>
					</div>
				</div>
				<!-- 对象选择 -->
				<div class="content-main content-main-2">
					<div class="main-left-middle">
						<!-- 标题 -->
						<div class="left-middle-header">对象选择</div>
						<!-- 区域选择按钮 -->
						<div class="left-middle-tab">区域位置</div>
						<!-- 区域位置内容 -->
						<div class="tree tree-2">
							    <ul>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所1</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    		</ul>
							    	</li>
							    </ul>
						</div>
						<script type="text/javascript">
								$(function(){
								    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
								    $('.tree li.parent_li > span').on('click', function (e) {
								        var children = $(this).parent('li.parent_li').find(' > ul > li');
								        if (children.is(":visible")) {
								            children.hide('fast');
								            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
								        } else {
								            children.show('fast');
								            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
								        }
								        e.stopPropagation();
								    });
								});
						</script>
					</div>	
				</div>
				<!-- 时段选择 -->
				<div class="content-main">
					<!-- 时间插件 -->
					<div class="select-times">
						<!-- 标题 -->
						<div class="left-middle-header">时段选择</div>
						<!-- 时间部分 -->
						<div id='wrapper'>
							<!-- 选择下拉框 -->
							<select class='custom-date' name='select'>
								<option value='7'>7 Days</option>
								<option value='30'>30 Days</option>
								<option selected='selected' value='90'>90 Days</option>
								<option value='180'>180 Days</option>
								<option value='365'>365 Days</option>
								<option value='custom'>Custom</option>
							</select>
							<div class="buttons">
								<button class="btns">APPLY</button>
							</div>
							
						</div>
						<!-- 清除浮动结构专用 -->
				  		<div class="clear">
				  		</div>
	  				</div>
	  				<script src='select-time/js/jquery.js'></script>
	 				<script src="select-time/js/index.js"></script>
				</div>
				<!-- 点击隐藏的箭头 -->
				<div class="img"></div>
			</div>
			<!-- 右边主体数据部分 -->
			<div class="content-main-right content-main-right_aa_33">
				<div class="right-content">
					<!-- 标题 -->
					<div class="left-middle-header">
						<div class="header-one">电</div>
						<div class="header-two">外科楼</div>
						<div class="header-three">2014-01-01-2014-12-30</div>
					</div>
					<!-- 用电曲线 -->
					<div  class="right-top container">
						<div class="rheader-content row">
							<!-- 用电曲线折线图部分 -->
							<div class="col-lg-8 ElectricityLineChart">
								<!-- 标题 -->
								<div class="rheader-content-right-header">用电曲线
									<!-- 单位 -->
									<span>单位：kWh</span>
								</div>
								<!-- 用电数据折线图 -->
								<div class="rheader-content-left"id="rheader-content-30">
								</div>
							</div>
							<!-- 分项构成 -->
							<div class="col-lg-4 componentComposition">
								<!-- 标题 -->
								<div class="rheader-content-right-header">分项构成</div>
								<!-- 分项构成饼图 -->
								<div class="rheader-content-right"id="rheader-content-31">
								</div>
							</div>
						</div>
					</div>
					<!-- 电耗指标 -->
					<div  class="right-top container">
						<div class="rheader-content">
							<div class="powerConsumptionIndicators">
								<!-- 标题部分 -->
								<div class="rheader-content-right-header rheader-content-right-header-1">水耗指标
									<!-- 单位选择一 -->
									<span class="water-p water-p-1">单位：ton/床位·年</span>
									<!-- 单位选择二 -->
									<span class="water-p water-p-2">单位：ton/m²·年</span>
								</div>
								<!-- 内容部分 -->
								<div class="rheader-content-left rheader-content-lefts">
									<!-- 标尺 -->
									<div class="right-lefts col-lg-4"id="right-lefts1">
											<div class="ruler_arrow">
												<div class="numerical">192</div>
											</div>
											<ul class="right-lefts1-list">
												<li class="right-lefts1-lists right-lefts1-lists-1">超低</li>
												<li class="right-lefts1-lists right-lefts1-lists-2">较低</li>
												<li class="right-lefts1-lists right-lefts1-lists-3">正常</li>
												<li class="right-lefts1-lists right-lefts1-lists-4">较高</li>
												<li class="right-lefts1-lists right-lefts1-lists-5">超高</li>
											</ul>
									</div>
									<!-- 提示tip -->
									<div class="right-rights col-lg-1">
											<div class="prompt">
												<span class="prompt-word">上一时段<br />
													180	
												</span>
												<span class="prompt-change">6.7%</span>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>