<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
	<link rel="stylesheet" href="./zTree/css/style.css">
	<link rel="stylesheet" href="./css/energyQuery-1.css">
	<link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
	<script src="./js/jquery-1.11.2.js"></script>
	<script src="./js/echarts.min.js"></script>
	<script src="./js/energyQuery.js"></script>
	<title>能耗查询</title>
</head>
<body>
	<div class="total-warp">
		<div class="wrap">
			<!-- 左边选择区域 -->
			<div class="content-main-left">
				<div class="content-main content-main1">
					<div class="main-left-top1">
						<div class="left-middle-header">能耗种类</div>
						<div class="electricity typee electricity_aa_2">
							<p>电</p>
						</div>
						<div class="typee water water_aa_2">
							<p>水</p>
						</div>
					</div>
				</div>
				<div class="content-main content-main2">
					<div class="main-left-middle">
						<div class="left-middle-header">对象选择</div>
						<div class="left-middle-tab left-middle-tab_aa_2 left-middle-tab11">区域位置</div>
						<div class="left-middle-tab left-middle-tab_aa_2 left-middle-tab1">科室单位</div>
						<div class="left-middle-tab left-middle-tab_aa_2 left-middle-tab1">支路</div>
						<div class="tree tree-2 tree-2-1">
							    <ul>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所1</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    		</ul>
							    	</li>
							    </ul>
						</div>
						<div class="tree tree-2 tree-2-2">
							    <ul>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所1</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    		</ul>
							    	</li>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所2</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器3</span>
							    			</li>
							    		</ul>
							    	</li>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所3</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器3</span>
							    			</li>
							    		</ul>
							    	</li>
							    </ul>
						</div>
						<div class="tree tree-2 tree-2-2">
							    <ul>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所1</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    		</ul>
							    	</li>
							    	<li>
							    		<span><i class="icon-folder-open"></i>变电所2</span>
							    		<ul>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器1</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器2</span>
							    			</li>
							    			<li>
							    				<span><i class="icon-minus-sign"></i>变压器3</span>
							    			</li>
							    		</ul>
							    	</li>
							    </ul>
						</div>
						<script type="text/javascript">
								$(function(){
								    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
								    $('.tree li.parent_li > span').on('click', function (e) {
								        var children = $(this).parent('li.parent_li').find(' > ul > li');
								        if (children.is(":visible")) {
								            children.hide('fast');
								            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
								        } else {
								            children.show('fast');
								            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
								        }
								        e.stopPropagation();
								    });
								});
						</script>
					</div>
				</div>
					<!-- 时段选择 -->
				<div class="content-main">
					<!-- 时间插件 -->
					<div class="select-times">
						<!-- 标题 -->
						<div class="left-middle-header">时段选择</div>
						<!-- 时间部分 -->
						<div id='wrapper'>
							<!-- 选择下拉框 -->
							<select class='custom-date' name='select'>
								<option value='7'>7 Days</option>
								<option value='30'>30 Days</option>
								<option selected='selected' value='90'>90 Days</option>
								<option value='180'>180 Days</option>
								<option value='365'>365 Days</option>
								<option value='custom'>Custom</option>
							</select>
							<div class="buttons">
								<button class="btns">APPLY</button>
							</div>

						</div>
						<!-- 清除浮动结构专用 -->
				  		<div class="clear">
				  		</div>
	  				</div>
	  				<script src='select-time/js/jquery.js'></script>
	 				<script src="select-time/js/index.js"></script>
				</div>
			</div>
			<!-- 右边主体数据部分 -->
			<div class="content-main-right content-main-right_aa_2">
				<!-- 标题 -->
				<div class="left-middle-header">
					<div class="header-one">电</div>
					<div class="header-two">外科楼</div>
					<div class="header-three">2014-01-01-2014-12-30</div>
				</div>
				<!-- 用电曲线 -->
				<div  class="right-top">
					<!-- 标题 -->
					<div class="right-header">用电曲线
						<!-- 右边选项 -->
						<ul class="right-header-right">
							<!-- 数据间隔 -->
							<li class="header-right-lists">
								<span>数据间隔：</span>
								<select name="type"class="type">
									<option value="">60min</option>
									<option value=""></option>
								</select>
							</li>
							<!-- 单位 -->
							<li class="header-right-lists">单位：kWs</li>
							<!-- 图一 -->
							<li class="header-right-lists pic-one"></li>
							<!-- 图二 -->
							<li class="header-right-lists pic-two"></li>
							<!-- 图三 -->
							<li class="header-right-lists pic-three"></li>
						</ul>
					</div>
					<!-- 主体部分 -->
					<div class="rheader-content">
						<!-- 用电折线图 -->
						<div class="rheader-content-left"id="rheader-content"></div>
						<!-- 累计耗电tip -->
						<div class="rheader-content-right">
							<div class="rheader-content-rights">
								<!-- 累计耗电标题 -->
								<span class="total-power-consumption">累计耗电</span>
								<!-- 耗电数值 -->
								<span class="total-power-consumption-value">3302.03
									<!-- 单位  -->
									<span class="the-cumulative-power-unit">kWh</span>
								</span>
								<!-- 与上一时段相比 -->
								<span class="compared-with-last-time">上一时段<br />
									3502 kWh
								</span>
								<!-- 上升还是下降的箭头 -->
								<div class="rights-up"></div>
								<!-- 上升或下降的百分比 -->
								<span class="rights-up-value">6.2%</span>
							</div>
						</div>
					</div>
				</div>
				<!-- 用电功率曲线 -->
				<div  class="right-top">
					<!-- 标题 -->
					<div class="right-header">用电曲线
						<!-- 右边选项 -->
						<ul class="right-header-right">
							<!-- 数据间隔 -->
							<li class="header-right-lists">
								<span>数据间隔：</span>
								<select name="type"class="type">
									<option value="">60min</option>
									<option value=""></option>
								</select>
							</li>
							<!-- 单位 -->
							<li class="header-right-lists">单位：kWs</li>
							<!-- 图一 -->
							<li class="header-right-lists pic-one"></li>
							<!-- 图二 -->
							<li class="header-right-lists pic-two"></li>
							<!-- 图三 -->
							<li class="header-right-lists pic-three"></li>
						</ul>
					</div>
					<!-- 主体部分 -->
					<div class="rheader-content">
						<!-- 用电折线图 -->
						<div class="rheader-content-left"id="rheader-content1"></div>
						<!-- 累计耗电tip -->
						<div class="rheader-content-right">
							<div class="rheader-content-rights">
								<!-- 累计耗电标题 -->
								<span class="total-power-consumption">累计耗电</span>
								<!-- 耗电数值 -->
								<span class="total-power-consumption-value">3302.03
									<!-- 单位  -->
									<span class="the-cumulative-power-unit">kWh</span>
								</span>
								<!-- 与上一时段相比 -->
								<span class="compared-with-last-time">上一时段<br />
									3502 kWh
								</span>
								<!-- 上升还是下降的箭头 -->
								<div class="rights-up"></div>
								<!-- 上升或下降的百分比 -->
								<span class="rights-up-value">6.2%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>