<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/EquipmentAanagement-3.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/EquipmentAanagement-3.js"></script>
    <title>设备管理-维修维保记录</title>
</head>
<body>
<div class="total-warp">
    <div class="container wrap">
        <div class="content-main-right row">
            <div class="col-lg-6 singlePage">
                <div class="singlePageContent">
                    <div class="right-header">故障维修录入
                    </div>
                    <ul>
                        <li class="aLine">
                            设备ID&nbsp;
                            <select>
                                <option>100101</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aLine-1 aLine">
                            设备型号&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aLine-1">
                            设备名称&nbsp;
                            <select>
                                <option>内科楼直燃机1</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aLine-1">
                            出厂日期&nbsp;
                            <input type="text" placeholder="2007.03">
                        </li>
                        <li class="aLine-1">
                            设备品牌&nbsp;
                            <input type="text" placeholder="远大">
                        </li>
                        <li class="aLine-1">
                            设备位置&nbsp;
                            <input type="text" placeholder="内科楼冷冻站
								">
                        </li>
                        <li class="aLine-2">
                            本次故障发生时间
                            <input type="text" placeholder="2015.07.03
								">
                        </li>
                        <li class="aLine-2">
                            本次故障情况描述
					            <textarea type="">冷凝器高压报警
							    </textarea>
                        </li>
                        <li class="aLine-3">
                            本次故障排除时间
                            <input type="text" placeholder="2015.07.03
								">
                        </li>
                        <li class="aLine-4">
                            排除故障情况描述
					            <textarea type="" class="">冷却水回水温度偏高，冷凝器压力无法下降。经排查，冷却水管路过滤器堵塞，拆下清洗后重新装上，冷却水流量、温度恢复正常，冷凝器高压报警解除。
							    </textarea>
                        </li>
                        <div class="placeholderBox">
                        </div>
                        <li class="aLine-5">
                            本次故障级别&nbsp;
                            <select class="input-xlarge">
                                <option>中</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aline-6">
                            本次故障级别&nbsp;
                            <select class="input-xlarge">
                                <option>中</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aline-7">
                            维修单位&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-8">
                            负责部门&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            维修负责人&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            部门负责人&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            维修电话&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            维修评价&nbsp;
                            <select>
                                <option>中</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="operatingButton">
                            <button type="button" class="btn btn-success newButton">新建</button>
                            <button type="button" class="btn btn-success editButton">编辑</button>
                            <button type="button" class="btn btn-success theConfirmButton">确认</button>
                            <button type="button" class="btn btn-success cancelButton">取消</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 singlePage">
                <div class="singlePageContent">
                    <div class="right-header">故障维修录入
                    </div>
                    <ul>
                        <li class="aLine">
                            设备ID&nbsp;
                            <select>
                                <option>100101</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aLine-1 aLine">
                            设备型号&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aLine-1">
                            设备名称&nbsp;
                            <select>
                                <option>内科楼直燃机1</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aLine-1">
                            出厂日期&nbsp;
                            <input type="text" placeholder="2007.03">
                        </li>
                        <li class="aLine-1">
                            设备品牌&nbsp;
                            <input type="text" placeholder="远大">
                        </li>
                        <li class="aLine-1">
                            设备位置&nbsp;
                            <input type="text" placeholder="内科楼冷冻站
								">
                        </li>
                        <li class="aLine-2">
                            本次故障发生时间
                            <input type="text" placeholder="2015.07.03
								">
                        </li>
                        <li class="aLine-2">
                            本次故障情况描述
					            <textarea type="">冷凝器高压报警
							    </textarea>
                        </li>
                        <li class="aLine-3">
                            本次故障排除时间
                            <input type="text" placeholder="2015.07.03
								">
                        </li>
                        <li class="aLine-4">
                            排除故障情况描述
					            <textarea type="" class="">冷却水回水温度偏高，冷凝器压力无法下降。经排查，冷却水管路过滤器堵塞，拆下清洗后重新装上，冷却水流量、温度恢复正常，冷凝器高压报警解除。
							    </textarea>
                        </li>
                        <div class="placeholderBox">
                        </div>
                        <li class="aLine-5">
                            本次故障级别&nbsp;
                            <select class="input-xlarge">
                                <option>中</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aline-6">
                            本次故障级别&nbsp;
                            <select class="input-xlarge">
                                <option>中</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="aline-7">
                            维修单位&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-8">
                            负责部门&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            维修负责人&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            部门负责人&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            维修电话&nbsp;
                            <input type="text" placeholder="BZ300BJXDE">
                        </li>
                        <li class="aline-9">
                            维修评价&nbsp;
                            <select>
                                <option>中</option>
                                <option>Your</option>
                                <option>Options</option>
                                <option>Here!</option>
                            </select>
                        </li>
                        <li class="operatingButton">
                            <button type="button" class="btn btn-success newButton">新建</button>
                            <button type="button" class="btn btn-success editButton">编辑</button>
                            <button type="button" class="btn btn-success theConfirmButton">确认</button>
                            <button type="button" class="btn btn-success cancelButton">取消</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>