<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/EquipmentAanagement-2.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/EquipmentAanagement-2.js"></script>
    <title>设备管理-设备维保管理</title>
</head>
<body>
<div class="total-warp">
    <div class="wrap">
        <div class="content-main-right">
            <table class="table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>设备ID</th>
                    <th>设备名称</th>
                    <th>设备类别</th>
                    <th>累计运行小时数/h</th>
                    <th>最近维保时间</th>
                    <th>最近维保内容</th>
                    <th>最近维保级别</th>
                    <th>离下次维保时间</th>
                    <th>下次维保内容</th>
                    <th>下次维保级别</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>1</td>
                    <td>100109
                    </td>
                    <td>冷冻水泵
                    </td>
                    <td>2-水泵
                    </td>
                    <td>200</td>
                    <td>2015.9.12
                    </td>
                    <td>加润滑油
                    </td>
                    <td>小保养
                    </td>
                    <td>再运行50h后</td>
                    <td>更换轴承</td>
                    <td>大保养</td>
                    <td></td>
                </tr>
                <tr class="success">
                    <td>1</td>
                    <td>100109
                    </td>
                    <td>冷冻水泵
                    </td>
                    <td>2-水泵
                    </td>
                    <td>200</td>
                    <td>2015.9.12
                    </td>
                    <td>加润滑油
                    </td>
                    <td>小保养
                    </td>
                    <td>再运行50h后</td>
                    <td>更换轴承</td>
                    <td>大保养</td>
                    <td></td>
                </tr>
                <tr  class="warning">
                    <td>1</td>
                    <td>100109
                    </td>
                    <td>冷冻水泵
                    </td>
                    <td>2-水泵
                    </td>
                    <td>200</td>
                    <td>2015.9.12
                    </td>
                    <td>加润滑油
                    </td>
                    <td>小保养
                    </td>
                    <td>再运行50h后</td>
                    <td>更换轴承</td>
                    <td>大保养</td>
                    <td></td>
                </tr>
                <tr  class="danger">
                    <td>1</td>
                    <td>100109
                    </td>
                    <td>冷冻水泵
                    </td>
                    <td>2-水泵
                    </td>
                    <td>200</td>
                    <td>2015.9.12
                    </td>
                    <td>加润滑油
                    </td>
                    <td>小保养
                    </td>
                    <td>再运行50h后</td>
                    <td>更换轴承</td>
                    <td>大保养</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>