<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/systemManagement-1.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/systemManagement-1.js"></script>
    <title>系统管理-建筑基本信息管理</title>
</head>
<body>
<div class="total-warp">
    <div class="wrap">
        <div class="content-main-right">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>建筑ID</th>
                    <th>建筑名称</th>
                    <th>建筑类别</th>
                    <th>建成年代</th>
                    <th>建筑面积（m2）</th>
                    <th>床位数（个）</th>
                    <th>空调形式</th>
                    <th>空调面积（m2）</th>
                    <th>采暖形式</th>
                    <th>采暖面积（m2）</th>
                    <th>周使用时间</th>
                    <th>日使用时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>100101</td>
                    <td>门诊楼</td>
                    <td>1-门急诊楼</td>
                    <td>1998</td>
                    <td>40000</td>
                    <td>0</td>
                    <td>中央空调</td>
                    <td>37850</td>
                    <td>集中供暖</td>
                    <td>37850</td>
                    <td>周一-周六</td>
                    <td>7:00-17:00</td>
                </tr>
                </tbody>
            </table>
            <ul class="actionButtons">
                <li class="btn btn-default">全部选择</li>
                <li class="btn btn-default">全部取消</li>
                <li>
                    <input type="text">
                </li>
                <li class="btn btn-success">搜索</li>
                <li class="btn btn-success">编辑</li>
                <li class="btn btn-success">删除</li>
                <li class="btn btn-success">增加</li>
                <li class="btn btn-success">导入</li>
                <li class="btn btn-success">导出</li>
                <li class="btn btn-success">确认</li>
                <li class="btn btn-success">取消</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>