<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/systemManagement-2.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/systemManagement-2.js"></script>
    <title>系统管理-节能监督平台信息</title>
</head>
<body>
<div class="total-warp">
    <div class="wrap">
        <div class="content-main-right">
            <ul>
                <li>名称：医院建筑节能监督平台</li>
                <li>版本号：V2.0</li>
                <li>配置要求：</li>
                <li>更新时间：2015.03.01</li>
                <li>版权所有：北京华勤创新软件有限公司
                    All Rights Reserved.</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>