<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
	<link rel="stylesheet" href="./zTree/css/style.css">
	<link rel="stylesheet" href="./css/userMonitor-1.css">
	<link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
	<script src="./js/jquery-1.11.2.js"></script>
	<script src="./js/echarts.min.js"></script>
	<title>用能监测</title>
</head>
<body>
	<div class="total-wrap">

			<!-- 左边选择区域 -->
			<div class="content-main-left">
				<div class="chooseFunction">
					<!--<div class="functions functions-1"></div>-->
					<!--<div class="functions functions-2"></div>-->
					<div class="functions functions-3"></div><!--返回到首页-->
					<div class="functions functions-4"></div><!--刷新当前数据-->
				</div>
				<ul>

				</ul>
			</div>
			<!-- 右边主体数据部分 -->
			<div class="content-main-right" id="content-main-right">
				<div class="content-right" id="monitor-content">

				</div>
			</div>

	</div>
	<script src="../../../assets/local/scripts/underscore-min.js"></script>
	<script src="./js/userMonitor.js"></script>
	<script>
		userMonitor.getUserProcs();
	</script>
</body>
</html>