<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/warningAlarm-3.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/warningAlarm-3.js"></script>
    <title>报警预警-实时报警</title>
</head>
<body>
<div class="total-warp">
    <div class="wrap">
        <div class="content-main-contents">
            <!-- 标题 -->
            <ul class="content-main-contents-header">
                <li class="main-contents-header-lists">实时报警</li>
            </ul>
            <!-- 表格 -->
            <div class="main-contents-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>时间</th>
                        <th>支路</th>
                        <th>单位</th>
                        <th>报警类型</th>
                        <th>报警条件</th>
                        <th>当前数据</th>
                        <th>单位房间</th>
                        <th>报警等级</th>
                        <th>查看</th>
                        <th>阅读选择</th>
                        <th>操作</th>
                        <th>控制选择</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2016.5.21</td>
                        <td>外科急诊3楼温度
                        </td>
                        <td>外科楼</td>
                        <td>环境报警</td>
                        <td>x<16 or x>24
                        </td>
                        <td>27.01
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2016.5.21</td>
                        <td>放射线科</td>
                        <td>医院科室</td>
                        <td>用电量超过实时用能定额20%</td>
                        <td>25%</td>
                        <td>有超定额危险</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2016.5.21</td>
                        <td>放射线科</td>
                        <td>医院科室</td>
                        <td>用电量超过实时用能定额20%</td>
                        <td>25%</td>
                        <td>有超定额危险</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2016.5.21</td>
                        <td>放射线科</td>
                        <td>医院科室</td>
                        <td>用电量超过实时用能定额20%</td>
                        <td>25%</td>
                        <td>有超定额危险</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>