<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./zTree/css/bootstrap.min.css">
    <link rel="stylesheet" href="./zTree/css/style.css">
    <link rel="stylesheet" href="./css/warningAlarm-4.css">
    <link rel="stylesheet" href="select-time/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/warningAlarm-4.js"></script>
    <title>预警报警-预警报警设置</title>
</head>
<body>
<div class="total-warp">
    <div class="container wrap">
        <div class="content-main-right content-main-right_aa_19">
            <div class="right-content">
                <!-- 预警条件设置 -->
                <div  class="right-top">
                    <!-- 标题 -->
                    <div class="right-header">预警条件设置
                        <ul class="right-header-right">
                            <li class="header-right-lists header-right-lists19"style="">电</li>
                            <li class="header-right-lists header-right-lists19 header-right-lists19-1">水</li>
                            <li class="header-right-lists pic-one"></li>
                            <li class="header-right-lists pic-two"></li>
                            <li class="header-right-lists pic-three"></li>
                        </ul>
                    </div>
                    <!-- 内容 -->
                    <div class="rheader-content rheader-content_aa_19 row">
                        <!-- 左 -->
                        <div class="rheader-content-left col-lg-6">
                            <table class="table table-condensed table-1">
                                <tbody>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style=""><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 右 -->
                        <div class="rheader-content-left col-lg-6">
                            <table class="table table-condensed table-1">
                                <tbody>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style=""><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 操作按钮 -->
                        <ul class="actionButtons">
                            <li class="btn btn-primary btn-primary-1">删除</li>
                            <li class="btn btn-primary">确认</li>
                            <li class="btn btn-primary">取消</li>
                        </ul>
                        <!-- 清除浮动 -->
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <!-- 报警条件设置 -->
                <div  class="right-top">
                    <!-- 标题 -->
                    <div class="right-header">预警条件设置
                        <ul class="right-header-right">
                            <li class="header-right-lists header-right-lists19"style="">电</li>
                            <li class="header-right-lists header-right-lists19 header-right-lists19-1">水</li>
                            <li class="header-right-lists pic-one"></li>
                            <li class="header-right-lists pic-two"></li>
                            <li class="header-right-lists pic-three"></li>
                        </ul>
                    </div>
                    <!-- 内容 -->
                    <div class="rheader-content rheader-content_aa_19 row">
                        <!-- 左 -->
                        <div class="rheader-content-left col-lg-6">
                            <table class="table table-condensed table-1">
                                <tbody>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style=""><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 右 -->
                        <div class="rheader-content-left col-lg-6">
                            <table class="table table-condensed table-1">
                                <tbody>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style="padding-top:0px;padding-bottom:0px;padding-left:20px;padding-right:20px;"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"style=""><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdd">年累计用电量≥
                                    </td>
                                    <td class="btn btn-default"><span>130</span>%</td>
                                    <td class="tdd">年累计用电定额
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 操作按钮 -->
                        <ul class="actionButtons">
                            <li class="btn btn-primary btn-primary-1">删除</li>
                            <li class="btn btn-primary">确认</li>
                            <li class="btn btn-primary">取消</li>
                        </ul>
                        <!-- 清除浮动 -->
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>